.block
	.block__container
		.container
			.filter
				.filter__title
					h5 REFINE
				.filter__square
					.filter__title
						h6 REFINE
					.filter__value
						select(placeholder='Brand')
						.filter__mask
							h4 #[.fa.fa-caret-down]
				.filter__square
					.filter__title
						h6 REFINE
					.filter__value
						select(placeholder='Collection')
						.filter__mask
							h4 #[.fa.fa-caret-down]
				.filter__square
					.filter__title
						h6 REFINE
					.filter__value
						select(placeholder='Necklace Style')
						.filter__mask
							h4 #[.fa.fa-caret-down]
				.filter__square
					.filter__title
						h6 REFINE
					.filter__value
						select(placeholder='Metal/Material')
						.filter__mask
							h4 #[.fa.fa-caret-down]
				.filter__square
					.filter__title
						h6 REFINE
					.filter__value
						select(placeholder='Primary Stone')
						.filter__mask
							h4 #[.fa.fa-caret-down]
				.filter__square
					.filter__title
						h6 REFINE
					.filter__value
						select(placeholder='Chain Length')
						.filter__mask
							h4 #[.fa.fa-caret-down]

					//.filter__filter
						.filter__title
							h5 Filter
						input(placeholder='Enter Search')

	//.filter__tags
		.filter__tag(data-ng-show='!vm.state' data-ng-click='vm.changeState()')
			h5 More Options
			//.fa.fa-plus

		.filter__tag(data-ng-show='vm.state' data-ng-click='vm.changeState()')
			h5 Less Options
			//.fa.fa-minus

	//.filter__reset(data-ng-click='vm.reset()')
		h5 #[span Reset] #[.fa.fa-close]

.products
	.products__holder
		.product(data-ng-repeat='product in vm.products | limitTo: 4')
			.product__picture
				//img(src='public/images/product.jpg')

			.product__detail
				.product__title
					h6(data-ng-bind='product.title')

					//.product__jeweller

				//.product__price
					h6 $10,999
					//.product__specs

				//.product__tags
					.product__tag(data-ng-repeat='tag in product.tags')
						h5(data-ng-bind='tag')
