header
	.header
		.header__secondary
			.header__links
				.header__link
					p Custom Order

				.header__link
					p.active John Is The Best

				.header__link
					p Something Special!

				.header__link
					p Sell Your Product

div(data-ui-view='content')