.block
	.block__container
		.container
			.filter
				.filter__square
					.filter__select
						.filter__title
							h5 Type

						.filter__value
							select
							.filter__mask
								h4 #[span.fa.fa-caret-down]

					.filter__select
						.filter__title
							h5 Make

						.filter__value
							select
							.filter__mask
								h4 #[span.fa.fa-caret-down]

					.filter__select.stone
						.filter__title
							h5 Stone

						.filter__value
							select.stone
							.filter__mask.stone
								h4 #[span.fa.fa-caret-down]

					.filter__filter
						.filter__title
							h5 Filter
						input(placeholder='Enter Search')

	//.filter__tags
		.filter__tag(data-ng-show='!vm.state' data-ng-click='vm.changeState()')
			h5 More Options
			//.fa.fa-plus

		.filter__tag(data-ng-show='vm.state' data-ng-click='vm.changeState()')
			h5 Less Options
			//.fa.fa-minus

	//.filter__reset(data-ng-click='vm.reset()')
		h5 #[span Reset] #[.fa.fa-close]

.products
	.products__holder
		.product(data-ng-repeat='product in vm.products | limitTo: 4')
			.product__picture
				img(src='public/images/product.jpg')

			.product__detail
				.product__title
					h6(data-ng-bind='product.title')

					//.product__jeweller

				.product__price
					h6 $10,999
					//.product__specs

				.product__tags
					.product__tag(data-ng-repeat='tag in product.tags')
						h5(data-ng-bind='tag')
