.search
	.search__square
		.search__select
			.search__title
				h5 Type

			.search__value
				select
				.search__mask
					h4 #[span.fa.fa-caret-down]

		.search__select
			.search__title
				h5 Make

			.search__value
				select
				.search__mask
					h4 #[span.fa.fa-caret-down]

		.search__select
			.search__title
				h5 Stone

			.search__value
				select
				.search__mask
					h4 #[span.fa.fa-caret-down]

		.search__filter
			.search__title
				h5 Filter
			input(placeholder='Enter Search')

	//.search__tags
		.search__tag(data-ng-show='!vm.state' data-ng-click='vm.changeState()')
			h5 More Options
			//.fa.fa-plus

		.search__tag(data-ng-show='vm.state' data-ng-click='vm.changeState()')
			h5 Less Options
			//.fa.fa-minus

	//.search__reset(data-ng-click='vm.reset()')
		h5 #[span Reset] #[.fa.fa-close]