.product-view
	width 100%

	&__container
		width 1060px
		padding 20px 20px 0 20px

	&__images
		width 440px
		margin 0 10px 0 0

	&__image
		width 100%
		height 300px
		margin 0 0 10px 0

	&__thumbnails
		height 100px
		padding 0 0 0 15px

	&__thumbnail
		width 100px
		height 100px
		margin 0 15px 0 0

	&__information
		width 340px
		margin 0 10px 0 0

	&__title
		width 230px
		height 80px
		margin 0 0 6px 0

	&__price
		width 110px
		height 50px

	&__share
		width 110px
		height 30px
		margin 0 0 10px 0

	&__icon
		width 30px
		height 30px
		margin 0 0 0 5px

	&__table
		width 100%
		height 120px
		margin 0 0 10px 0

	&__detail
		width 100%
		margin 0 0 10px 0

	&__jeweller
		width 240px
		padding 12px 10px 12px 10px

	&__avatar
		width 76px
		height 76px
		margin 0 7px 19px 0

	&__name
		width 157px
		height 43px
		margin 0 0 10px 0

	&__socials
		width 157px
		height 30px
		margin 0 0 12px 0

	&__social
		width 30px
		height 30px
		margin 0 15px 0 0

	&__description
		width 100%
		height 200px