.designers
	width 100%
	margin 30px 0 0 0

	&__holder
		width 1080px
		height 600px
		margin 0 auto
		padding 0 0 0 20px

	&__square
		width 335px
		padding 10px 0 0 10px
		margin 0 9px 20px 0

	&__profile
		float left
		width 100%
		padding 0
		margin 0 0 7px 0

	&__picture
		width 93px
		padding 0 15px 0 0
		height 138px

		img
			width 100%
			height 136px

	&__details
		width 227px
		padding 0

	&__row
		width 100%
		padding 0
		margin 0 0 5px 0

	&__name
		width 163px

	&__social
		width 22px
		height 22px
		margin 0 10px 0 0

		.fa-facebook
			font-size 20px
			margin 3px 0 0 0

		.fa-instagram
			font-size 25px
			margin 1px 0 0 0

	&__school
		width 218px
		margin 0 0 3px 0

		h5
			width 100%
			font-size 14px
			line-height 18px

		h6
			width 215px
			margin 0 0 0 3px
			font-size 12px
			line-height 18px

	&__specialty
		padding 5px 10px
		margin 0 10px 6px 0

		h3
			font-weight 600
			font-size 14px
			line-height 14px

	&__description
		width 325px
		margin 0 0 10px 0

		p
			font-size 15px
			line-height 18px
.designer
	width 100%

	&__container
		width 1100px
		margin 0 auto

	&__view
		width 1085px
		padding 15px 0 0 15px

	&__images
		width 282px
		margin 0 15px 20px 0

	&__headshot
		width 282px
		height 200px
		margin 0 10px 10px 0

		h4
			width 100%
			margin 0 0 10px 0
			font-size 20px
			line-height 200px

		img
			width 100%

	&__thumbnails
		width 272px
		padding 0 0 0 10px
		height 70px

	&__thumbnail
		width 70px
		height 70px
		margin 0 10px 8px 0

		h4
			width 100%
			font-size 10px
			line-height 70px

	&__information
		width 451px
		padding 10px 0 0 15px
		margin 0 15px 20px 0

	&__name
		width 436px
		margin 0 0 4px 0

		h1
			width 100%
			font-size 27px

	&__quote
		width 436px
		margin 0 0 15px 0

		h3
			width 100%
			font-size 14px
			line-height 20px

	&__socials
		width 436px
		margin 0 0 15px 0

	&__social
		width 92px
		height 45px
		margin 0 11px 0 0

		h6
			width 100%
			font-size 15px
			line-height 45px

	&__biography
		width 436px
		margin 0 0 20px 0

		h5
			width 100%
			font-size 14px
			line-height 22px

	&__certificates
		width 277px
		padding 10px 0 0 15px
		margin 0 0 10px 0

		h1
			width 100%
			margin 0 0 10px 0
			font-size 20px
			line-height 20px

	&__certificate
		width 240px
		padding 5px 10px
		margin 0 0 10px 0

		h4
			width 100%
			font-size 13px
			line-height 20px

		h5
			width 100%
			font-size 12px
			line-height 23px

	&__items
		width 1072px
		padding 0 0 0 28px

	&__item
		width 338px
		height 190px
		margin 0 15px 20px 0

		h4
			width 100%
			font-size 30px
			line-height 190px
