.product-view
	width 100%

	&__container
		width 1060px
		padding 20px 20px 0 20px

	&__images
		width 440px
		margin 0 10px 0 0

	&__image
		width 438px
		height 440px
		margin 0 0 10px 0

	&__thumbnails
		height 100px
		padding 0 0 0 15px

	&__thumbnail
		width 94px
		height 96px
		padding 0 2px
		margin 0 15px 0 0

	&__information
		width 340px
		margin 0 10px 0 0

	&__title
		width 340px
		height 60px
		margin 0

	&__price
		width 170px
		height 35px

	&__share
		width 140px
		height 30px
		padding 0 0 0 30px
		margin 0 0 10px 0

	&__icon
		width 30px
		height 30px
		margin 0 0 0 5px

	&__table
		width 100%
		margin 0 0 10px 0

	&__row
		width 100%
		height 40px

	&__cell
		width 169px
		height 100%

		p
			padding 0
			margin 0
			font-size 16px
			line-height 16px

	&__detail
		width 100%
		margin 0 0 10px 0

	&__jeweller
		width 240px
		padding 12px 10px 12px 10px

	&__avatar
		width 76px
		height 76px
		margin 0 7px 19px 0

	&__name
		width 157px
		height 43px
		margin 0 0 10px 0

	&__socials
		width 157px
		height 30px
		margin 0 0 12px 0

	&__social
		width 30px
		height 30px
		margin 0 15px 0 0

	&__description
		width 230px
		padding 0 5px