.press
	width 1100px
	margin 20px 0 0 0

	&__container
		width 1100px
		margin 0 auto

	&__grid
		float left
		width 1060px
		margin 0 0 0 40px

	&__square
		width 328px
		margin 0 15px 20px 0

	&__square.large
		width 1018px
		margin 0 0 20px 0

	&__image.large
		width 509px
		height 300px
		border-radius 4px 0 0 4px

	&__square.medium
		width 500px
		margin 0 16px 20px 0

	&__detail
		width 318px
		padding 10px 0 10px 10px

	&__detail.large
		width 499px


	&__detail.medium
		width 490px

	&__title
		width 308px
		margin 0 0 7px 0

	&__title.large
		width 489px

	&__title.medium
		width 480px

	&__date
		width 308px
		margin 0 0 10px 0

		h5
			font-size 14px

	&__date.large
		width 489px

	&__date.medium
		width 480px

	&__publication
		width 154px

		h3
			font-size 18px

		h5
			font-size 14px

	&__publication.large
		width 244px

	&__publication.medium
		width 240px

	&__link
		width 27px
		height 27px
		margin 0 0 2px 0

		.fa-link
			font-size 17px
			line-height 28px

	&__icons
		width 154px

	&__icons.large
		width 244px

	&__icons.medium
		width 240px

	&__icon
		margin 0 10px

		.fa-twitter
		.fa-google-plus
		.fa-pinterest-p
		.fa-envelope
			font-size 17px