.press
	width 1100px
	margin 20px 0 0 0

	&__container
		width 1100px
		margin 0 auto

	&__grid
		float left
		width 1060px
		margin 0 0 0 40px

	&__square
		width 328px
		margin 0 15px 20px 0

	&__square.large
		width 1018px
		margin 0 0 20px 0

	&__image.large
		width 509px
		height 300px
		border-radius 4px 0 0 4px

	&__square.medium
		width 500px
		margin 0 16px 20px 0

	&__detail
		width 308px
		padding 15px 10px 0 10px

	&__detail.large
		width 489px

	&__detail.medium
		width 480px

	&__heading
		width 100%
		margin 0 0 15px 0

	&__row
		margin 0 0 15px 0

	&__center
		margin 0 0 4px 0

		h5
			padding 0 8px 6px 8px
			font-size 14px
			line-height 14px

	&__value
		margin 0 0 5px 0

		h4
			font-size 16px
			line-height 16px

	&__icon
		margin 0 3px
		padding 0 7px
		height 24px

		.fa-twitter
		.fa-google-plus
		.fa-pinterest-p
		.fa-envelope
			font-size 15px
			line-height 24px