.top
	float left
	width 824px
	padding 0
	margin 0 0 40px 100px

.about
	float left
	width 964px
	padding 0
	margin 0 0 0 60px

	&__square
		float left
		width 400px
		padding 0 20px
		margin 0 20px 40px 0
		background $white
		border $input-border

	&__row
		float left
		width 100%

		h1
			float left
			width 100%
			padding 0
			margin 0 0 20px 0
			font-size 30px
			line-height 40px
			font-family 'sofia-pro-soft', sans-serif
			font-weight 500
			color $black
			text-align center

		h3
			float left
			width 100%
			padding 0
			margin 0 0 20px 0
			font-size 25px
			line-height 35px
			font-family 'sofia-pro-soft', sans-serif
			font-weight 500
			color $black
			text-align center

		p
			float left
			width 100%
			padding 0
			margin 0 0 20px 0
			font-size 21px
			line-height 31px
			font-family 'lato', sans-serif
			font-weight 400
			color $black
			text-align center

		a
			float left
			width 100%
			padding 0
			margin 0
			font-size 22px
			line-height 32px
			color $black
			text-align center

	&__icon
		float left
		width 83px
		height 83px
		padding 0
		margin -40px 0 32px 158px
		background #ff9
		border $input-border
		border-radius 1000px