.contact
	float left
	width 1004px
	padding 20px
	margin 0

	&__option
		float left
		width 312px
		padding 10px 0
		margin 0 20px 20px 0
		background #ff9
		border $black-border
		border-radius 4px
		text-align center

		h2
			width 100%
			margin 0 0 20px 0

		h3
			width 100%
			margin 0 0 20px 0

		.fa-envelope-square
		.fa-phone-square
			position absolute
			margin -41px 0 0 -145px
			font-size 20px

	&__map
		float left
		width 982px
		height 200px
		background #ebdcd5
		border $black-border
		border-radius 4px
		text-align center

		h1
			width 100%
			line-height 150px