.about
	position relative
	width 1044px
	padding 20px 0 0 0
	margin 0 auto

	&__title
		float left
		width 1024px

		h1
			float left
			width 100%
			padding 0
			margin 0 0 20px 0
			font-size 27px
			line-height 27px
			font-family 'sofia-pro-soft', sans-serif
			font-weight 500
			color $black
			text-align center

	&__stars
		float left
		width 1024px
		margin 0 0 20px 0

		h4
			float left
			width 100%
			padding 0
			margin 0
			font-size 18px
			line-height 18px
			font-family 'sofia-pro-soft', sans-serif
			font-weight 500
			color $black
			text-align center

	&__intro
		float left
		width 1024px

		h2
			float left
			width 100%
			padding 0
			margin 0
			font-size 18px
			line-height 18px
			font-family 'sofia-pro-soft', sans-serif
			font-weight 500
			color $black
			text-align center

	&__testimonials
		position relative
		padding-left 7px
		margin 0 auto
		text-align center

	&__testimonial
		position relative
		width 286px
		padding 20px
		margin 40px 7px 3px 0
		background $white
		border $black-border
		border-radius 4px
		display inline-block
		text-align center

	&__row
		float left
		width 100%

		h3
			float left
			width 100%
			padding 0
			margin 0
			font-size 20px
			line-height 20px
			font-family 'sofia-pro-soft', sans-serif
			font-weight 500
			color $black
			text-align right

		p
			float left
			width 100%
			padding 0
			margin 0 0 10px 0
			font-size 18px
			line-height 28px
			font-family 'lato', sans-serif
			font-weight 400
			color $black
			text-align left

		a
			float left
			width 100%
			padding 0
			margin 0
			font-size 22px
			line-height 32px
			color $black
			text-align center

	&__icon
		float left
		width 83px
		height 83px
		padding 0
		margin -40px 0 32px 158px
		background #ff9
		border $input-border
		border-radius 1000px