header
	position relative
	width 100%
	padding 0
	margin 0
	top 0
	z-index 8888

.header
	position relative
	width 1024px
	padding 0
	margin 0 auto

	&__container
		float left
		width 100%
		margin 0 0 30px 38px
		background $white

	&__logo
		float left
		width 256px
		height 50px
		background #ff9
		text-align center

		p
			float left
			width 100%
			font-size 20px
			line-height 50px

	&__gap
		float left
		width 256px
		height 50px
		background #bcb

	&__navigation
		float left
		width 512px
		background #f2f

	&__tile
		float right
		width 98px
		height 48px
		margin 0 0 0 2px
		border $black-border
		border-radius 4px 4px 0 0
		background $white
		text-align center

		p
			float left
			width 100%
			font-size 20px
			line-height 50px