.jewellers
	float left
	width 1044px
	padding 0
	margin 30px 0 0 0

	&__square
		float left
		width 500px
		height 300px
		padding 0
		margin 0 20px 20px 0
		border $black-border
		border-radius 4px

	&__left
		float left
		width 125px
		height 300px
		display inline-block
		background #f2f2f2

	&__profile
		float left
		width 95px
		padding 10px 15px

	&__picture
		float left
		width 93px
		height 93px
		padding 0
		margin 0
		background $white
		border $black-border
		border-radius 1000px

		img
			width 100%

	&__contact
		float left
		width 95px
		padding 5px 15px

	&__phone
		float left
		width 78px
		height 38px
		padding 0
		margin 0 10px 0 0
		border $black-border
		background $white
		text-align center

		h5
			float left
			width 100%
			font-size 14px
			line-height 38px

	&__email
		float left
		width 93px
		height 38px
		padding 0
		margin 0
		background $white
		border $black-border
		text-align center

	h5
		float left
		width 100%
		font-size 20px
		line-height 38px

	&__certificates
		float left
		width 105px
		padding 15px 10px 0 10px

	&__certificate
		float left
		width 103px
		height 48px
		margin 0 0 15px 0
		background $white
		border $black-border
		text-align center

		h2
			float left
			width 100%
			font-size 18px
			line-height 48px

	&__middle
		float left
		width 375px
		height 150px
		display inline-block

	&__top
		float left
		width 375px
		height 150px
		display inline-block
		background $white

	&__title
		float left
		width 325px
		padding 10px 25px

	&__name
		float left
		width 323px
		height 38px
		text-align left

		h2
			float left
			width 100%
			font-size 20px
			line-height 38px

	&__specialties
		float left
		width 350px
		padding 5px 0 5px 25px

	&__specialty
		float left
		width 155px
		height 28px
		margin 0 10px 10px 0
		border $black-border
		text-align center

		h4
			float left
			width 100%
			font-size 14px
			line-height 28px

	&__bottom
		float left
		width 375px
		height 150px
		display inline-block

	&__intro
		float left
		width 345px
		padding 10px 15px

	&__brief
		float left
		width 345px
		height 108px
		text-align left

		p
			font-size 15px
			line-height 25px

	&__signature
		position absolute
		width 110px
		height 30px
		margin -24px 0 0 244px
		background $black
		border-radius 4px
		text-align center

		h3
			float left
			width 100%
			font-size 16px
			line-height 28px
			font-weight 400
			color $white
.jeweller
	float left
	width 1044px
	padding 0
	margin 30px 0 0 0

	&__view
		float left
		width 1024px
		padding 0
		margin 0 0 0 10px

	&__headshot
		float left
		width 262px
		height 200px
		padding 0
		margin 0 0 20px 0
		background #f2a
		text-align center

		h4
			width 100%
			font-size 20px
			line-height 200px

		img
			float left
			width 100%

	&__thumbnails
		float left
		width 240px
		padding 0 0 0 16px
		margin 20px 0 0 0

	&__thumbnail
		float left
		width 70px
		height 70px
		margin 0 10px 0 0
		background #535
		text-align center

		h4
			float left
			width 100%
			color $white
			font-size 10px
			line-height 70px

	&__information
		float left
		width 500px
		padding 0
		margin 0 0 30px 0
		background #ff9

	&__profile
		float left
		width 480px
		padding 0 0 0 20px
		text-align left

		h1
			float left
			width 100%
			font-size 27px
			line-height 27px

	&__quote
		float left
		width 480px
		padding 0 0 0 20px
		margin 0 0 20px 0
		text-align left

		h3
			float left
			width 100%
			padding 0
			margin 0
			font-size 20px
			line-height 20px

	&__social
		float left
		width 480px
		padding 0 0 0 20px
		margin 0 0 20px 0

		.social
			float left
			width 98px
			height 50px
			margin 0 20px 0 0
			background $white
			border $black-border
			border-radius 4px
			text-align center

			h6
				float left
				width 100%
				padding 0
				margin 0
				font-size 15px
				line-height 50px

	&__biography
		float left
		width 450px
		padding 0 25px
		margin 0 0 20px 0
		text-align left

		h5
			float left
			width 100%
			padding 0
			margin 0
			font-size 14px
			line-height 24px

	&__certificates
		float left
		width 262px
		padding 18px 0 8px 0
		text-align left
		background #3bbd80

		h1
			float left
			padding 0 0 0 10px
			margin 0 0 20px 0
			font-size 20px
			line-height 20px

	&__certificate
		float left
		width 200px
		padding 5px 10px
		margin 0 0 10px 20px
		border $black-border
		border-radius 4px
		background $white
		text-align left

		h4
			float left
			width 100%
			font-size 13px
			line-height 20px

		h5
			float left
			width 100%
			font-size 12px
			line-height 23px

	&__filter
		float left
		width 900px
		height 50px
		margin 0 0 30px 62px
		background $black
		text-align center

		h1
			width 100%
			margin 0

	&__items
		float left
		width 1044px
		padding 0
		margin 0 0 0 10px

	&__item
		float left
		width 328px
		height 190px
		margin 0 20px 20px 0
		background #abcdef
		border-radius 4px
		text-align center

		h4
			float left
			width 100%
			font-size 30px
			line-height 190px
