.custom
	.custom__holder
		.custom__header
			h1 Do you need help?
		.custom__detail
			p We can do anything. We can do anything. We can do anything. We can do anything. We can do anything. We can do anything. We can do anything. We can do anything. We can do anything. We can do anything. We can do anything. We can do anything.
.products
	.products__holder
		.product(data-ng-repeat='product in vm.products | limitTo: 4')
			.product__picture
				img(src='public/images/product.jpg')

			.product__detail
				.product__title
					h6(data-ng-bind='product.title')

					//.product__jeweller
				.product__collection
					h6 COLLECTION

				.product__price
					h6 $10,999
					//.product__specs

				.product__tags
					.product__tag(data-ng-repeat='tag in product.tags')
						h5(data-ng-bind='tag')

.custom
	.custom__holder
		.custom__btn
			h2 For More Custom

		.custom__form
			.custom__squaref
				.custom__title
					h4 Title
				.custom__value
					input

			.custom__squaref.half
				.custom__title
					h4 Title
				.custom__value.half
					input.half

			.custom__squaref.half
				.custom__title
					h4 Title
				.custom__value.half
					select.half

			.custom__squaref
				.custom__title
					h4 Title
				.custom__value
					select

			.custom__squaref
				.custom__title
					h4 Title
				.custom__message
					textarea

			.custom__submit
				h5 SUBMIT