.sub
	.sub__container
		.sub__buttons
			.sub__button(ui-sref='app.public.repair.checking' ui-sref-active='active')
				h6 Checking

			.sub__button(ui-sref='app.public.repair.cleaning' ui-sref-active='active')
				h6 Cleaning

			//.sub__button(ui-sref='app.public.repair.gluing' ui-sref-active='active')
				h6 Gluing

			.sub__button(ui-sref='app.public.repair.refinishing' ui-sref-active='active')
				h6 Refinishing

			.sub__button(ui-sref='app.public.repair.repolishing' ui-sref-active='active')
				h6 Repolishing

			.sub__button(ui-sref='app.public.repair.sizing' ui-sref-active='active')
				h6 Ring Sizing

			.sub__button(ui-sref='app.public.repair.soldering' ui-sref-active='active')
				h6 Soldering

div(data-ui-view='content')