.press-view
	width 667px
	margin 20px 0 0 0

	&__container
		width 667px
		margin 0 auto

	&__heading
		width 627px
		margin 0 0 0 20px

		h1
			font-size 32px

	&__content
		width 605px
		padding 10px
		margin 0 0 15px 20px

		p
			font-size 18px
			line-height 25px

	&__content.article
		width 292px
		margin 0 0 15px 0

	&__video
		width 627px
		height 353px
		margin 0 0 15px 20px

	&__article
		width 298px
		height 200px
		margin 0 15px 15px 20px

	&__details
		margin 0 0 15px 0

	&__center
		margin 0 0 4px 0

		h6
			padding 0 8px 6px 8px
			font-size 16px
			line-height 16px

	&__value
		padding 0 16px
		margin 0 0 5px 0
		height 40px

		h6
			font-size 16px
			line-height 40px

	&__value.icon
		margin 0 0 0 4px
		padding 0 3px

	&__icons
		display inline-block

		.fa-twitter
		.fa-google-plus
		.fa-pinterest-p
		.fa-envelope
			margin 0 4px
			font-size 17px
			line-height 40px

	&__square-large
		display inline-block
		float none
		position relative
		margin 0 7px
		vertical-align top

	&__row-mobile
		display none
