.product-view
	width 100%

	&__container
		width 637px
		padding 20px 15px 0 15px

	&__images
		width 318px
		margin 0 10px 30px 0

	&__image
		width 100%
		height 245px
		margin 0 0 10px 0

	&__thumbnails
		position relative
		display inline-block
		float none
		padding 0 0 0 15px
		text-align center

	&__thumbnail
		float none
		display inline-block
		width 85px
		height 85px
		margin 0 15px 0 0

	&__information
		width 309px
		margin 0 0 10px 0

	&__title
		width 206px
		height 75px

	&__price
		width 103px
		height 50px
		margin 0

	&__share
		width 103px
		height 25px
		margin 0 0 10px 0

	&__icon
		width 25px
		height 25px
		margin 0 0 0 7px

	&__table
		width 100%
		height 120px
		margin 0 0 10px 0

	&__detail
		width 100%
		margin 0 0 10px 0

	&__jeweller
		width 299px
		padding 12px 10px 12px 10px

	&__avatar
		width 80px
		height 80px
		margin 0 12px 19px 0

	&__name
		width 207px
		height 43px
		margin 0 0 10px 0

	&__socials
		width 157px
		height 30px
		margin 0 0 12px 0

	&__social
		width 30px
		height 30px
		margin 0 15px 0 0

	&__description
		width 100%
		height 200px