.contact
	width 100%

	&__holder
		width 647px
		margin 0 auto
		padding 0 0 0 20px

	&__head
		width 627px
		margin 20px 0 25px 0

	&__title
		width 100%

		h1
			margin 0 0 10px 0

	&__heading
		width 567px

		h1
			margin 0 0 10px 0

	&__details
		width 597px
		padding 15px 15px 0 15px
		margin 0 0 15px 0

		h2
			font-size 18px

		.fa
			margin 0 10px 0 0
			font-size 20px

	&__info
		margin 0 0 10px 0

	&__hours
		width 100%

		h5
			margin 0 0 5px 0
			font-size 24px

		h6
			margin 0 0 7px 10px
			font-size 18px

	&__form
		width 597px
		padding 15px 0 15px 30px
		margin 0 0 15px 0

	&__square
		width 567px
		margin 15px 0 0 0

	&__square.input
		width 273px
		margin 15px 20px 0 0

	&__label
		margin 0 0 7px 0

		h6
			font-size 20px

	&__value
		width 100%

		textarea
			width 456px
			height 150px

		input
			padding 0 10px
			width 253px
			height 42px

		select
			width 456px
			height 42px

	&__mask
		width 457px
		height 42px
		margin -42px 0 0 55px

		h4
			width 427px
			padding 0 5px 0 15px
			font-size 16px
			line-height 18px

		.fa-caret-down
			width 10px
			margin 0 10px 0 0
			font-size 17px
			line-height 17px

	&__submit
		width 240px
		height 42px
		margin 15px 0 0 0

		h6
			font-size 20px

	&__map
		width 625px
		height 200px

		h1
			width 100%
			line-height 150px