.press
	width 667px
	margin 20px 0 0 0

	&__container
		width 667px
		margin 0 auto

	&__grid
		float left
		width 647px
		margin 0 0 0 20px

	&__square
		width 304px
		margin 0 14px 20px 0

	&__square.large
		width 625px
		display flex
		align-items center
		margin 0 0 20px 0

	&__image.large
		width 312px
		height 300px
		border-radius 4px 0 0 4px

	&__detail
		width 294px
		padding 10px 0 10px 10px

	&__detail.large
		width 303px
		border-radius 0 4px 4px 0

	&__title
		width 284px
		margin 0 0 7px 0

	&__title.large
		width 293px

	&__date
		width 284px
		margin 0 0 10px 0

		h5
			font-size 14px

	&__date.large
		width 293px

	&__publication
		width 142px

		h3
			font-size 18px

		h5
			font-size 14px

	&__publication.large
		width 147px

	&__link
		width 27px
		height 27px
		margin 0 0 2px 0

		.fa-link
			font-size 17px
			line-height 28px

	&__icons
		width 142px

	&__icons.large
		width 146px

	&__icon
		margin 0 10px

		.fa-twitter
		.fa-google-plus
		.fa-pinterest-p
		.fa-envelope
			font-size 17px