.filter
	width 647px
	margin 0 0 28px 10px

	&__square
		width 625px
		padding 18px 10px 20px 10px
		margin 28px 0 0 0

	&__select
		width 125px
		margin 0 10px 0 0

	&__select.stone
		width 125px
		margin 0 10px 0 0

	&__title
		width 100%
		margin 0 0 10px 0

		h5
			width: 100%
			font-size 18px
			line-height 18px

	&__value
		width 100%

		select
			width 125px
			height 48px
			font-size 22px
			line-height 54px

		select.stone
			width 125px

	&__mask
		width 123px
		height 46px
		margin 1px 1px 0 1px

		h4
			width 100%
			font-size 24px
			line-height 46px

			span
				margin 0 10px 0 0

			.fa-caret-down
				font-size 20px
				line-height 46px

	&__mask.stone
		width 123px

	&__filter
		width 220px

		input
			width: 218px
			height 46px
			font-size 24px
			line-height 46px

	&__tags
		width 100px
		height 20px
		padding 0 0 0 90px

	&__tag
		width 98px
		padding 0 10px
		margin -1px 0 0 0

		h5
			width 100%
			font-size 17px
			line-height 30px

		.fa-plus
			width 20px
			font-size 20px
			line-height 39px

	&__reset
		width 40px
		height 30px
		margin -1px 0 0 31px

		h5
			width 100%
			font-size 16px
			line-height 30px

			span
				width: 38px
				height 30px
				margin -1px 0 0 -10px

			.fa-close
				font-size 20px
				line-height 30px