.contact
	float left
	width 647px
	padding 20px 0 20px 20px
	margin 0

	&__option
		float left
		width 193px
		padding 10px 0
		margin 0 20px 20px 0
		background #ff9
		border $black-border
		border-radius 4px
		text-align center

		h2
			width 100%
			margin 0 0 20px 0
			font-size 20px

		h3
			width 100%
			margin 0 0 20px 0
			font-size 11px

		.fa-envelope-square
		.fa-phone-square
			position absolute
			margin -35px 0 0 -90px
			font-size 20px

	&__map
		float left
		width 625px
		height 200px
		background #ebdcd5
		border $black-border
		border-radius 4px
		text-align center

		h1
			width 100%
			line-height 150px