.product-view
	width 100%

	&__container
		width 637px
		padding 20px 15px 0 15px

	&__images
		width 318px
		margin 0 10px 30px 0

	&__image
		width 316px
		height 318px
		margin 0 0 10px 0

	&__thumbnails
		position relative
		display inline-block
		float none
		padding 0 0 0 15px
		text-align center

	&__thumbnail
		float none
		display inline-block
		width 79px
		height 81px
		padding 0 2px
		margin 0 15px 0 0

	&__information
		width 309px
		margin 0 0 10px 0

	&__title
		width 309px
		height 60px

	&__price
		width 154px
		height 35px
		margin 0

		p
			font-size 23px
			line-height 23px

	&__share
		width 134px
		height 30px
		padding 0 0 0 20px
		margin 0 0 10px 0

	&__icon
		width 30px
		height 30px
		margin 0 0 0 7px

	&__table
		width 308px
		margin 0 0 10px 0

	&__row
		width 100%
		height 40px

	&__cell
		width 153px
		height 100%

		p
			padding 0
			margin 0
			font-size 15px
			line-height 15px

	&__detail
		width 100%
		margin 0 0 10px 0

	&__jeweller
		width 299px
		padding 12px 10px 12px 10px

	&__avatar
		width 80px
		height 80px
		margin 0 12px 19px 0

	&__name
		width 207px
		height 43px
		margin 0 0 10px 0

	&__socials
		width 157px
		height 30px
		margin 0 0 12px 0

	&__social
		width 30px
		height 30px
		margin 0 15px 0 0

	&__description
		width 289px
		padding 0 5px