header
	width 100%

.header
	width 667px
	margin 0 auto 0 auto

	&__nav
		width 637px
		padding 10px 15px

	&__logo
		width 215px
		height 86px
		margin 0

		p
			width 100%
			font-size 20px
			line-height 86px

	&__address
		display block
		float left
		margin 0 0 0 15px

		h6
			float right
			margin 0 0 0 -7px
			display inline-block
			font-family "halyard-micro",sans-serif
			font-weight 600
			font-size 14px
			line-height 20px

	&__empty
		float left
		width 145px
		height 46px
		margin 0 0 10px 15px

		p
			margin 6px 0 0 0
			font-size 15px
			line-height 17px

	&__navigation-icon
		float right
		width 30px
		height 30px
		margin 0 0 0 15px

	&__search-icon
		float right
		width 30px
		height 30px

	&__rows
		width 445px
		height 87px
		margin 0 0 0 20px

	&__row.top
		width 100%
		height 35px
		margin 0 0 9px 0

	&__location
		width 290px
		height 35px

		p
			width 100%
			font-size 16px
			line-height 35px

	&__contact
		width 210px
		height 35px
		margin 0 0 0 15px

		p
			width 100%
			font-size 16px
			line-height 35px

	&__row.bottom
		width 100%
		height 43px

	&__input
		width 310px
		height 41px

		input
			width 260px
			height 100%
			padding 0 0 0 50px

	&__submit
		width 30px
		height 41px
		padding 0 5px

		.fa-search
			font-size 20px
			line-height 20px

	&__tile
		height 43px
		padding 0 16px
		margin 0 12px 0 0

		p
			width 100%
			font-size 17px
			line-height 43px