.press
	width 667px
	margin 20px 0 0 0

	&__container
		width 667px
		margin 0 auto

	&__grid
		float left
		width 647px
		margin 0 0 0 20px

	&__square
		width 304px
		margin 0 14px 20px 0

	&__square.large
		width 625px
		display flex
		align-items center
		margin 0 0 20px 0

	&__image.large
		width 312px
		height 300px
		border-radius 4px 0 0 4px

	&__detail
		width 284px
		padding 15px 10px 0 10px

	&__detail.large
		width 303px
		border-radius 0 4px 4px 0

	&__heading
		width 100%
		margin 0 0 15px 0

	&__row
		margin 0 0 15px 0