.designers
	margin 30px 0 0 0

	&__holder
		width 647px
		height 600px
		margin 0 auto
		padding 0 0 0 20px

	&__square
		width 297px
		padding 10px 0 0 10px
		margin 0 9px 20px 0

	&__profile
		float left
		width 100%
		padding 0
		margin 0 0 7px 0

	&__picture
		width 93px
		padding 0 15px 0 0
		height 138px

		img
			width 100%
			height 136px

	&__details
		width 189px
		padding 0

	&__row
		width 100%
		padding 0
		margin 0 0 5px 0

	&__name
		width 125px

	&__social
		width 22px
		height 22px
		margin 0 10px 0 0

		.fa-facebook
			font-size 20px
			margin 3px 0 0 0

		.fa-instagram
			font-size 25px
			margin 1px 0 0 0

	&__school
		width 179px
		margin 0 0 3px 0

		h5
			width 100%
			font-size 14px
			line-height 18px

		h6
			width 176px
			margin 0 0 0 3px
			font-size 12px
			line-height 18px


	&__specialty
		padding 5px 10px
		margin 0 10px 6px 0

		h3
			font-size 14px
			line-height 14px

	&__description
		width 287px
		margin 0 0 10px 0

		p
			font-size 15px
			line-height 18px

.designer
	float left
	width 100%

	&__container
		width 667px
		margin 0 auto

	&__view
		width 657px
		padding 15px 0 0 10px

	&__images
		width 300px
		margin 0 15px 20px 0

	&__headshot
		width 300px
		height 244px
		margin 0 10px 10px 0

		h4
			width 100%
			margin 0 0 10px 0
			font-size 20px
			line-height 244px

		img
			width 100%

	&__thumbnails
		width 300px
		padding 0
		height 70px

	&__thumbnail
		width 70px
		height 70px
		margin 0 15px 8px 0

		h4
			width 100%
			font-size 10px
			line-height 70px

	&__information
		width 317px
		padding 10px 0 0 15px
		margin 0 0 20px 0

	&__name
		width 302px
		margin 0 0 4px 0

		h1
			width 100%
			font-size 27px

	&__quote
		width 302px
		margin 0 0 15px 0

		h3
			width 100%
			font-size 14px
			line-height 20px

	&__socials
		width 317px
		margin 0 0 15px 0

	&__social
		width 92px
		height 45px
		margin 0 11px 0 0

		h6
			width 100%
			font-size 15px
			line-height 45px

	&__biography
		width 302px
		margin 0 0 20px 0

		h5
			width 100%
			font-size 14px
			line-height 22px

	&__certificates
		width 341px
		padding 10px 0 0 15px
		margin 0 0 10px 0

		h1
			width 100%
			margin 0 0 10px 0
			font-size 20px
			line-height 20px

	&__certificate
		width 303px
		padding 5px 10px
		margin 0 0 10px 0

		h4
			width 100%
			font-size 13px
			line-height 20px

		h5
			width 100%
			font-size 12px
			line-height 23px

	&__items
		width 657px
		padding 0 0 0 10px

	&__item
		width 318px
		margin 0 10px 20px 0

		h4
			width 100%
			font-size 30px
			line-height 190px
