header
	.header__container
		.header__secondary
			.header__links
				.header__link(ui-sref='app.public.service.alteration' ui-sref-active='active')
					h6 Alteration

				.header__link(ui-sref='app.public.service.antique' ui-sref-active='active')
					h6 Antique & Vintage

				.header__link(ui-sref='app.public.service.appraisal' ui-sref-active='active')
					h6 Appraisal

				.header__link(ui-sref='app.public.service.costume' ui-sref-active='active')
					h6 Costume

				.header__link(ui-sref='app.public.service.custom' ui-sref-active='active')
					h6 Custom

				.header__link(ui-sref='app.public.service.engraving' ui-sref-active='active')
					h6 Engraving

div(data-ui-view='content')