.filter
	width 607px
	padding 18px 0 4px 20px
	margin 20px 0 0 20px

	&__square
		width 188px
		margin 0 11px 20px 0

	&__min
	&__max
		width 74px
		margin -8px 0 0 0

		span
			height 28px
			font-size 14px
			line-height 28px

	&__max
		margin -8px 0 0 313px

	&__slider
		float left
		width 387px
		padding: 0
		margin 0

		.ngrs-range-slider
			height 54px
			padding 6px

		.ngrs-range-slider .ngrs-runner
			width 335px
			height 18px

		.ngrs-range-slider .ngrs-join
			top 16px
			height 10px

		.ngrs-range-slider .ngrs-handle
			width 40px
			height 40px

	&__title
		margin: 0 0 16px 0

		h5
			font-size 17px
			line-height 17px

	&__value
		width 100%

		select
			height 54px
			font-size 18px
			line-height 55px

		input
			width 189px
			height 48px
			padding 0 5px
			font-size 18px

	&__mask
		width 188px
		height 51px

		h4
			font-size 18px
			line-height 51px

		.fa-caret-down
			width 24px
			margin 0 10px 0 0
			font-size 20px
			line-height 20px

	&__tags
		width 140px
		margin -3px 0 0 170px

	&__tag
		height: 34px

		h5
			font-size 17px
			line-height 36px

		.fa-plus
			width 20px
			font-size 20px
			line-height 39px

	&__reset
		width 40px
		height 30px
		margin -1px 0 0 31px

		h5
			width 100%
			font-size 16px
			line-height 30px

			span
				width: 38px
				height 30px
				margin -1px 0 0 -10px

			.fa-close
				font-size 20px
				line-height 30px