.main
	float left
	width 100%

	&__holder
		width 667px
		margin 0 auto

	&__spacer
		width 100%
		margin 0 0 30px 0

	&__banner
		width 627px
		height 75px
		padding 0 20px
		margin 0 0 20px 0

		h1
			font-size 27px
			line-height 75px

	&__squares
		width 648px
		padding 0 0 30px 0
		margin 0 0 0 19px

	&__square
		width 265px
		height 390px
		padding 20px 20px 24px 20px
		margin 0 19px 15px 0

		h1
			font-size 24px
			line-height 30px

		p
		li
			font-size 17px
			line-height 25px

.search
	display block
	position absolute
	width 337px
	padding 15px 15px 6px 15px
	margin 127px 0 0 149px
	background $background
	border $black-border
	border-radius 4px
	z-index: 888

	&__title
		float left
		width 100%
		margin 0 0 15px 0
		text-align center

		h2
			width 100%
			margin 0 0 2px 0
			font-family "le-monde-livre-classic-byol",serif
			font-weight 600
			font-size 24px
			line-height 24px

	&__row
		float left
		width 100%
		margin 0 0 15px 0
		text-align center

		h4
			float left
			width 100%
			margin 0 0 7px 0
			font-size 17px
			line-height 17px

		input
			float left
			width 304px
			height 46px
			padding 0 15px
			margin 0
			border $black-border
			border-radius 4px
			font-size 20px
			line-height 46px
			text-align left

	button.submit
		float left
		width 334px
		padding 14px 0
		margin 0
		border $black-border
		border-radius 4px
		background $accent

		h5
			float left
			width 100%
			font-size 18px
			line-height 18px
			color $white
			text-align center