.products
	width 100%

.product
	width 303px
	margin 0 19px 15px 0

	&__image
		width 203px
		margin 0 0 0 50px

	&__detail
		padding 10px 0 8px 0

		h6
			font-size 15px
			line-height 15px

	&__title
		margin 0 0 14px 0

		h6
			width 257px
			padding 0 8px 4px 8px
			font-size 18px

	//&__collection
	//	width 100px
	//	margin 0 0 12px 0
	//
	//	h6
	//		font-size 14px
	//		line-height 20px

	&__tags
		width 100%

	&__tag
		padding 3px 4px
		margin 0 5px 7px 0

		h5
			font-size 12px
			line-height 12px

	//&__unnamed
	//	width 50px
	//	height 25px
	//	margin 7px 0 0 240px
	//
	//	h6
	//		line-height 25px

	&__picture
		width 40px
		margin 0 10px 0 0

	&__name
		width 153px
		margin 0 10px 0 0

		h5
			font-size 14px
			line-height 15px

	&__price
		width 50px

		h6
			font-size 14px
			line-height 30px