.press
	width 768px
	margin 20px 0 0 0

	&__container
		width 768px
		margin 0 auto

	&__grid
		float left
		width 743px
		margin 0 0 0 25px

	&__square
		width 350px
		margin 0 14px 20px 0

	&__square.large
		width 716px
		margin 0 0 20px 0

	&__image.large
		width 358px
		height 300px
		border-radius 4px 0 0 4px

	&__detail
		width 330px
		padding 15px 10px 0 10px

	&__detail.large
		width 338px

	&__heading
		width 100%
		margin 0 0 15px 0

	&__row
		margin 0 0 15px 0

	&__center
		margin 0 0 4px 0

		h5
			padding 0 8px 6px 8px
			font-size 14px
			line-height 14px

	&__value
		margin 0 0 5px 0

		h4
			font-size 16px
			line-height 16px

	&__icon
		margin 0 3px
		padding 0 7px
		height 24px

		.fa-twitter
		.fa-google-plus
		.fa-pinterest-p
		.fa-envelope
			font-size 15px
			line-height 24px
