.studio
	width 768px
	margin 0 auto

	&__intro
		width 708px
		padding 20px
		margin 0 0 30px 10px

		h1
			margin 0 0 20px 0
			font-size 30px
			line-height 30px

		p
			font-size 16px
			line-height 22px

	&__tour
		width 200px
		height 40px
		margin 20px 0 0 254px

		h4
			font-size 20px
			line-height 40px

	&__rental
		width 708px
		padding 20px
		margin 0 0 20px 10px

		h2
			margin 0 0 20px 0

		p
			margin 0 0 20px 0
			font-size 16px
			line-height 24px

	&__prices
		width 360px
		margin 0 0 0 214px

	&__price
		width 160px
		padding 10px 0
		margin 0 20px 20px 0

		h4
			margin 0 0 2px 0
			font-size 22px

		h5
			font-size 20px
			font-weight 400

		p
			margin 0 0 0 7px

	&__ameneties
		display flex
		align-items center
		width 748px
		height 350px
		margin 0 0 30px 10px

	&__image
		width 440px
		height 100%

	&__detail
		width 440px
		padding 40px 0

		h3
			margin 0 0 10px 0
			font-size 24px

		p
			margin 0 0 10px 0

	&__tabs
		width 708px
		padding 0 0 0 20px
		margin 0 0 0 20px

	&__tab
		width 200px
		height 40px

		h2
			font-size 23px
			line-height 40px

	&__content
		width 686px
		padding 18px 20px 10px 20px
		margin 0 0 0 20px

		p
			margin 0 0 10px 0
			font-size 16px
			line-height 26px

	&__large
		width 120px
		height 60px
		margin 0 14px 0 0

	&__quote
		margin 0 0 10px 0

		h4
			font-size 22px
			line-height 22px

		h5
			width 665px
			font-size 20px
			line-height 28px
			font-weight 600

	&__medium
		width 100px
		height 50px
		margin 0 0 0 14px

	&__small
		width 80px
		height 40px
		margin 0 14px 0 0