.press
	width 748px
	margin 20px 0 0 20px

	&__square
		width 236px
		margin 0 10px 14px 0

	&__square.large
		width 716px
		margin 0 0 20px 0

	&__image
		width 216px
		height 180px
		margin 10px 0 10px 10px

	&__title
		width 216px
		margin 0 0 15px 10px

		h2
			font-size 17px
			line-height 25px

	&__row
		margin 0 0 15px 0

	&__field
		width 108px
		padding 0 5px

	&__heading
		margin 0 0 6px 0

	&__center
		margin 0 0 4px 0

		h5
			padding 0 8px 6px 8px
			font-size 14px
			line-height 14px

	&__value
		margin 0 0 5px 0

		h4
			font-size 15px
			line-height 21px

	&__icon
		margin 0 3px
		padding 0 7px
		height 24px

		.fa-twitter
		.fa-google-plus
		.fa-pinterest-p
		.fa-envelope
			font-size 15px
			line-height 24px
