header
	position fixed

nav
	display block
	float left
	width 100%
	padding 0
	margin 20px 0 0 0

.header
	width 768px

	&__container
		margin 0

	&__content
		padding 10px 0 6px 0

	&__navigation
		display none

	&__logo
		width 240px
		height 60px
		margin 0 0 0 10px

	&__information
		display block
		float left
		width 511px
		height 80px

		h4
			float left
			width 100%
			padding: 0
			margin 0
			font-family "le-monde-livre-classic-byol", sans-serif
			font-weight 400
			font-size 14px
			line-height 26px
			color $white

	&__column
		float left
		width 200px
		height 80px
		margin 10px 0 0 0
		text-align center

	&__phone
		float left
		width 100%

		.fa-phone
			margin 1px 8px 0 0
			font-size 15px
			color $white

	&__address
		float left
		width 100%

		.fa-map-marker
			margin 1px 8px 0 0
			font-size 15px
			color $white

	&__hours
		float left
		width 130px
		height 80px
		margin 10px 10px 0 0
		text-align center

	&__contact
		float left
		width 171px
		height 80px
		background $white

		h4
			color $black

	&__buttons
		text-align center
		margin 0

	&__button
		display inline-block;
		height: 32px
		padding 0
		margin 0 4px
		background: $button
		border-bottom $button-border-bottom
		border-radius 4px
		z-index 99

		h2
			float left
			padding 0 11px
			margin: 0
			font-size 16px
			line-height 33px
			font-family 'le-monde-livre-classic-byol', sans-serif
			font-weight 400
			color: $white
			text-shadow $white-shadow

	&__button.active
		background $button-active
		border-bottom $button-active-border-bottom

	&__button.hide
		display none

	&__spacer
		display block
		position relative
		width: 100%
		height: 136px
		z-index: 1

.sub
	display block
	position relative
	width 100%
	padding 0
	margin -2px 0 0 0
	z-index: 100

	&__container
		float left
		width 100%
		height: 40px
		padding 0
		margin 0
		background #655558
		background $button
		border-bottom $button-border-bottom

	&__content
		position relative
		width: 728px
		padding: 10px 0 10px 38px
		margin: 0

	&__links
		display inline-block
		width: 100%
		padding 0

	&__link
		float left
		margin 0 16px 0 16px

		h6
			float left
			width 100%
			font-family "le-monde-livre-classic-byol", sans-serif
			font-weight 500
			font-size 15px
			line-height 25px
			color $white
			text-shadow $white-shadow

		h6.active
			color $white

	&__tertiary
		display block
		float left
		width 100%
		height 44px
		background $header-tertiary
		border-top $black-border
		text-align center