.filter
	width 698px
	padding 18px 0 0 30px
	margin 20px 0 0 20px

	&__square
		width 216px
		margin 0 10px 24px 0

	&__min
	&__max
		width 78px
		margin -10px 0 0 0

		span
			height 30px
			font-size 15px
			line-height 30px

	&__max
		margin -10px 0 0 364px

	&__slider
		width 442px
		padding: 0
		margin 0 0 24px 0

		.ngrs-range-slider
			height 54px
			padding 6px

		.ngrs-range-slider .ngrs-runner
			width 390px
			height 18px

		.ngrs-range-slider .ngrs-join
			top 16px
			height 10px

		.ngrs-range-slider .ngrs-handle
			width 40px
			height 40px

	&__title
		margin 0 0 14px 0

		h5
			font-size 18px
			line-height 18px

	&__value
		width 100%

		select
			height 54px
			font-size 19px
			line-height 21px

		input
			width 210px
			height 48px
			padding 0 5px
			font-size 19px

	&__mask
		width 216px
		height 51px

		h4
			font-size 19px
			line-height 46px

		.fa-caret-down
			width 31px
			margin 0 10px 0 0
			font-size 20px
			line-height 20px

	&__tags
		width 130px
		margin -3px 0 10px 319px

	&__tag
		height: 34px

		h5
			font-size 16px
			line-height 36px

		.fa-plus
			width 20px
			font-size 20px
			line-height 39px

	&__reset
		width 40px
		height 30px
		margin -1px 0 0 31px

		h5
			width 100%
			font-size 16px
			line-height 30px

			span
				width: 38px
				height 30px
				margin -1px 0 0 -10px

			.fa-close
				font-size 20px
				line-height 30px