.modal
	position absolute
	float left
	width 100%
	z-index 888889

	&__holder
		position relative
		width 320px
		margin 0 auto

	&__square
		float left
		width 283px
		padding 10px 0 5px 15px
		margin 40px 0 0 10px
		background $white
		border $black-border
		border-radius 4px

	&__close
		float left
		width 268px
		margin 0 0 12px 0
		text-align center

		.fa-close
			font-size 18px

	&__row
		float left
		width 268px
		margin 0 0 15px 0
		text-align center

		h1
			float left
			width 100%
			padding 0
			margin 0
			font-size 28px
			line-height 29px

		p
			float left
			width 100%
			padding 0
			margin 0
			font-size 17px
			line-height 22px

		input
			float left
			width 246px
			height 42px
			padding 0 10px
			margin 0
			text-align center
			border $black-border
			border-radius 4px
			outline none
			font-size 20px
			line-height 42px

		select
			float left
			width 268px
			height 42px
			padding 0 10px
			margin 0
			border $black-border
			border-radius 4px
			outline none
			font-size 20px
			line-height 42px

	&__mask
		position absolute
		width 266px
		height 42px
		background $white
		border-radius 4px
		border $black-border

		.fa-caret-down
			position absolute
			margin 0 0 0 -20px
			float none
			color $black
			font-size 20px
			line-height 42px

		h4
			position relative
			float left
			width 100%
			padding 0
			margin 0
			font-size 20px
			line-height 42px

	.submit
		float left
		width 268px
		height 42px
		border $black-border
		background $accent

		h5
			float left
			width 100%
			padding 0
			margin 0
			color $white
			font-size 20px
			line-height 42px

