header
	position relative
	width 100%
	padding 0
	margin 0
	z-index: 1000

nav
	display none

.header
	position relative
	width 300px
	padding 0
	margin 0 auto
	z-index 900

	&__container
		float left
		width 100%
		width 100%
		padding 0
		margin 0
		background $primary
		border-bottom $primary-border-bottom

	&__content
		float left
		width: 100%
		padding: 10px 0 10px 0
		margin: 0

	&__logo
		float left
		width 160px
		height: 50px
		padding: 0
		margin: 0
		background $white

		img
			float: left
			width 100%
			height 100%
			padding: 0
			margin: 0

	&__navigation
		float right
		width 36px
		height 36px
		margin 13px 0 0 8px
		background $button
		border-bottom $button-border-bottom
		border-radius 4px

		.fa-bars
		.fa-phone
		.fa-search
			float left
			width 100%
			padding 0
			margin 0
			font-size 19px
			line-height 36px
			color $white
			text-align center

		.fa-bars
			font-size 21px
			line-height 37px

		.fa-phone
			font-size 20px
			line-height 38px

	&__information
	&__secondary
	&__tertiary
	&__spacer
		display none
.sub
	display none