.designers
	float left
	width 300px
	margin 20px 0 0 10px

	&__square
		float left
		width 290px
		padding 12px 0 12px 10px
		margin 0 0 14px 0
		background $secondary
		border-bottom $secondary-border-bottom
		border-radius 4px

	&__picture
		float left
		width 80px
		height 108px
		padding: 0
		margin 0 12px 0 0
		border-bottom $secondary-border-bottom
		border-radius 4px

		img
			float left
			width 100%
			height: 100%
			//border $black-border

	&__detail
		float left
		width 180px
		padding 0
		margin: 0

	&__row
		float left
		width 100%
		padding 0
		margin 0 0 5px 0

	&__name
		float left
		width 100%
		padding: 0
		margin: 0 0 4px 0

		h2
			float: left
			width: 100%
			padding: 0
			margin: 0
			font-size 19px
			line-height 22px
			font-family 'le-monde-livre-classic-byol', sans-serif

	&__socials
		float left
		width: 100%
		padding: 0
		margin: 0 0 4px 0

	&__categories
		float left
		width 180px
		margin 0 0 3px 0

		h5
			float left
			width 100%
			padding: 0
			margin: 0 0 8px 0
			font-family 'halyard-display', sans-serif
			font-weight 400
			font-size 14px
			line-height 18px
			color $paragraph
			text-align: left
			text-shadow $black-shadow

		h6
			float left
			height: 22px
			padding: 0 10px
			margin 0 8px 0 0
			font-family 'le-monde-livre-classic-byol', sans-serif
			font-weight 600
			font-size 14px
			line-height 23px
			color $white
			background $button-active
			border-bottom $button-active-border-bottom
			border-radius 4px
			text-align: center
			text-shadow $white-shadow

	&__description
		float left
		width 280px
		margin 8px 0 10px 0

		p
			float left
			padding: 0
			margin: 0
			font-family 'halyard-display', sans-serif
			font-weight 400
			font-size 15px
			line-height 20px
			color $paragraph

	&__products
		float left
		width 290px
		margin 8px 0 0 0

		h5
			float left
			width 100%
			padding: 0
			margin: 0 0 8px 0
			font-family 'halyard-display', sans-serif
			font-weight 400
			font-size 14px
			line-height 18px
			color $paragraph
			text-align: left
			text-shadow $black-shadow

	&__product
		float left
		width 64px
		height 64px
		margin 0 8px 0 0
		background $secondary
		border-bottom $secondary-border-bottom
		border-radius 4px

		img
			float: left
			width: 100%
			height: 100%

