header
	position relative
	width 100%
	padding 0
	margin 0
	z-index: 1000

nav
	display none

.header
	position relative
	width 300px
	padding 0
	margin 0 auto
	z-index 900

	&__container
		float left
		width 100%
		width 100%
		padding 0
		margin 0
		background $primary
		border-bottom $primary-border-bottom

	&__content
		float left
		width: 100%
		padding: 0 0 10px 0
		margin: 0

	&__logo
		float left
		width 70px
		height: 70px
		padding: 0
		margin: 10px 0 0 5px
		background $white
		border-radius 1000px

		img
			float: left
			width 100%
			height 100%
			padding: 0
			margin: 0

	&__map
		float left
		width 210px
		height: 80px
		padding: 0
		margin: 0 0 0 15px
		background $secondary
		border-bottom $button-border-bottom
		border-radius 0 0 4px 4px

		ng-map
			float left
			width: 100%
			height: 100%
			border-radius 4px

		div
			border-radius 0 0 4px 4px

		a
			background none
			border none
			outline none

	&__navigation
		float right
		width 34px
		height 34px
		margin 8px 0 0 9px
		background $button
		border-bottom $button-border-bottom
		border-radius 4px

		.fa-bars
		.fa-instagram
		.fa-phone
		.fa-search
		.fa-twitter
			float left
			width 100%
			padding 0
			margin 0
			font-size 19px
			line-height 35px
			color $white
			text-align center

		.fa-bars
		.fa-twitter
		.fa-instagram
			font-size 21px
			line-height 35px

		.fa-phone
			font-size 20px
			line-height 36px

	&__information
	&__secondary
	&__tertiary
	&__hours
	&__spacer
		display none

.sub
	display none