.index
	float left
	width 320px
	padding: 0
	margin 0

	&__video
		float left
		width: 100%
		height: 220px
		padding: 0
		margin: 0 0 10px 0
		background $white
		border-bottom $secondary-border-bottom
		overflow hidden

	&__squares
		float left
		width 300px
		padding 0 0 30px 0
		margin 0 0 0 10px

	&__square
		float left
		width 260px
		padding 20px 20px 24px 20px
		margin 0 0 12px 0
		background $secondary
		border-bottom $secondary-border-bottom
		border-radius 4px

		h1
			float left
			width 100%
			padding 0
			margin 0 0 8px 0
			font-family: "le-monde-livre-classic-byol", serif;
			font-weight 500
			font-size 22px
			line-height 30px
			color $black
			text-align: center

		p
		li
			float: left;
			width: 100%
			font-family: "halyard-display", sans-serif;
			font-weight 400
			font-size 16px
			line-height 24px
			color: $paragraph
			text-align: center

.search
	display none

