.press
	float left
	width 310px
	margin 20px 0 0 10px

	&__square
		float left
		width 300px
		margin 0 0 14px 0
		background $secondary
		border-bottom $secondary-border-bottom
		border-radius 4px

	&__image
		float left
		width 280px
		height 200px
		padding: 0
		margin: 10px 0 0 10px
		background #ff9
		border-bottom $primary-border-bottom
		border-radius 4px

	&__detail
		float left
		width 100%
		padding 0
		margin: 0

	&__title
		float left
		width 100%
		margin 0 0 22px 0
		text-align center

		h2
			float: left;
			width 100%
			padding: 0
			margin: 0
			font-family 'le-monde-livre-classic-byol', sans-serif
			font-size 19px
			line-height 27px
			color $black
			text-shadow $black-shadow

	&__row
		float left
		width 100%
		margin 0 0 15px 0

	&__field
		float left
		width 140px
		padding 0 5px
		margin 0

	&__heading
		width 100%
		margin 0 0 6px 0
		text-align center

	&__center
		display inline-block
		//margin
		text-align center

		h5
			float left
			padding 0 6px 4px 6px
			margin 0
			font-family 'le-monde-livre-classic-byol', sans-serif
			font-weight: 600
			font-size 15px
			line-height 15px
			color $paragraph
			border-bottom 3px solid $button-active

	&__value
		float left
		width 100%
		margin 0 0 5px 0
		text-align center

		h4
			float: left;
			width 100%
			padding: 0
			margin: 0
			font-family 'halyard-display', sans-serif
			font-weight 400
			font-size 18px
			line-height 18px
			color $black
			text-align center
			text-shadow $black-shadow

	&__icons
		float left
		width 150px
		padding 0
		margin 0

	&__icon
		float left
		margin 0 3px
		padding 0 7px
		height 24px
		background $button
		border-bottom $button-border-bottom
		border-radius 4px
		text-align center

		.fa-twitter
		.fa-google-plus
		.fa-pinterest-p
		.fa-envelope
			font-size 15px
			color $white
			line-height 24px

