.designers
	float left
	width 300px
	margin 20px 0 0 10px

	//&__holder
	//	position relative
	//	width 320px
	//	height 600px
	//	margin 0 auto
	//	padding 0

	&__square
		float left
		width 290px
		padding 12px 0 12px 10px
		margin 0 0 14px 0
		background $white
		border-bottom $secondary-border-bottom
		border-radius 4px

	&__picture
		float left
		width 80px
		height 108px
		padding: 0
		margin 0 12px 0 0
		border-bottom $secondary-border-bottom
		border-radius 4px

		img
			float left
			width 100%
			height: 100%
			//border $black-border

	&__detail
		float left
		width 180px
		padding 0
		margin: 0

	&__row
		float left
		width 100%
		padding 0
		margin 0 0 5px 0

	&__name
		float left
		width 100%
		padding: 0
		margin: 0 0 4px 0

		h2
			float: left
			width: 100%
			padding: 0
			margin: 0
			font-size 19px
			line-height 22px
			font-family 'le-monde-livre-classic-byol', sans-serif

	&__socials
		float left
		width: 100%
		padding: 0
		margin: 0 0 4px 0

	&__social
		float left
		width 24px
		height 24px
		margin 0 7px 0 0
		background $button
		border-bottom $button-border-bottom
		border-radius 4px

		.fa-facebook
		.fa-instagram
		.fa-envelope-o
			float: left
			width: 100%
			font-size 14px
			line-height: 27px
			padding: 0
			margin 0
			color $white
			text-align: center
			text-shadow $white-shadow

	&__school
		float left
		width 180px
		margin 0 0 3px 0

		h5
			float left
			width 100%
			padding: 0
			margin: 0 0 8px 0
			font-family 'halyard-display', sans-serif
			font-weight 400
			font-size 14px
			line-height 18px
			color $paragraph
			text-shadow $black-shadow

		h6
			float left
			height: 22px
			padding: 0 10px
			margin 0 8px 0 0
			font-family 'le-monde-livre-classic-byol', sans-serif
			font-weight 600
			font-size 14px
			line-height 23px
			color $white
			background $button-active
			border-bottom $button-active-border-bottom
			border-radius 4px
			text-align: center
			text-shadow $white-shadow

	&__specialties
		float left
		width 100%

	&__specialty
		float left
		padding 5px 10px
		margin 0 10px 6px 0
		background $accent
		border-radius 4px

		h3
			float left
			font-weight 600
			font-size 14px
			line-height 14px
			color $white

	&__description
		float left
		width 280px
		margin 8px 0 0 0

		p
			float left
			padding: 0
			margin: 0
			font-family 'halyard-display', sans-serif
			font-weight 400
			font-size 15px
			line-height 20px
			color $paragraph

