md-sidenav.md-closed
	display none

md-sidenav
	position fixed
	-webkit-flex-direction column
	-ms-flex-direction column
	flex-direction column
	width 320px
	max-width 320px
	height 100%
	min-height 100%
	bottom 0
	background none
	outline none
	overflow none
	box-sizing border-box
	left 0
	top 0
	z-index 999999
	-webkit-transform translate3d(0%, 0, 0)
	transform translate3d(0%, 0, 0)
	overflow hidden

md-sidenav.md-closed
	-webkit-transform translate3d(-100%, 0, 0);
	transform translate3d(-100%, 0, 0);

md-sidenav.md-closed-remove
	display -webkit-flex;
	display -ms-flexbox;
	display flex;
	transition all 1s cubic-bezier(0.25, 0.8, 0.25, 1);

md-sidenav.md-closed-add.md-closed-add-active, md-sidenav.md-closed-remove.md-closed-remove-active
	transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

md-sidenav.md-locked-open-add,
md-sidenav.md-locked-open-remove
	position: static;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

.mobile
	display block
	float left
	width 180px
	height 100%
	padding 18px 10px 20px 10px
	margin 0
	background $primary
	overflow: scroll

	&__button
		float left
		width 160px
		height 40px
		padding 0
		margin 0 0 10px 10px
		background $button
		border-bottom $button-border-bottom
		border-radius 4px
		cursor pointer
		outline none
		text-align center

		h4
			padding 0
			margin 0
			font-size 19px
			line-height 41px
			font-family 'le-monde-livre-classic-byol', sans-serif
			font-weight 600
			color $white
			outline none
			text-align center
			text-shadow $white-shadow

	&__button.active
		background $button-active
		border-bottom $button-active-border-bottom

	&__secondary
		float left
		width 160px
		padding: 0
		margin 0 0 14px 0
		//background $secondary
		border-radius 4px

	&__link
		float left
		//width 160px
		height: 30px
		padding: 0 8px
		margin 0 4px 4px 0
		background $button
		border-bottom $button-border-bottom
		border-radius 4px
		cursor pointer

		p
			float: left
			width: 100%
			font-family 'halyard-display', sans-serif
			font-weight 400
			font-size 17px
			line-height 31px
			padding 0
			color $white
			//color $black
			text-align center
			//text-shadow $black-shadow

	&__link.active
		background $button-active
		border-bottom $button-active-border-bottom

		p
			color $white

	&__close
		float left
		width 34px
		height 46px
		padding 0 4px 0 0
		margin 16px 0 0 -1px
		background $primary
		border-radius 0 4px 4px 0
		cursor pointer
		outline none

		.fa-close
			float left
			width 100%
			padding 0
			margin 0
			font-weight normal
			font-size 23px
			line-height 46px
			color $white
			text-align center
			text-shadow $white-shadow
			cursor pointer