.products
	float left
	width 300px
	padding 0
	background none
	margin 0 0 0 10px

.product
	float left
	width 300px
	padding 10px 0 0 0
	margin 0 0 12px 0
	background $secondary
	border-bottom $secondary-border-bottom
	border-radius 4px

	&__image
		float left
		width 180px
		padding 0 50px
		margin 0 0 0 10px
		background $white
		//border $gold-border
		border-bottom $secondary-border-bottom
		border-radius 4px

		img
			float left
			width 100%
			height 100%

	&__detail
		float left
		width 280px
		padding 10px 10px 20px 10px
		margin 0
		border-bottom $secondary-border-bottom

	&__title
		float left
		width 100%
		padding 0
		margin 0 0 6px 0
		text-align center

		h6
			float: left
			width 100%
			padding 0
			font-family: "le-monde-livre-classic-byol", serif;
			font-weight 600
			font-size 19px
			line-height 25px
			text-align: center
			text-shadow $black-shadow

	&__description
		float left
		width 100%
		padding 0
		margin 0
		text-align center

		p
			float left
			width 240px
			padding: 0 10px
			margin: 0
			font-size 13px
			line-height 19px
			font-weight 400
			color $paragraph
			text-align center
			text-shadow $black-shadow

	&__collection
		float left
		width 100px
		padding 0
		margin 0 0 12px 0
		text-align left

		h6
			font-size 14px
			line-height 20px

	//&__price
	//	float right
	//	width 55px
	//	padding 0
	//	margin 0 0 12px 0
	//	text-align right
	//
	//	h6
	//		line-height 20px

	&__tags
		float left
		width 100%
		padding 0
		margin 0

	&__tag
		float left
		padding 3px 4px
		margin 0 5px 7px 0
		background $black
		border $black-border
		border-radius 4px
		text-align center

		h5
			float left
			width 100%
			font-size 12px
			line-height 12px
			font-weight 400
			color $white

	&__unnamed
		position absolute
		margin 7px 0 0 203px
		float none
		width 50px
		height 25px
		background $accent

		h6
			line-height 25px

	&__designer
		float left
		width 100%
		width 270px
		padding 4px 15px 6px 15px
		margin: 0
		background #f2f2f2

	&__picture
		float left
		width 30px
		height 30px
		margin 0 12px 0 0
		border none

		img
			float: left
			width 100%
			height 100%
			padding: 0
			margin: 0
			border 1px solid #333
			border-radius 1000px

	&__name
		float left
		width 160px
		padding: 0
		margin 0
		text-align left

		h5
			float left
			width 80px
			font-family 'le-monde-livre-classic-byol', sans-serif
			font-weight 500
			font-size 13px
			line-height 15px

	&__price
		float right
		height 28px
		padding 0 10px
		margin 0
		background $button
		border-bottom $button-border-bottom
		border-radius 4px

		h6
			float: left
			width: 100%
			color $white
			font-family 'halyard-display', sans-serif
			font-weight 400
			font-size 15px
			line-height 29px
			text-align center
