.designers
	float left
	width 100%
	margin 30px 0 0 0

	&__holder
		position relative
		width 320px
		height 600px
		margin 0 auto
		padding 0

	&__square
		float left
		width 308px
		padding 10px 0 0 10px
		margin 0 0 20px 0
		background $white
		border $black-border
		border-radius 4px

	&__picture
		float left
		width 93px
		padding 0 15px 0 0
		height 128px
		margin 0

		img
			float left
			width 100%
			height 126px
			border $black-border

	&__details
		float left
		width 200px
		padding 0

	&__row
		float left
		width 100%
		padding 0
		margin 0 0 5px 0

	&__name
		float left
		width 136px

	&__socials
		float right

	&__social
		float left
		width 22px
		height 22px
		margin 0 10px 0 0
		text-align center

		.fa-facebook
			font-size 20px
			margin 3px 0 0 0

		.fa-instagram
			font-size 25px
			margin 1px 0 0 0

	&__school
		float left
		width 190px
		margin 0 0 3px 0

		h5
			float left
			width 100%
			text-decoration underline
			font-size 14px
			line-height 18px

		h6
			float left
			width 187px
			margin 0 0 0 3px
			font-weight 400
			font-style italic
			font-size 12px
			line-height 18px

	&__specialties
		float left
		width 100%

	&__specialty
		float left
		padding 5px 10px
		margin 0 10px 6px 0
		background $accent
		border-radius 4px

		h3
			float left
			font-weight 600
			font-size 14px
			line-height 14px
			color $white

	&__description
		float left
		width 300px
		margin 0 0 10px 0

		p
			float left
			font-size 15px
			line-height 18px

