.designer
	float left
	width 100%

	&__container
		position relative
		float none
		width 320px
		margin 0 auto

	&__view
		float left
		width 100%
		padding 15px 0 0 0

	&__images
		float left
		width 100%
		margin 0 0 20px 0

	&__headshot
		float left
		width 100%
		height 244px
		padding 0
		margin 0 0 10px 0
		background $white
		text-align center

		h4
			width 100%
			margin 0 0 10px 0
			font-size 20px
			line-height 244px

		img
			float left
			width 100%

	&__thumbnails
		float left
		width 310px
		padding 0 0 0 10px
		margin 0
		height 70px
		text-align center

	&__thumbnail
		position relative
		display inline-block
		float none
		width 70px
		height 70px
		margin 0 10px 0 0
		background $accent

		h4
			float left
			width 100%
			color $white
			font-size 10px
			line-height 70px

	&__information
		float left
		width 310px
		padding 10px 0 0 10px
		margin 0 0 20px 0
		background $white

	&__name
		float left
		width 300px
		padding 0
		margin 0 0 4px 0

		h1
			float left
			padding 0
			margin 0
			width 100%
			font-size 27px

	&__quote
		float left
		width 300px
		padding 0
		margin 0 0 15px 0
		text-align left

		h3
			float left
			width 100%
			padding 0
			margin 0
			font-style italic
			font-size 14px
			line-height 20px

	&__socials
		float left
		width 310px
		padding 0
		margin 0 0 15px 0

	&__social
		float left
		width 92px
		height 45px
		margin 0 9px 0 0
		background $white
		border $black-border
		border-radius 4px
		text-align center

		h6
			float left
			width 100%
			padding 0
			margin 0
			font-size 15px
			line-height 45px

	&__biography
		float left
		width 300px
		padding 0
		margin 0 0 20px 0

		h5
			float left
			width 100%
			font-size 14px
			line-height 22px

	&__certificates
		float left
		width 310px
		padding 10px 0 0 10px
		margin 0 0 10px 0
		background $grey

		h1
			float left
			width 100%
			margin 0 0 10px 0
			font-size 20px
			line-height 20px

	&__certificate
		float left
		width 278px
		padding 5px 10px
		margin 0 0 10px 0
		border $black-border
		border-radius 4px
		background $white
		text-align left

		h4
			float left
			width 100%
			font-size 13px
			line-height 20px

		h5
			float left
			width 100%
			font-size 12px
			line-height 23px

	&__items
		float left
		width 320px
		padding 0
		margin 0

	&__item
		float left
		width 320px
		height 190px
		margin 0 0 20px 0
		background $white
		border-radius 4px
		text-align center

		h4
			float left
			width 100%
			font-size 30px
			line-height 190px
