.testimonial
	float left
	width 100%

	&__holder
		position reltative
		width 320px
		margin 0 auto

	&__square
		float left
		width 270x
		padding 13px 15px
		margin 0 0 15px 0
		background $white
		border $black-border
		border-radius 4px

		p
			float none
			width 100%
			margin 0 0 8px 0
			font-size 17px
			line-height 25px

	&__customer
		float left
		width 80px
		height 80px
		margin 0 5px 0 0

	&__image
		float left
		width 75px
		height 75px

		img
			width 100%
			height 100%
			border-radius 1000px

	&__name
		float left
		width 288px
		text-align right

		h5
			float left
			width 100%
			font-weight 800
			font-size 17px
			line-height 17px