.sub
	.sub__container
		.sub__content
			.sub__links
				.sub__link(ui-sref='app.public.studio.sell' ui-sref-active='active')
					h6 Sell Your Work

				.sub__link(ui-sref='app.public.studio.join' ui-sref-active='active')
					h6 Join Our Studio

				.sub__link(ui-sref='app.public.studio.equipment' ui-sref-active='active')
					h6 Equipment

				.sub__link(ui-sref='app.public.studio.facility' ui-sref-active='active')
					h6 Facility

div(data-ui-view='content')