.sub
	.sub__container
		.sub__content
			.sub__links
				.sub__link(ui-sref='app.public.studio.about' ui-sref-active='active')
					h6 About

				.sub__link(ui-sref='app.public.studio.business' ui-sref-active='active')
					h6 Business

				.sub__link(ui-sref='app.public.studio.career' ui-sref-active='active')
					h6 Career

				.sub__link(ui-sref='app.public.studio.environment' ui-sref-active='active')
					h6 Environment

				.sub__link(ui-sref='app.public.studio.equipment' ui-sref-active='active')
					h6 Equipment

				.sub__link(ui-sref='app.public.studio.facility' ui-sref-active='active')
					h6 Facility

				.sub__link(ui-sref='app.public.studio.press.list' ui-sref-active='active')
					h6 Press

div(data-ui-view='content')