.sub
	.sub__container
		.sub__content
			.sub__links
				.sub__link(ui-sref='app.public.studio.land' ui-sref-active='active')
					h6 About

				.sub__link(ui-sref='app.public.studio.land.business' ui-sref-active='active')
					h6 Business

				.sub__link(ui-sref='app.public.studio.land.career' ui-sref-active='active')
					h6 Career

				.sub__link(ui-sref='app.public.studio.land.environment' ui-sref-active='active')
					h6 Environment

				.sub__link(ui-sref='app.public.studio.land.equipment' ui-sref-active='active')
					h6 Equipment

				.sub__link(ui-sref='app.public.studio.land.facility' ui-sref-active='active')
					h6 Facility

				.sub__link(ui-sref='app.public.studio.land.press.list' ui-sref-active='active')
					h6 Press

div(data-ui-view='content')