.service
	.service__holder

		.common__title
			.common__container
				.common__center
					h1 Alterations

		.common__description
			.common__row
				.common__image-left
				p Lorem ipsum dolor sit amet, ut platonem torquatos efficiantur mea. Est natum ornatus eu. Vim amet legimus cu, ei has fabulas nominavi adipiscing. Vix vide prodesset an. In debet gubergren posidonium qui. Eam ne esse sonet scripserit. Id nam iusto nullam alienum, no mel enim argumentum. Ex probatus salutatus sed, audiam epicuri dignissim est at. In has scripta apeirian petentium, iuvaret nostrum vis ut. Esse laudem saperet ius ut. His paulo affert prompta eu, ne per feugiat feugait deseruisse. Regione vulputate cum ad, sed ludus tollit convenire in, est te doming definitionem delicatissimi. Id quidam fabellas his. Ne efficiendi concludaturque has, ne mea nostro insolens.

			.common__row
				.common__image-right
				p Lorem ipsum dolor sit amet, ut platonem torquatos efficiantur mea. Est natum ornatus eu. Vim amet legimus cu, ei has fabulas nominavi adipiscing. Vix vide prodesset an. In debet gubergren posidonium qui. Eam ne esse sonet scripserit. Id nam iusto nullam alienum, no mel enim argumentum. Ex probatus salutatus sed, audiam epicuri dignissim est at. In has scripta apeirian petentium, iuvaret nostrum vis ut. Esse laudem saperet ius ut. His paulo affert prompta eu, ne per feugiat feugait deseruisse. Regione vulputate cum ad, sed ludus tollit convenire in, est te doming definitionem delicatissimi. Id quidam fabellas his. Ne efficiendi concludaturque has, ne mea nostro insolens.

		.testimonial__squares
			.testimonial__square
				.testimonial__customer
					.testimonial__image
						img(ng-src='/public/images/customer.jpg')

				p "Made You Look did a great job. Couldn't ask for better service. The process was smooth & the staff communicated very well. I would definitely return for any of my jewellery needs."

				.testimonial__name
					h5 - Happy Customer

			.testimonial__square.half
				.testimonial__customer
					.testimonial__image
						img(ng-src='/public/images/customer.jpg')

				p "Made You Look did a great job. Couldn't ask for better service. The process was smooth & the staff communicated very well. I would definitely return for any of my jewellery needs."

				.testimonial__name
					h5 - Happy Customer

			.testimonial__square.half
				.testimonial__customer
					.testimonial__image
						img(ng-src='/public/images/customer.jpg')

				p "Made You Look did a great job. Couldn't ask for better service. The process was smooth & the staff communicated very well. I would definitely return for any of my jewellery needs."

				.testimonial__name
					h5 - Happy Customer