.block
	.block__container
		.container
			.filter
				.filter__square
					.filter__title
						.filter__container
							.filter__center
								h6 Category

					.filter__value
						select(data-ng-model='vm.category' data-ng-options='category.title as category.title for category in vm.search.category')
						.filter__mask
							h4(data-ng-bind='vm.category')
							//span.fa.fa-caret-down

				.filter__square
					.filter__title
						.filter__container
							.filter__center
								h6 Type

					.filter__value
						select(data-ng-model='vm.type' data-ng-options='type for type in vm.category.types')
						.filter__mask
							h4(data-ng-bind='vm.type')
							//span.fa.fa-caret-down

				.filter__square(data-ng-show='!vm.compact')
					.filter__title
						.filter__container
							.filter__center
								h6 Material

					.filter__value
						select(data-ng-model='vm.material' data-ng-options='material for material in vm.search.material')
						.filter__mask
							h4(data-ng-bind='vm.material')
							//span.fa.fa-caret-down

				.filter__square(data-ng-show='!vm.compact')
					.filter__title
						.filter__container
							.filter__center
								h6 Designer

					.filter__value
						select(data-ng-model='vm.designer' data-ng-options='designer for designer in vm.search.designer')
						.filter__mask
							h4(data-ng-bind='vm.designer')
							//span.fa.fa-caret-down

				.filter__square(data-ng-show='!vm.compact')
					.filter__title
						.filter__container
							.filter__center
								h6 Style

					.filter__value
						select(data-ng-model='vm.designer' data-ng-options='designer for designer in vm.search.designer')
						.filter__mask
							h4(data-ng-bind='vm.designer')
							//span.fa.fa-caret-down

				.filter__square(data-ng-show='!vm.compact')
					.filter__title
						.filter__container
							.filter__center
								h6 Style

					.filter__value
						select(data-ng-model='vm.designer' data-ng-options='designer for designer in vm.search.designer')
						.filter__mask
							h4(data-ng-bind='vm.designer')
							//span.fa.fa-caret-down

				.filter__slider
					.filter__min
						span(data-ng-bind='vm.sliderRanges.price.min | currency:"$":0')
					.filter__title
						.filter__container
							.filter__center
								h6 Price
					.filter__max
						span(data-ng-bind='vm.sliderRanges.price.max | currency:"$":0')

					.filter__value
						div(range-slider, prevent-equal-min-max="false", attach-handle-values="", step="{{vm.sliderSettings.price.step}}",  min="vm.sliderSettings.price.min", max="vm.sliderSettings.price.max", model-min="vm.sliderRanges.price.min", model-max="vm.sliderRanges.price.max")

			.filter__tags
				.filter__tag(data-ng-show='vm.compact' data-ng-click='vm.toggle()')
					h5 More Options
					//.fa.fa-plus

				.filter__tag(data-ng-show='!vm.compact' data-ng-click='vm.toggle()')
					h5 Less Options
					//.fa.fa-minus

				.filter__reset(data-ng-click='vm.reset()')
					span.fa.fa-close

.block
	.block__container
		.container
			.products
				.product(data-ng-repeat='product in vm.products | filter: { detail: { category: vm.category }} | filter: { detail: { title: vm.input }}')
					.product__image
						img(src='public/images/product.jpg')

					.product__detail
						.product__title
							h6(data-ng-bind='product.detail.title')

						//.product__description
							p This is where a paragraph goes. This is where a paragraph goes. This is where a paragraph goes. This is where it goes.

							//.product__jeweller
						//.product__collection
							h6(data-ng-bind='product.detail.category')

						//.product__price
							h6(data-ng-bind='product.detail.price')
							//.product__specs

						//.product__tags
							.product__tag(data-ng-repeat='tag in product.detail.sub_category')
								h5(data-ng-bind='tag')

					.product__designer
						.product__picture
							img(src='public/images/profile.jpg')

						.product__name
							//h5(data-ng-bind='product.detail.designer')

						.product__price
							h6 $298