$white = #fff
$white-border = 1px solid #c8c8c8
$white-shadow = 1px 1px 0 #333

$black = #4B4B4B
$black-border = 1px solid $black
$black-shadow = 1px -1px 2px #fff

$background = $white
$background-border = 1px solid #a8a8a8