.common
	width 100%

	&__title
		float left
		width 100%
		margin 0 0 7px 0

	&__container
		float left
		width 100%
		text-align center

	&__center
		display inline-block
		text-align center

		h1
			float left
			width auto
			padding 0 8px 4px 8px
			margin 0
			font-weight 600
			font-size 34px
			line-height 34px
			color $black
			border-bottom 3px solid $black
			text-align center

	&__description
		float left
		width 288px
		padding 13px 15px
		margin 0 0 15px 0
		background $white
		border $black-border
		border-radius 4px

		p
			float none
			width 288px
			margin 0
			font-weight 400
			font-size 17px
			line-height 25px
			color $black

	&__row
		float left
		width 100%
		margin-bottom 20px

	&__image-right
		float right
		width 98px
		height 98px
		margin 0 0 9px 14px
		border-radius 4px
		border $black-border
		background $white

	&__image-left
		float left
		width 98px
		height 98px
		margin 0 14px 9px 0
		border-radius 4px
		border $black-border
		background $white