$white = #fff
$white-border = 1px solid #c8c8c8
$white-shadow = 1px 1px 0 #000

$black = #4B4B4B
$black = #141414
$black-border = 1px solid $black
$black-border-bottom = 2px solid $black
$black-shadow = 1px -1px 2px #fff

$grey = #808080
$grey-border = 1px solid $grey
$grey-border-bottom = 2px solid $black

$paragraph = #585858

$background = #B1AAAD
$background = #d8d8d8
$background-border = 1px solid #a8a8a8

$primary = #7b7276
$primary = #5f585b
$primary = #5f585b

$accent = #BC2F6E
$accent = #61193a
$accent-border-bottom = 2px solid #200813

$footer = #7b7276

$header-secondary = #686868
$header-secondary-border-bottom = 2px solid #585858
$header-tertiary = #828282

$icon = #444