$white = #fff
$white-border = 1px solid #c8c8c8
$white-shadow = 1px 1px 0 #000

$black = #4B4B4B
$black = #141414
$black-border = 1px solid $black
$black-border-bottom = 2px solid $black
$black-shadow = 1px -1px 2px #fff

$grey = #808080
$grey-border = 1px solid $grey
$grey-border-bottom = 2px solid $black

$paragraph = #585858

//$background = #B1AAAD
$background = #e8e4e4
$background-border = 1px solid #a8a8a8

$primary = #7b7276
$primary = #5f585b
$primary = #7b7276
$primary-border-bottom = 3px solid #2f282b

//$secondary = #f8f8f8
$secondary = #d4d4d4
$secondary = #f8f8f8
$secondary-border = 1px solid #c8c8c8
$secondary-border-bottom = 3px solid #888

$input = $white
$input-border = 1px solid #c8c8c8
$input-border-bottom = 3px solid #888

$accent = #BC2F6E
$accent-border-bottom = 3px solid #411126

$button-active = #BC2F6E
$button-active = #721d42
$button-active-border-bottom = 3px solid #200813

$gold = #FFD700
$gold = #a38b00
$gold-border = 2px solid #ffd700
$gold-border-bottom = 3px solid #8f7900

$button = #585858
$button-border-bottom = 3px solid #000

$footer = #7b7276

$header-secondary = #686868
$header-secondary-border-bottom = 2px solid #333

$header-tertiary = #828282