.contact
	.contact__option
		h2 Contact
		h3 contact@madeyoulook.com
		.fa.fa-envelope-square
		h3 (905) 555-7777
		.fa.fa-phone-square
	.contact__option
		h2 Contact
		h3 contact@madeyoulook.com
		.fa.fa-envelope-square
		h3 (647) 444-8888
		.fa.fa-phone-square
	.contact__option
		h2 Contact
		h3 contact@madeyoulook.com
		.fa.fa-envelope-square
		h3 (416) 333-9999
		.fa.fa-phone-square
	.contact__map
		h1 MAP