.contact
	.contact__holder
		.contact__head
			.contact__title
				h1 Contact Us
			p Our Store is open 7 days a week and we are always available anytime by phone or by email to help you.

		.contact__details
			.contact__info
				h2 #[span.fa.fa-map-marker] 1338 Queen Street West, Toronto, ON., M6K 1L4

			.contact__info
				h2 #[span.fa.fa-phone] (416)-463-2136

			.contact__info
				h2 #[span.fa.fa-envelope] info@madeyoulook.ca

			.contact__hours
				h5 Store Hours
				h6 Monday 10-8
				h6 Tuesday 10-8
				h6 Wednesday 10-8
				h6 Thursday 10-8
				h6 Friday 10-8
				h6 Saturday 10-6
				h6 Sunday 12-5

		.contact__form
			.contact__heading
				h1 Have Questions?
				p Have a question or request that our website has not answered? Please send us a note and we will get back to you with an answer within 24 hours.

			.contact__square.input
				.contact__label
					h6 Name

				.contact__value
					input

			.contact__square.input
				.contact__label
					h6 Email

				.contact__value
					input

			.contact__square
				.contact__label
					h6 Inquiry

				.contact__value
					select

					.contact__mask
						h4 Select
						span.fa.fa-caret-down

			.contact__square
				.contact__label
					h6 Message

				.contact__value
					textarea

			button.contact__submit
				h6 Send

		.contact__map
			h1 MAP