footer
	.footer
		.footer__row
			.footer__map
				h1 MAP
			.footer__column
				.column__title
					h1 COLUMN
				.column__list
					.column__item
						p Contact
					.column__item
						p Support
					.column__item
						p Privacy
					.column__item
						p Terms
			.footer__column
				.column__title
					h1 COLUMN
				.column__list
					.column__item
						p About
					.column__item
						p Customers
					.column__item
						p News
					.column__item
						p Coming Soon
			.footer__column
				.column__title
					h1 COLUMN
				.column__list
					.column__item
						p Documentation
					.column__item
						p Stonesetting
					.column__item
						p Goldsmithing
					.column__item
						p Engraving
			.footer__column
				.column__title
					h1 COLUMN 1
				.column__list
					.column__item
						p Payment
					.column__item
						p Pricing
					.column__item
						p Subscriptions
					.column__item
						p Global