header
	.header
		.header__secondary
			.header__links
				.header__link(ui-sref='app.public.studio.land' ui-sref-active='active')
					p About

				.header__link(ui-sref='app.public.studio.land.business' ui-sref-active='active')
					p Business

				.header__link(ui-sref='app.public.studio.land.career' ui-sref-active='active')
					p Career

				.header__link(ui-sref='app.public.studio.land.environment' ui-sref-active='active')
					p Environment

				.header__link(ui-sref='app.public.studio.land.equipment' ui-sref-active='active')
					p Equipment

				.header__link(ui-sref='app.public.studio.land.facility' ui-sref-active='active')
					p Facility

				.header__link(ui-sref='app.public.studio.land.press' ui-sref-active='active')
					p Press

div(data-ui-view='content')