header
	.header
		.header__secondary
			.header__links
				.header__link(ui-sref='app.public.studio.about' ui-sref-active='active')
					p About

				.header__link(ui-sref='app.public.studio.business' ui-sref-active='active')
					p Business

				.header__link(ui-sref='app.public.studio.career' ui-sref-active='active')
					p Career

				.header__link(ui-sref='app.public.studio.environment' ui-sref-active='active')
					p Environment

				.header__link(ui-sref='app.public.studio.equipment' ui-sref-active='active')
					p Equipment

				.header__link(ui-sref='app.public.studio.facility' ui-sref-active='active')
					p Facility

				.header__link(ui-sref='app.public.studio.press' ui-sref-active='active')
					p Press

div(data-ui-view='content')