header
	.header__container
		.header__secondary
			.header__links
				.header__link(ui-sref='app.public.studio.land' ui-sref-active='active')
					h6 About

				.header__link(ui-sref='app.public.studio.land.business' ui-sref-active='active')
					h6 Business

				.header__link(ui-sref='app.public.studio.land.career' ui-sref-active='active')
					h6 Career

				.header__link(ui-sref='app.public.studio.land.environment' ui-sref-active='active')
					h6 Environment

				.header__link(ui-sref='app.public.studio.land.equipment' ui-sref-active='active')
					h6 Equipment

				.header__link(ui-sref='app.public.studio.land.facility' ui-sref-active='active')
					h6 Facility

				.header__link(ui-sref='app.public.studio.land.press' ui-sref-active='active')
					h6 Press

div(data-ui-view='content')