script.
	(function(d) {
		var config = {
				kitId: 'end0vvn',
				scriptTimeout: 3000
			},
			h = d.documentElement,
			t = setTimeout(function() {
				h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
			}, config.scriptTimeout),
			tk = d.createElement("script"),
			f = false,
			s = d.getElementsByTagName("script")[0],
			a;
		h.className += " wf-loading";
		tk.src = '//use.typekit.net/' + config.kitId + '.js';
		tk.async = true;
		tk.onload = tk.onreadystatechange = function() {
			a = this.readyState;
			if (f || a && a != "complete" && a != "loaded") return;
			f = true;
			clearTimeout(t);
			try {
				Typekit.load(config)
			} catch (e) {
			}
		};
		s.parentNode.insertBefore(tk, s)
	})(document);

script(src='/node_modules/angular/angular.js')
script(src='/node_modules/angular-animate/angular-animate.js')
script(src='/node_modules/angular-aria/angular-aria.js')
script(src='/node_modules/angular-material/angular-material.js')
script(src='/node_modules/angular-messages/angular-messages.js')
script(src='/node_modules/angular-resource/angular-resource.js')
script(src='/node_modules/angular-ui-router/release/angular-ui-router.js')

script(src='/source/scripts/app/app.module.js')
script(src='/source/scripts/app/app.route.js')
script(src='/source/scripts/app/app.config.js')
script(src='/source/scripts/app/app.run.js')
script(src='/source/scripts/app/factory/app.factory.run.js')

script(src='/source/scripts/common/common.module.js')
script(src='/source/scripts/common/directive/common.directive.escape.js')

script(src='/source/scripts/public/public.module.js')
script(src='/source/scripts/public/public.route.js')

script(src='/source/scripts/public/footer/public.footer.controller.js')
script(src='/source/scripts/public/header/public.header.controller.js')
script(src='/source/scripts/public/panel/public.panel.controller.js')

script(src='/source/scripts/public/index/public.index.module.js')
script(src='/source/scripts/public/index/public.index.controller.js')
script(src='/source/scripts/public/index/public.index.route.js')

script(src='/source/scripts/public/designer/public.designer.module.js')
script(src='/source/scripts/public/designer/public.designer.service.js')
script(src='/source/scripts/public/designer/public.designer.controller.js')
script(src='/source/scripts/public/designer/public.designer.route.js')

script(src='/source/scripts/public/designer/view/public.designer.view.module.js')
script(src='/source/scripts/public/designer/view/public.designer.view.service.js')
script(src='/source/scripts/public/designer/view/public.designer.view.controller.js')
script(src='/source/scripts/public/designer/view/public.designer.view.route.js')

script(src='/source/scripts/public/about/public.about.module.js')
script(src='/source/scripts/public/about/public.about.controller.js')
script(src='/source/scripts/public/about/public.about.route.js')

script(src='/source/scripts/public/answer/public.answer.module.js')
script(src='/source/scripts/public/answer/public.answer.controller.js')
script(src='/source/scripts/public/answer/public.answer.route.js')

script(src='/source/scripts/public/borrowing/public.borrowing.module.js')
script(src='/source/scripts/public/borrowing/public.borrowing.controller.js')
script(src='/source/scripts/public/borrowing/public.borrowing.route.js')

script(src='/source/scripts/public/certificates/public.certificates.module.js')
script(src='/source/scripts/public/certificates/public.certificates.controller.js')
script(src='/source/scripts/public/certificates/public.certificates.route.js')

script(src='/source/scripts/public/contact/public.contact.module.js')
script(src='/source/scripts/public/contact/public.contact.controller.js')
script(src='/source/scripts/public/contact/public.contact.route.js')

script(src='/source/scripts/public/custom/public.custom.module.js')
script(src='/source/scripts/public/custom/public.custom.controller.js')
script(src='/source/scripts/public/custom/public.custom.route.js')

script(src='/source/scripts/public/engagement/public.engagement.module.js')
script(src='/source/scripts/public/engagement/public.engagement.controller.js')
script(src='/source/scripts/public/engagement/public.engagement.route.js')

script(src='/source/scripts/public/engagement/list/public.engagement.list.module.js')
script(src='/source/scripts/public/engagement/list/public.engagement.list.controller.js')
script(src='/source/scripts/public/engagement/list/public.engagement.list.route.js')

script(src='/source/scripts/public/error/public.error.module.js')
script(src='/source/scripts/public/error/public.error.controller.js')
script(src='/source/scripts/public/error/public.error.route.js')

script(src='/source/scripts/public/exchange/public.exchange.module.js')
script(src='/source/scripts/public/exchange/public.exchange.controller.js')
script(src='/source/scripts/public/exchange/public.exchange.route.js')

script(src='/source/scripts/public/privacy/public.privacy.module.js')
script(src='/source/scripts/public/privacy/public.privacy.controller.js')
script(src='/source/scripts/public/privacy/public.privacy.route.js')

script(src='/source/scripts/public/product/public.product.module.js')
script(src='/source/scripts/public/product/public.product.controller.js')
script(src='/source/scripts/public/product/public.product.route.js')

script(src='/source/scripts/public/product/list/public.product.list.module.js')
script(src='/source/scripts/public/product/list/public.product.list.service.js')
script(src='/source/scripts/public/product/list/public.product.list.controller.js')
script(src='/source/scripts/public/product/list/public.product.list.route.js')

script(src='/source/scripts/public/product/view/public.product.view.module.js')
script(src='/source/scripts/public/product/view/public.product.view.service.js')
script(src='/source/scripts/public/product/view/public.product.view.controller.js')
script(src='/source/scripts/public/product/view/public.product.view.route.js')

script(src='/source/scripts/public/questions/public.questions.module.js')
script(src='/source/scripts/public/questions/public.questions.controller.js')
script(src='/source/scripts/public/questions/public.questions.route.js')

script(src='/source/scripts/public/questions/view/public.questions.view.module.js')
script(src='/source/scripts/public/questions/view/public.questions.view.controller.js')
script(src='/source/scripts/public/questions/view/public.questions.view.route.js')

script(src='/source/scripts/public/repair/public.repair.module.js')
script(src='/source/scripts/public/repair/public.repair.controller.js')
script(src='/source/scripts/public/repair/public.repair.route.js')

script(src='/source/scripts/public/repair/checking/public.repair.checking.module.js')
script(src='/source/scripts/public/repair/checking/public.repair.checking.controller.js')
script(src='/source/scripts/public/repair/checking/public.repair.checking.route.js')

script(src='/source/scripts/public/repair/cleaning/public.repair.cleaning.module.js')
script(src='/source/scripts/public/repair/cleaning/public.repair.cleaning.controller.js')
script(src='/source/scripts/public/repair/cleaning/public.repair.cleaning.route.js')

script(src='/source/scripts/public/repair/gluing/public.repair.gluing.module.js')
script(src='/source/scripts/public/repair/gluing/public.repair.gluing.controller.js')
script(src='/source/scripts/public/repair/gluing/public.repair.gluing.route.js')

script(src='/source/scripts/public/repair/refinishing/public.repair.refinishing.module.js')
script(src='/source/scripts/public/repair/refinishing/public.repair.refinishing.controller.js')
script(src='/source/scripts/public/repair/refinishing/public.repair.refinishing.route.js')

script(src='/source/scripts/public/repair/repolishing/public.repair.repolishing.module.js')
script(src='/source/scripts/public/repair/repolishing/public.repair.repolishing.controller.js')
script(src='/source/scripts/public/repair/repolishing/public.repair.repolishing.route.js')

script(src='/source/scripts/public/repair/sizing/public.repair.sizing.module.js')
script(src='/source/scripts/public/repair/sizing/public.repair.sizing.controller.js')
script(src='/source/scripts/public/repair/sizing/public.repair.sizing.route.js')

script(src='/source/scripts/public/repair/soldering/public.repair.soldering.module.js')
script(src='/source/scripts/public/repair/soldering/public.repair.soldering.controller.js')
script(src='/source/scripts/public/repair/soldering/public.repair.soldering.route.js')

script(src='/source/scripts/public/service/public.service.module.js')
script(src='/source/scripts/public/service/public.service.controller.js')
script(src='/source/scripts/public/service/public.service.route.js')

script(src='/source/scripts/public/service/alteration/public.service.alteration.module.js')
script(src='/source/scripts/public/service/alteration/public.service.alteration.controller.js')
script(src='/source/scripts/public/service/alteration/public.service.alteration.route.js')

script(src='/source/scripts/public/service/antique/public.service.antique.module.js')
script(src='/source/scripts/public/service/antique/public.service.antique.controller.js')
script(src='/source/scripts/public/service/antique/public.service.antique.route.js')

script(src='/source/scripts/public/service/appraisal/public.service.appraisal.module.js')
script(src='/source/scripts/public/service/appraisal/public.service.appraisal.controller.js')
script(src='/source/scripts/public/service/appraisal/public.service.appraisal.route.js')

script(src='/source/scripts/public/service/costume/public.service.costume.module.js')
script(src='/source/scripts/public/service/costume/public.service.costume.controller.js')
script(src='/source/scripts/public/service/costume/public.service.costume.route.js')

script(src='/source/scripts/public/service/custom/public.service.custom.module.js')
script(src='/source/scripts/public/service/custom/public.service.custom.controller.js')
script(src='/source/scripts/public/service/custom/public.service.custom.route.js')

script(src='/source/scripts/public/service/engraving/public.service.engraving.module.js')
script(src='/source/scripts/public/service/engraving/public.service.engraving.controller.js')
script(src='/source/scripts/public/service/engraving/public.service.engraving.route.js')

script(src='/source/scripts/public/studio/public.studio.module.js')
script(src='/source/scripts/public/studio/public.studio.controller.js')
script(src='/source/scripts/public/studio/public.studio.route.js')

script(src='/source/scripts/public/studio/about/public.studio.about.module.js')
script(src='/source/scripts/public/studio/about/public.studio.about.controller.js')
script(src='/source/scripts/public/studio/about/public.studio.about.route.js')

script(src='/source/scripts/public/studio/business/public.studio.business.module.js')
script(src='/source/scripts/public/studio/business/public.studio.business.controller.js')
script(src='/source/scripts/public/studio/business/public.studio.business.route.js')

script(src='/source/scripts/public/studio/career/public.studio.career.module.js')
script(src='/source/scripts/public/studio/career/public.studio.career.controller.js')
script(src='/source/scripts/public/studio/career/public.studio.career.route.js')

script(src='/source/scripts/public/studio/environment/public.studio.environment.module.js')
script(src='/source/scripts/public/studio/environment/public.studio.environment.controller.js')
script(src='/source/scripts/public/studio/environment/public.studio.environment.route.js')

script(src='/source/scripts/public/studio/equipment/public.studio.equipment.module.js')
script(src='/source/scripts/public/studio/equipment/public.studio.equipment.controller.js')
script(src='/source/scripts/public/studio/equipment/public.studio.equipment.route.js')

script(src='/source/scripts/public/studio/facility/public.studio.facility.module.js')
script(src='/source/scripts/public/studio/facility/public.studio.facility.controller.js')
script(src='/source/scripts/public/studio/facility/public.studio.facility.route.js')

script(src='/source/scripts/public/studio/press/public.studio.press.module.js')
script(src='/source/scripts/public/studio/press/public.studio.press.controller.js')
script(src='/source/scripts/public/studio/press/public.studio.press.route.js')

script(src='/source/scripts/public/terms/public.terms.module.js')
script(src='/source/scripts/public/terms/public.terms.controller.js')
script(src='/source/scripts/public/terms/public.terms.route.js')

script(src='/source/scripts/public/wedding/public.wedding.module.js')
script(src='/source/scripts/public/wedding/public.wedding.controller.js')
script(src='/source/scripts/public/wedding/public.wedding.route.js')

script(src='/source/scripts/public/wedding/list/public.wedding.list.module.js')
script(src='/source/scripts/public/wedding/list/public.wedding.list.controller.js')
script(src='/source/scripts/public/wedding/list/public.wedding.list.route.js')