.legal
	position relative
	width 768px
	margin 0 auto

	&__document
		float left
		width 668px
		padding 28px 50px 0 50px
		margin 0
		border-radius: 0

		h1
			float left
			width 100%
			margin 0 0 20px 0
			font-weight 400
			font-size 27px
			line-height 27px
			color $black
			text-align center

		h2
			padding 0 8px 5px 8px
			margin 0 0 14px 0
			font-weight 400
			font-size 20px
			line-height 28px
			color $black
			text-align center

		h3
			position relative
			width 228px
			padding 5px 0
			margin 0 auto 28px auto
			font-size 14px
			line-height 14px
			font-family 'soleil', sans-serif
			font-weight 400
			color $black
			text-align center

		p
			float left
			width 100%
			margin 0 0 14px 0
			font-family 'soleil', sans-serif
			font-weight 400
			font-size 15px
			line-height 25px
			color $paragraph
			text-align center

	&__row
		float left
		width 100%
		margin 0 0 14px 0

	&__container
		text-align center
		margin 0

	&__center
		display inline-block
		position relative
		z-index 99