header
	width 100%

.header
	width 768px

	&__container
		width 768px
		margin 0 auto

	&__navigation-icon
		display none

	&__search-icon
		display none

	&__logo
		width 217px
		height 80px
		margin 10px 10px 0 0

	&__information
		display block
		float left
		width 511px
		height 80px

		h4
			float left
			width 100%
			padding: 0
			margin 0
			font-family "le-monde-livre-classic-byol", sans-serif
			font-weight 400
			font-size 14px
			line-height 26px
			color $white

	&__column
		float left
		width 200px
		height 80px
		margin 10px 0 0 0
		text-align center

	&__phone
		float left
		width 100%

		.fa-phone
			margin 1px 8px 0 0
			font-size 15px
			color $white

	&__address
		float left
		width 100%

		.fa-map-marker
			margin 1px 8px 0 0
			font-size 15px
			color $white

	&__hours
		float left
		width 130px
		height 80px
		margin 10px 10px 0 0
		text-align center

	&__contact
		float left
		width 171px
		height 80px
		background $white

		h4
			color $black

	nav
		display block
		float left
		width 100%
		margin 20px 0 10px 0

	&__tiles
		float none
		position relative
		width 685px
		margin 0 auto

	&__tile
		float left
		height: 40px
		padding 0 12px
		margin 0 6px
		background: #444
		border-bottom 2px solid #000
		border-radius 4px

		h6
			//width 100%
			font-size 16px
			line-height 42px
			font-family 'le-monde-livre-classic-byol', sans-serif
			font-weight 400
			color: $white
			text-shadow $white-shadow

	&__tile.active
		background $accent
		border-bottom $accent-border-bottom

		//p
		//	font-size 19px
		//	font-style italic

	&__secondary
		display block
		float left
		width 100%
		height 44px
		background #686868
		border-bottom 2px solid #585858
		text-align center

	&__links
		display inline-block
		padding 0 0 0 28px
		height 100%

	&__link
		float left
		height 100%
		margin 0 28px 0 0

		h6
			float left
			width 100%
			font-family "le-monde-livre-classic-byol", sans-serif
			font-weight 400
			font-size 16px
			line-height 44px
			color $white
			text-shadow $white-shadow

		h6.active
			color $white

	&__tertiary
		display block
		float left
		width 100%
		height 44px
		background #828282
		border-top $black-border
		text-align center

	//&__search
	//	display block
	//
	//&__input
	//	width 310px
	//	height 41px
	//
	//	input
	//		width 260px
	//		height 100%
	//		padding 0 0 0 50px
	//
	//&__submit
	//	width 30px
	//	height 41px
	//	padding 0 5px
	//
	//	.fa-search
	//		font-size 20px
	//		line-height 20px