.custom
	width 100%

	&__holder
		width 708px
		margin 0 auto

	&__header
		width 708px

	&__detail
		width 668px
		margin 0 0 20px 20px

	&__btn
		width 216px
		padding 10px 0
		margin 0 0 20px 245px

		h2
			font-size 22px

	&__form
		width 418px
		padding 18px 0 12px 20px
		margin 0 0 20px 134px

	&__squaref
		width 398px
		margin 0 0 20px 0

	&__title
		width 100%
		margin 0 0 5px 0

		h4
			width 100%

	&__value
		width 394px
		height 40px

		input
			width 100%
			height 36px

		select
			width 398px
			height 40px

		select.half
			width 189px

	&__squaref.half
		width 189px
		margin 0 20px 20px 0

	&__value.half
		width 185px

	&__message
		width 396px
		height 200px

		textarea
			width 100%
			height 100%

	&__submit
		width 398px
		height 40px

		h5
			font-size 20px
			line-height 38px