header
	width 100%

.header
	position relative
	float none
	width 768px
	margin 0 auto

	&__holder
		float left
		width 100%
		margin 0
		background $primary
		border-bottom 2px solid #222

	&__navigation-icon
		display none

	&__search-icon
		display none

	&__nav
		width 768px
		margin 0 0 10px 0
		padding 0

	&__logo
		width 217px
		height 80px
		margin 10px 10px 0 0

	&__information
		display block
		float left
		width 511px
		height 80px
		margin 0

	&__column
		float left
		width 180px
		height 80px
		padding 0 10px
		margin 10px 0 0 0
		text-align center
		//border 1px solid black

	&__phone
		float left
		width 150px
		margin 0
		text-align center

		h5
			padding: 0
			margin 0
			font-family "le-monde-livre-classic-byol", sans-serif
			font-weight 400
			font-size 14px
			line-height 26px
			color $white

		.fa-phone
			margin 1px 8px 0 0
			font-size 15px
			color $white

	&__address
		float left
		width 100%
		margin 0
		text-align center

		h6
			padding: 0
			margin 0
			font-family "le-monde-livre-classic-byol", sans-serif
			font-weight 400
			font-size 14px
			line-height 26px
			color $white

	&__hours
		float left
		width 110px
		height 80px
		padding 0 10px
		margin 10px 10px 0 0
		text-align center

		h6
			float left
			width 100%
			padding: 0
			margin 0
			font-family "le-monde-livre-classic-byol", sans-serif
			font-weight 400
			font-size 14px
			line-height 26px
			color $white

	&__contact
		float left
		width 171px
		height 80px
		background cornsilk

	&__tiles
		display block
		float left
		width 100%
		margin 20px 0 0 0
		padding: 0
		height none
		text-align center

	&__tile
		display inline-block
		float left
		height: 40px
		padding 0 12px
		margin 0 6px
		background: #444
		border-bottom 2px solid #000
		border-radius 4px

		p
			//width 100%
			font-size 16px
			line-height 42px
			font-family 'le-monde-livre-classic-byol', sans-serif
			color: $white
			text-shadow $white-shadow

	&__tile.active
		background $accent
		border-bottom $accent-border-bottom

		//p
		//	font-size 19px
		//	font-style italic

	&__secondary
		display none
		float left
		width 100%
		height 44px
		padding: 0
		margin: 0
		background #686868
		border-bottom 2px solid #585858
		//border-top 1px solid #d7d7d7
		text-align center

	&__links
		position relative
		display inline-block
		padding 0
		margin 0

	&__link
		float left
		margin 0 28px 0 0

		p
			float left
			padding 0
			margin: 0
			font-family "le-monde-livre-classic-byol", sans-serif
			font-weight 500
			font-size 18px
			line-height 46px
			color #d2d2d2
			color $white
			text-shadow $white-shadow

		p.active
			color $white

	&__tertiary
		display block
		float left
		width 100%
		height 36px
		background #cfcfcf
		border-top 1px solid #d7d7d7
		text-align center

	//&__search
	//	display block
	//
	//&__input
	//	width 310px
	//	height 41px
	//
	//	input
	//		width 260px
	//		height 100%
	//		padding 0 0 0 50px
	//
	//&__submit
	//	width 30px
	//	height 41px
	//	padding 0 5px
	//
	//	.fa-search
	//		font-size 20px
	//		line-height 20px