.testimonial
	width 100%

	&__holder
		width 768px
		margin 0 auto

	&__squares
		width 743px
		padding 0 0 0 25px

	&__square
		width 686px
		padding 13px 15px
		margin 0 0 15px 0

		p
			float none
			width 100%
			margin 0 0 8px 0
			font-size 17px
			line-height 25px

	&__square.half
		width 320px
		margin 0 14px 15px 0

	&__customer
		width 80px
		height 80px
		margin 0 5px 0 0

	&__image
		width 75px
		height 75px

		img
			width 100%

	&__name
		width 100%

		h5
			font-size 17px
			line-height 17px