.header
	width 335px

	&__container
		margin 0

	&__content
		padding 0 0 10px 0

	&__logo
		width 70px
		height: 70px
		margin: 16px 0 0 0

	&__map
		width 245px
		height 40px
		margin 0 0 0 20px

	&__navigation
		width 34px
		height 34px
		margin 10px 0 0 9px

		.fa-bars
		.fa-instagram
		.fa-phone
		.fa-search
		.fa-twitter
			font-size 18px
			line-height 34px

		.fa-bars
		.fa-instagram
		.fa-twitter
			font-size 20px
			line-height 34px

		.fa-phone
			font-size 20px
			line-height 36px