.about
	width 375px
	padding 20px 0 0 0

	&__title
		width 100%

		h1
			margin 0 0 20px 0
			font-size 23px
			line-height 33px

	&__stars
		margin 0 0 20px 0

		h4
			font-size 18px
			line-height 18px

	&__intro
		margin 0 0 20px 0

		h2
			font-size 18px
			line-height 18px

	&__description
		width 335px
		padding 0 20px
		margin 0 0 20px 0

		h5
			font-size 18px
			line-height 28px

	&__testimonials
		width 355px
		padding-left 20px

	&__testimonial
		width 295px
		padding 18px 20px 14px 20px
		margin 0 0 20px 0

	&__row
		width 100%

		h3
			font-size 18px
			line-height 18px

		p
			margin 0 0 10px 0
			font-size 17px
			line-height 27px