.filter
	width 345px
	padding 18px 0 18px 10px
	margin 20px 0 0 10px
	border-radius 4px

	&__square
		width: 163px
		margin 0 9px 18px 0

	&__min
	&__max
		width 78px
		margin -10px 0 0 0

		span
			height 28px
			font-size 14px
			line-height 28px

	&__max
		margin -10px 0 0 257px

	&__slider
		width 335px
		margin: 10px 0 0 0

		.ngrs-range-slider
			height 54px
			padding 6px

		.ngrs-range-slider .ngrs-runner
			width 283px
			height 18px

		.ngrs-range-slider .ngrs-join
			top 16px
			height 10px

		.ngrs-range-slider .ngrs-handle
			width 40px
			height 40px

	&__title
		margin: 0 0 14px 0

		h6
			font-size 17px
			line-height 17px

	&__value
		width 100%

		select
			height 48px
			font-size 16px
			line-height 18px

		input
			width 295px
			height 48px
			padding 0 10px
			font-size 16px

	&__mask
		width 162px
		height 45px

		h4
			font-size 18px
			line-height 46px

		.fa-caret-down
			width 10px
			margin 0 10px 0 0
			font-size 17px
			line-height 17px

	&__tags
		width 230px
		margin -3px 0 0 125px

	&__tag
		width: 130px
		height: 34px
		margin 0 10px 0 0

		h5
			font-size 17px
			line-height 36px

		.fa-plus
			width 20px
			font-size 20px
			line-height 39px

	&__reset
		width 38px
		height 34px

		.fa-close
			font-size 19px
			line-height 37px