.main
	float left
	width 100%

	&__holder
		position relative
		width 375px
		margin 0 auto

	&__spacer
		width 100%
		margin 0 0 70px 0

	&__banner
		width 345px
		height 75px
		padding 0 15px
		margin 0 0 20px 0

		h1
			font-size 22px
			line-height 75px

	&__squares
		width 365px
		padding 0 0 30px 0
		margin 0 0 0 15px

	&__square
		width 305px
		padding 20px 20px 24px 20px
		margin 0 0 18px 0

		h1
			font-size 24px
			line-height 24px

		p
		li
			font-size 17px
			line-height 25px