.header
	width 355px

	&__container
		margin 0

	&__content
		padding 10px 0 10px 0

	&__logo
		width 160px
		height: 50px

	&__navigation
		width 36px
		height 36px
		margin 13px 0 0 8px

		.fa-bars
		.fa-phone
		.fa-search
			font-size 19px
			line-height 36px

		.fa-bars
			font-size 20px
			line-height 37px

		.fa-phone
			font-size 20px
			line-height 38px