.designers
	width 440px
	margin 30px 0 0 40px

	&__square
		width 398px
		margin 0 20px 20px 0

	&__profile
		width 80px
		padding 10px

	&__picture
		width 78px
		height 116px

		img
			width 100%

	&__details
		width 297px
		padding 10px 0 5px 0

	&__row
		width 288px
		padding 0 0 0 10px
		margin 0 0 5px 0

	&__name
		width 224px


	&__social
		width 22px
		height 22px
		margin 0 10px 0 0

		.fa-facebook
			font-size 20px
			margin 3px 0 0 0

		.fa-instagram
			font-size 25px
			margin 1px 0 0 0

	&__school
		width 278px
		margin 0 0 3px 0

		h5
			font-size 14px
			line-height 18px

		h6
			width 275px
			margin 0 0 0 3px
			font-size 12px
			line-height 18px

	&__specialty
		padding 3px 7px
		margin 0 10px 6px 0

		h3
			font-size 14px
			line-height 14px

	&__description
		width 277px

		p
			font-size 15px
			line-height 18px

.designer
	width 100%

	&__container
		width 480px
		margin 0 auto

	&__view
		width 465px
		padding 15px 0 0 15px

	&__images
		width 450px
		margin 0 0 20px 0

	&__headshot
		width 370px
		height 244px
		margin 0 10px 0 0

		h4
			width 100%
			margin 0 0 10px 0
			font-size 20px
			line-height 244px

		img
			width 100%

	&__thumbnails
		width 70px
		padding 0
		height 70px

	&__thumbnail
		width 70px
		height 70px
		margin 0 15px 8px 0

		h4
			width 100%
			font-size 10px
			line-height 70px

	&__information
		width 435px
		padding 10px 0 0 15px
		margin 0 0 20px 0

	&__name
		width 420px
		margin 0 0 4px 0

		h1
			width 100%
			font-size 27px

	&__quote
		width 420px
		margin 0 0 15px 0

		h3
			width 100%
			font-size 14px
			line-height 20px

	&__socials
		width 420px
		margin 0 0 15px 0

	&__social
		width 92px
		height 45px
		margin 0 12px 0 0

		h6
			width 100%
			font-size 15px
			line-height 45px

	&__biography
		width 420px
		margin 0 0 20px 0

		h5
			width 100%
			font-size 14px
			line-height 22px

	&__certificates
		width 435px
		padding 10px 0 0 15px
		margin 0 0 10px 0

		h1
			width 100%
			margin 0 0 10px 0
			font-size 20px
			line-height 20px

	&__certificate
		width 303px
		padding 5px 10px
		margin 0 0 10px 0

		h4
			width 100%
			font-size 13px
			line-height 20px

		h5
			width 100%
			font-size 12px
			line-height 23px

	&__items
		width 440px
		padding 0 0 0 50px

	&__item
		width 380px
		margin 0 0 20px 0

		h4
			width 100%
			font-size 30px
			line-height 190px
