.studio
	position relative
	width 480px
	margin 0 auto

	&__intro
		float left
		width 440px
		padding 20px
		margin 0 0 30px 0
		text-align center
		background #ff9

		h1
			margin 0 0 20px 0
			font-size 30px
			line-height 30px

		p
			float left
			width 100%
			margin 0
			font-size 16px
			line-height 22px

	&__tour
		float left
		width 200px
		height 40px
		margin 20px 0 0 120px
		background $black
		border-radius 4px
		text-align center

		h4
			width 100%
			font-size 20px
			line-height 40px
			color $white

	&__rental
		float left
		width 440px
		padding 20px
		margin 0 0 20px 0
		background #ff9
		text-align center

		h2
			margin 0 0 20px 0

		p
			margin 0 0 20px 0
			font-size 16px
			line-height 24px

	&__prices
		float left
		width 320px
		margin 0 0 0 90px

	&__price
		float left
		width 140px
		padding 10px 0
		margin 0 20px 20px 0
		background $black
		border-radius 4px
		text-align center

		h4
			margin 0 0 2px 0
			font-size 22px
			color $white

		h5
			display inline-block
			font-size 20px
			font-weight 400
			color $white

		p
			display inline-block
			margin 0 0 0 7px
			color $white

	&__ameneties
		float left
		width 440px
		height 350px
		margin 0 0 30px 20px
		background #ff9

	&__image
		float left
		width 440px
		height 50%
		background red

	&__detail
		float left
		width 440px
		padding 40px 0
		text-align center

		h3
			margin 0 0 10px 0
			font-size 24px

		p
			margin 0 0 10px 0

	&__tabs
		float left
		width 420px
		padding 0 0 0 20px
		margin 0 0 0 20px
		border-bottom $black-border
		background #f2f

	&__tab
		float left
		width 200px
		height 40px
		border $black-border
		border-bottom none
		border-radius 4px 4px 0 0
		text-align center

		h2
			font-size 23px
			line-height 40px

	&__content
		float left
		width 398px
		padding 18px 20px 10px 20px
		margin 0 0 0 20px
		border $black-border
		border-top none

		p
			margin 0 0 10px 0
			font-size 16px
			line-height 26px
			font-family 'usual', sans-serif
			font-weight 400

	&__large
		float left
		width 120px
		height 60px
		margin 0 14px 0 0
		background #ff9

	&__quote
		float left
		width 100%
		margin 0 0 10px 0
		text-align center

		h4
			float left
			font-size 20px
			line-height 20px

		h5
			float left
			width 378px
			font-size 17px
			line-height 25px
			font-weight 600

	&__medium
		float right
		width 100px
		height 50px
		margin 0 0 0 14px
		background #ff9

	&__small
		float left
		width 80px
		height 40px
		margin 0 14px 0 0
		background #ff9