footer
	width 100%

.footer
	width: 100%
	padding 10px 0

	&__container
		width 440px
		margin 0 auto

	&__row
		width 440px
		margin 0 auto

	&__map
		width 440px
		height 196px

		h1
			width 100%
			line-height 160px

	&__column
		width 190px
		height 100%
		padding 0 0 0 10px
		margin 0 0 0 20px

	.column__title
		width 100%

		h1
			width 100%

	.column__list
		width 100%

	.column__item
		width 100%
		padding 5px 0
		margin 0 0 10px 0

		p
			width 100%
			font-size 16px
			line-height 16px