header
	width 100%

.header
	width 480px
	margin 0 auto 0 auto

	&__nav
		width 440px
		padding 10px 20px

	&__logo
		width 160px
		height 46px
		margin 3px 0 0 0

		p
			width 100%
			font-size 20px
			line-height 46px


	&__navigation-icon
		float right
		width 30px
		height 30px
		margin 0 0 0 15px

	&__search-icon
		float right
		width 30px
		height 30px

	&__rows
		width 268px
		height 87px
		margin 0 0 0 20px

	&__row.top
		width 100%
		height 35px
		margin 0 0 9px 0

	&__location
		width 290px
		height 35px

		p
			width 100%
			font-size 16px
			line-height 35px

	&__contact
		width 210px
		height 35px
		margin 0 0 0 15px

		p
			width 100%
			font-size 16px
			line-height 35px

	&__row.bottom
		width 100%
		height 43px

	&__input
		width 310px
		height 41px

		input
			width 260px
			height 100%
			padding 0 0 0 50px

	&__submit
		width 30px
		height 41px
		padding 0 5px

		.fa-search
			font-size 20px
			line-height 20px

	&__tile
		height 43px
		padding 0 16px
		margin 0 12px 0 0

		p
			width 100%
			font-size 17px
			line-height 43px