.press-view
	width 480px
	margin 20px 0 0 0

	&__container
		width 480px
		margin 0 auto

	&__heading
		width 430px
		margin 0 0 0 25px

		h1
			font-size 32px

	&__content
		width 408px
		padding 10px
		margin 0 0 15px 25px

		p
			font-size 18px
			line-height 25px

	&__video
		width 430px
		height 242px
		margin 0 0 15px 25px

	&__article
		width 430px
		height 200px
		margin 0 0 15px 25px

	&__details
		margin 0 0 15px 0