.page
	position relative
	min-height 100% !important
	//height auto !important
	//height 100%;
	margin 0 auto 0 auto

.block
	position relative
	width 100%
	background #f2f2f2
	padding 0
	margin 0
	z-index: 1

	&__container
		float left
		width: 100%
		margin 0 0 20px 0

.container
	position relative
	width 480px
	padding: 0
	margin 0 auto
	//background #ff9
	z-index: 3