.legal
	.legal__holder
		h1.tk-uppercut-angle Privacy Policy
		h5.tk-freight-sans-pro Last updated: February 2016

		p.tk-freight-sans-pro This privacy policy is included in the Terms of Use Agreement by reference.

		p.tk-freight-sans-pro Quiver Customs collects and uses personal information for many purposes, including but not limited to, billing; product and service fulfilment; understanding client needs; website improvement; product and service improvement; transactions; communication with customers and potential customers regarding products and services and third party products and services. Clients’ private information will only be disclosed to Quiver Customs’ owners, employees, independent contractors, and service providers, acting on Quiver Customs’s’ behalf or request.

		h3.tk-freight-sans-pro Information Collected by the ISP

		p.tk-freight-sans-pro The hosting provider for clients’ internet site has the ability to record various information, including domain name, pages accessed, date and time of access, web browser type and computer operating system, and referring information, and to disclose this information.

		h3.tk-freight-sans-pro Financial Information for Billing Purposes

		p.tk-freight-sans-pro When sales are made by Quiver Customs, financial information must be disclosed. This information can include any number of facts Licensee is asked to provide, but most commonly includes name, financial / credit card information, billing address, and email address.

		p.tk-freight-sans-pro In the event Quiver Customs receives financial / credit card information, we will not disclose it to anyone unless disclosure is required by law or a court order, or unless disclosure is required to address an issue implicated by the financial transaction. If client claims that their financial information was used to make a purchase they did not authorise, details about the financial transaction may be disclosed to law enforcement and anyone else deemed necessary to address the matter.

		h3.tk-freight-sans-pro Use of eMail Addresses and other Contact Information

		p.tk-freight-sans-pro Quiver Customs relies heavily on the use of email, telephone and the internet to provide information to the client and client expressly consents to receiving communications via email, text or voice message to cell phone, fax, telephone, mail, or any other delivery method.

		p.tk-freight-sans-pro Client agrees to receive information about the product or service purchased. This may include, but is not limited to, information about product or service updates, new features, or information Quiver Customs believes the client may find interesting.

		p.tk-freight-sans-pro Quiver Customs will not sell, provide, or transfer Licensees email address to others and will only send information about other products and services when they are related to a product or service already purchased, or form part of an upgrade to material.

		p.tk-freight-sans-pro Quiver Customs does not allow advertising, or engage in joint marketing ventures. Client should not receive advertisements from third parties. If client does receive an advertisement claiming to be related to Quiver Customs, that fact must be made known to us immediately.

		h3.tk-freight-sans-pro Identification of Purchasers

		p.tk-freight-sans-pro If the client purchases a product or service, and joins one of the online forums, client authorises us to use their name and correspond in the manner intended for that forum.

		p.tk-freight-sans-pro Quiver Customs also uses personal information in an aggregate form (i.e., not individually attributable to Licensees) for business analysis, operational and marketing purposes.