header
	.header__container
		.header
			.header__logo
				p Logo
			.header__gap
			.header__navigation
				.header__tile
					p Tile
				.header__tile
					p Tile
				.header__tile
					p Tile
				.header__tile
					p Tile
				.header__tile
					p Tile