header
	.header__container
		.header
			.header__logo(ui-sref='app.public.index')
				img(src='public/images/logo.png')

			//.header__navigation-icon(data-ng-click='vm.open()')
				span.fa.fa-bars

			//.header__search-icon
				span.fa.fa-search

			.header__information
				.header__column
					.header__phone
						//h4 #[span.fa.fa-phone] 416-463-2136

					.header__address
						//h4 #[span.fa.fa-map-marker] 1338 Queen Street West, Toronto

				.header__hours
					//h4 M - F: 10 - 8PM
					//h4 Sat: 10 - 6PM
					//h4 Sun: 12 - 5PM

				.header__contact
					h4 Contact

			//.header__search
				.header__input
					input(placeholder="Search...")

				.header__submit
					button
						span.fa.fa-search

			nav
				.header__tiles
					.header__tile(ui-sref='app.public.index' ui-sref-active='active')
						h6 Home

					.header__tile(ui-sref='app.public.wedding.list' ui-sref-active='active')
						h6 Wedding

					.header__tile(ui-sref='app.public.engagement.list' ui-sref-active='active')
						h6 Engagement

					.header__tile(ui-sref='app.public.product.list' ui-sref-active='active')
						h6 Jewellery

					//.header__tile(ui-sref='app.public' ui-sref-active='active')
						h6 Custom

					.header__tile(ui-sref='app.public.designer' ui-sref-active='active')
						h6 Designers

					.header__tile(ui-sref='app.public.service.land' ui-sref-active='active')
						h6 Services

					//.header__tile(ui-sref='app.public.repair.land' ui-sref-active='active')
						h6 Repairs

					.header__tile(ui-sref='app.public.studio.land' ui-sref-active='active')
						h6 Studio

					//.header__tile(ui-sref='app.public. fct' ui-sref-active='active')
						h6 Contact