header
	.header
		.header__socials-bar
			.header__icons
				.header__icon
					a(href="https://www.instagram.com/madeyoulookjewellery/" target="_blank") #[span.fa.fa-instagram]

				.header__icon
					a(href="https://www.pinterest.ca/myljewellery/" target="_blank") #[span.fa.fa-pinterest]

				.header__icon
					a(href="https://www.facebook.com/madeyoulookjewellery" target="_blank") #[span.fa.fa-facebook]

				.header__icon
					a(href="https://twitter.com/myljewellery" target="_blank") #[span.fa.fa-twitter]

			.header__phone
				h5 #[span.fa.fa-phone] 416-463-2136

			.header__hours
				h6 M - F: 10-8PM | Sat: 10-6PM | Sun: 12-5PM

			.header__address
				h6 1338 Queen Street West, Toronto

				.header__icon
					span.fa.fa-map-marker

		.header__nav

			.header__logo(ui-sref='app.public.index')
				img(src='public/images/logo.png')

			.header__navigation-icon(data-ng-click='vm.open()')
				span.fa.fa-bars

			.header__search-icon
				span.fa.fa-search

			//.header__rows
				.header__row.bottom
			//.header__search
				.header__input
					input(placeholder="Search...")

				.header__submit
					button
						span.fa.fa-search

			.header__navigation
				.header__tile.nav
					p Nav

				.header__tile(ui-sref='app.public.wedding' ui-sref-active='active')
					p Wedding &amp; Engagement

				.header__tile(ui-sref='app.public.product' ui-sref-active='active')
					p Jewellery

				.header__tile
					p Custom Design

				.header__tile(ui-sref='app.public.designer' ui-sref-active='active')
					p Designers

				.header__tile(ui-sref='app.public.service' ui-sref-active='active')
					p Services

				.header__tile(ui-sref='app.public.repair' ui-sref-active='active')
					p Repairs

				.header__tile(ui-sref='app.public.studio.about' ui-sref-active='active')
					p Studio

				.header__tile.last(ui-sref='app.public.contact' ui-sref-active='active')
					p Contact