header
	.header__container
		.header
			.header__logo
				p Logo
			.header__gap
			.header__navigation
				.header__tile
					p Contact
				.header__tile
					p About
				.header__tile
					p Inventory
				.header__tile
					p Process
				.header__tile
					p Home