header
	.header
		//.header__socials-bar
			.header__icons
				.header__icon
					a(href="https://www.instagram.com/madeyoulookjewellery/" target="_blank") #[span.fa.fa-instagram]

				.header__icon
					a(href="https://www.pinterest.ca/myljewellery/" target="_blank") #[span.fa.fa-pinterest]

				.header__icon
					a(href="https://www.facebook.com/madeyoulookjewellery" target="_blank") #[span.fa.fa-facebook]

				.header__icon
					a(href="https://twitter.com/myljewellery" target="_blank") #[span.fa.fa-twitter]

			.header__phone
				h5 #[span.fa.fa-phone] 416-463-2136

			.header__hours
				h6 M - F: 10-8PM | Sat: 10-6PM | Sun: 12-5PM

			.header__address
				h6 1338 Queen Street West, Toronto

				.header__icon
					span.fa.fa-map-marker

		.header__nav

			.header__logo(ui-sref='app.public.index')
				img(src='public/images/logo.png')

			.header__navigation-icon(data-ng-click='vm.open()')
				span.fa.fa-bars

			.header__search-icon
				span.fa.fa-search

			.header__information
				.header__column
					.header__phone
						h5 #[span.fa.fa-phone] 416-463-2136

					.header__address
						h6 #[span.fa.fa-map-marker] 1338 Queen Street West, Toronto

				.header__hours
					h6 M - F: 10 - 8PM
					h6 Sat: 10 - 6PM
					h6 Sun: 12 - 5PM

				.header__contact
					h6 Contact

			//.header__search
				.header__input
					input(placeholder="Search...")

				.header__submit
					button
						span.fa.fa-search

			.header__navigation
				.header__tile(ui-sref='app.public.wedding.list' ui-sref-active='active')
					p Wedding

				.header__tile(ui-sref='app.public.engagement.list' ui-sref-active='active')
					p Engagement

				.header__tile(ui-sref='app.public.product.list' ui-sref-active='active')
					p Jewellery

				.header__tile(ui-sref='app.public.custom' ui-sref-active='active')
					p Custom

				.header__tile(ui-sref='app.public.designer' ui-sref-active='active')
					p Designers

				.header__tile(ui-sref='app.public.service' ui-sref-active='active')
					p Services

				.header__tile(ui-sref='app.public.repair' ui-sref-active='active')
					p Repairs

				.header__tile(ui-sref='app.public.studio.about' ui-sref-active='active')
					p Studio

				.header__tile(ui-sref='app.public.contact' ui-sref-active='active')
					p Contact

		//.header__secondary
			.header__links
				.header__link
					p sub-link
				.header__link
					p sub-link
				.header__link
					p sub-link

		//.header__tertiary
			.header__links
				.header__link
					p sub-sub-link
				.header__link
					p sub-sub-link
				.header__link
					p sub-sub-link
				.header__link
					p sub-sub-link
				.header__link
					p sub-sub-link