md-sidenav.md-sidenav.md-closed(md-component-id='panel' md-disable-backdrop)
	.mobile
		.mobile__tile(ui-sref='app.public.product' ui-sref-active='active' data-ng-click='vm.close()')
			h4 Jewellery

		.mobile__tile(ui-sref='app.public.wedding' ui-sref-active='active' data-ng-click='vm.close()')
			h4 Weddings

		.mobile__tile(ui-sref='app.public.engagement' ui-sref-active='active' data-ng-click='vm.close()')
			h4 Engagement

		.mobile__tile(ui-sref='app.public.designer' ui-sref-active='active')
			//(data-ng-click='vm.createPool()' data-ng-class="{active: $state.includes('app.private.create')}")
			h4 Designers

		.mobile__tile(ui-sref='app.public.service' ui-sref-active='active')
			//(data-ui-sref='app.private.setting.profile' data-ui-sref-active='active' data-ng-click='vm.close()')
			h4 Services

		.mobile__tile(ui-sref='app.public.repair' ui-sref-active='active')
			//(data-ui-sref='app.private.friend' data-ui-sref-active='active' data-ng-click='vm.close()')
			h4 Repairs

		.mobile__tile(ui-sref='app.public.studio.about' ui-sref-active='active')
			//(data-ng-click='vm.logout()')
			h4 Studio

		.mobile__tile(ui-sref='app.public.contact' ui-sref-active='active')
			//(data-ng-click='vm.logout()')
			h4 Contact

	.mobile__close(data-ng-click='vm.close()')
		.fa.fa-close

.backdrop(ng-show='vm.backdrop' data-ng-click='vm.close()')