md-sidenav.md-sidenav.md-closed(md-component-id='panel' md-disable-backdrop)
	.mobile
		.mobile__button(data-ng-click='vm.activate("index")' data-ng-class='{active: vm.state.index}')
			h4 Home

		.mobile__button(data-ng-click='vm.activate("wedding")' data-ng-class='{active: vm.state.wedding}')
			h4 Wedding

		.mobile__secondary(data-ng-show='vm.state.wedding')
			.mobile__link
				p sub-link

			.mobile__link
				p sub-link

			.mobile__link
				p sub-link

		.mobile__button(data-ng-click='vm.activate("engagement")' data-ng-class='{active: vm.state.engagement}')
			h4 Engagement

		.mobile__secondary(data-ng-show='vm.state.engagement')
			.mobile__link
				p sub-link

			.mobile__link
				p sub-link

			.mobile__link
				p sub-link

		.mobile__button(data-ng-click='vm.activate("product")' data-ng-class='{active: vm.state.product}')
			h4 Jewellery

		.mobile__secondary(data-ng-show='vm.state.product')
			.mobile__link
				p sub-link

			.mobile__link
				p sub-link

			.mobile__link
				p sub-link

		.mobile__button(data-ng-click='vm.activate("custom")' data-ng-class='{active: vm.state.custom}')
			h4 Custom

		.mobile__button(ui-sref='app.public.designer' data-ng-click='vm.activate("designer")' data-ng-class='{active: vm.state.designer}')
			h4 Designers

		.mobile__button(data-ng-click='vm.activate("service")' data-ng-class='{active: vm.state.service}')
			h4 Services

		.mobile__secondary(data-ng-show='vm.state.service')
			.mobile__link(ui-sref='app.public.service.alteration' ui-sref-active='active' data-ng-click='vm.close()')
				p Alteration

			.mobile__link(ui-sref='app.public.service.antique' ui-sref-active='active' data-ng-click='vm.close()')
				p Antique & Vintage

			.mobile__link(ui-sref='app.public.service.appraisal' ui-sref-active='active' data-ng-click='vm.close()')
				p Appraisal

			.mobile__link(ui-sref='app.public.service.costume' ui-sref-active='active' data-ng-click='vm.close()')
				p Costume

			.mobile__link(ui-sref='app.public.service.custom' ui-sref-active='active' data-ng-click='vm.close()')
				p Custom

			.mobile__link(ui-sref='app.public.service.engraving' ui-sref-active='active' data-ng-click='vm.close()')
				p Engraving

		.mobile__button(data-ng-click='vm.activate("repair")' data-ng-class='{active: vm.state.repair}')
			h4 Repairs

		.mobile__secondary(data-ng-show='vm.state.repair')
			.mobile__link(ui-sref='app.public.repair.checking' ui-sref-active='active' data-ng-click='vm.close()')
				p Checking

			.mobile__link(ui-sref='app.public.repair.cleaning' ui-sref-active='active' data-ng-click='vm.close()')
				p Cleaning

			.mobile__link(ui-sref='app.public.repair.gluing' ui-sref-active='active' data-ng-click='vm.close()')
				p Gluing

			.mobile__link(ui-sref='app.public.repair.refinishing' ui-sref-active='active' data-ng-click='vm.close()')
				p Refinishing

			.mobile__link(ui-sref='app.public.repair.repolishing' ui-sref-active='active' data-ng-click='vm.close()')
				p Repolishing

			.mobile__link(ui-sref='app.public.repair.sizing' ui-sref-active='active' data-ng-click='vm.close()')
				p Ring Sizing

			.mobile__link(ui-sref='app.public.repair.soldering' ui-sref-active='active' data-ng-click='vm.close()')
				p Soldering

		.mobile__button(data-ng-click='vm.activate("studio")' data-ng-class='{active: vm.state.studio}')
			h4 Studio

		.mobile__secondary(data-ng-show='vm.state.studio')
			.mobile__link(ui-sref='app.public.studio.about' ui-sref-active='active' data-ng-click='vm.close()')
				p About

			.mobile__link(ui-sref='app.public.studio.business' ui-sref-active='active' data-ng-click='vm.close()')
				p Business

			.mobile__link(ui-sref='app.public.studio.career' ui-sref-active='active' data-ng-click='vm.close()')
				p Career

			.mobile__link(ui-sref='app.public.studio.environment' ui-sref-active='active' data-ng-click='vm.close()')
				p Environment

			.mobile__link(ui-sref='app.public.studio.equipment' ui-sref-active='active' data-ng-click='vm.close()')
				p Equipment

			.mobile__link(ui-sref='app.public.studio.facility' ui-sref-active='active' data-ng-click='vm.close()')
				p Facility

			.mobile__link(ui-sref='app.public.studio.press' ui-sref-active='active' data-ng-click='vm.close()')
				p Press

		.mobile__button(data-ng-click='vm.activate("contact")' data-ng-class='{active: vm.state.contact}')
			h4 Contact

	.mobile__close(data-ng-click='vm.close()')
		.fa.fa-close

.backdrop(ng-show='vm.backdrop' data-ng-click='vm.close()')