.block
	.container
		.questions
			.questions__search
				.questions__title
					h1 Search
				.questions__value
					input(placeholder='Questions search...')
					.fa.fa-search
			.questions__squares
				.questions__square
					.questions__question
						.questions__q
							h5 Q.
						h6 Where do you get your materials?
					.questions__answer
						.questions__a
							h5 A.
						h6 We acquire our materials through sustainable resources, and contacts.
				.questions__square
					.questions__question
						.questions__q
							h5 Q.
						h6 Are your diamonds conflict free?
					.questions__answer
						.questions__a
							h5 A.
						h6 They are and come with certification stating so.
				.questions__square
					.questions__question
						.questions__q
							h5 Q.
						h6 What are your rates for borrowing?
					.questions__answer
						.questions__a
							h5 A.
						h6 If used for non-profit it's a flat rate. If for profit, its a percentage of commission made using our product.
