.block
	.block__container
		.container
			.jewellers
				.jewellers__square(data-ng-repeat='jeweller in vm.jewellers')
					.jewellers__left
						.jewellers__profile
							.jewellers__picture
								img
						.jewellers__contact
							//.jewellers__phone
								h5 Phone
							.jewellers__email
								h5 Email
								//.fa.fa-at

						.jewellers__certificates
							.jewellers__certificate
								h2 Certificate
							//.jewellers__certificate
								h2 Certificate
							//.jewellers__certificate
								h2 Certificate

					.jewellers__middle
						.jewellers__top
							.jewellers__title
								.jewellers__name
									h2 Justin Test
							.jewellers__specialties
								.jewellers__specialty
									h4 Specialty
								.jewellers__specialty
									h4 Specialty
								.jewellers__specialty
									h4 Specialty
								.jewellers__specialty
									h4 Specialty
						.jewellers__bottom
							.jewellers__intro
								.jewellers__brief
									p This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description.
									.jewellers__signature
										h3 Signature