.header
	width 440px

	&__container
		margin 0

	&__content
		padding 0 0 10px 0

	&__logo
		width 70px
		height 70px

	&__map
		width 245px
		height 40px
		margin 0 0 0 20px

	&__navigation
		width 36px
		height 36px
		margin 13px 0 0 8px

		.fa-bars
		.fa-phone
		.fa-search
			font-size 19px
			line-height 36px

		.fa-bars
			font-size 20px
			line-height 37px

		.fa-phone
			font-size 20px
			line-height 38px