.exchange
	width 480px

	&__document
		width 440px
		padding 28px 20px 0 20px

		h1
			margin 0 0 20px 0
			font-size 27px
			line-height 27px

		h3
			width 228px
			padding 5px 0
			margin 0 auto 28px auto
			font-size 14px
			line-height 14px

		p
			font-size 18px
			line-height 28px

	&__row
		margin 0 0 14px 0

	&__container
		margin 0 0 20px 0

	&__center
		display inline-block

	&__points
		width 400px
		padding 18px 20px 10px 20px
		margin 0 0 20px 0

	&__point
		width 400px
		padding 10px 0
		margin 0 0 10px 0

		h4
			width 354px
			font-size 19px
			line-height 29px

	&__number
		float left

		h2
			padding 0 10px
			font-size 19px
			line-height 29px