.service
	.service__holder
		.grid
			.grid__holder
				.grid__row
					.grid__title
						h1 Title

				.grid__row
					.grid__head
						h2 Head

					.grid__column
						p Value

					.grid__column
						p Value

					.grid__column
						p Value

					.grid__column
						p Value

				.grid__row
					.grid__head
						h2 Head

					.grid__column
						p Value

					.grid__column
						p Value

					.grid__column
						p Value

					.grid__column
						p Value

				.grid__row
					.grid__head
						h2 Head

					.grid__column
						p Value

					.grid__column
						p Value

					.grid__column
						p Value

					.grid__column
						p Value