.press
	width 375px
	margin 20px 0 0 0

	&__container
		width 375px
		margin 0 auto

	&__grid
		float left
		width 356px
		margin 0 0 0 19px

	&__square
		width 332px
		margin 0 0 20px 0

	&__detail
		width 322px
		padding 10px 0 10px 10px

	&__title
		width 312px
		margin 0 0 3px 0

	&__date
		width 312px
		margin 0 0 10px 0

		h5
			font-size 14px

	&__publication
		width 312px

		h3
			font-size 18px

		h5
			font-size 14px

	&__link
		width 27px
		height 27px
		margin 0 0 2px 0

		.fa-link
			font-size 17px
			line-height 28px

	&__icons
		width 312px

	&__icon
		margin 0 10px

		.fa-twitter
		.fa-google-plus
		.fa-pinterest-p
		.fa-envelope
			font-size 17px