.designers
	width 365px
	padding 0
	margin 30px 0 0 10px

	&__square
		width 355px
		height 298px
		padding 0
		margin 0 20px 20px 0

	&__left
		width 100px
		height 278px
		padding 10px 0

	&__profile
		width 80px
		padding 10px
		margin 0

	&__picture
		width 78px
		height 78px
		padding 0
		margin 0

		img
			width 100%

	&__contact
		width 80px
		padding 10px
		margin 0

	&__email
		width 78px
		height 37px
		padding 0
		margin 0

	h5
		font-size 14px
		line-height 37px

	&__certificates
		width 80px
		padding 10px
		margin 0

	&__certificate
		width 78px
		height 37px
		margin 0

		h2
			font-size 14px
			line-height 37px

	&__top
		width 255px
		height 140px
		padding 10px 0

	&__title
		width 205px
		padding 10px 25px
		margin 0 0 10px 0

	&__name
		width 205px
		height 28px

		h2
			width 205px
			font-size 20px
			line-height 28px

	&__specialties
		width 230px
		padding 0 0 0 25px

	&__specialty
		width 95px
		height 28px
		margin 0 15px 10px 0

		h4
			font-size 14px
			line-height 28px

	&__bottom
		width 255px
		height 118px
		padding 10px 0

	&__brief
		width 235px
		padding 0 10px

		p
			font-size 13px
			line-height 22px

	&__signature
		width 110px
		height 30px
		margin 93px 0 0 130px

		img
			float left
			width 100%

.designer
	width 100%

	&__container
		width 375px
		margin 0 auto

	&__view
		width 360px
		padding 15px 0 0 15px

	&__images
		width 345px
		margin 0 0 20px 0

	&__headshot
		width 100%
		height 244px
		margin 0 0 10px 0

		h4
			width 100%
			margin 0 0 10px 0
			font-size 20px
			line-height 244px

		img
			width 100%

	&__thumbnails
		width 330px
		padding 0 0 0 15px
		height 70px

	&__thumbnail
		width 70px
		height 70px
		margin 0 15px 0 0

		h4
			width 100%
			font-size 10px
			line-height 70px

	&__information
		width 335px
		padding 10px 0 0 10px
		margin 0 0 20px 0

	&__name
		width 325px
		margin 0 0 4px 0

		h1
			width 100%
			font-size 27px

	&__quote
		width 325px
		margin 0 0 15px 0

		h3
			width 100%
			font-size 14px
			line-height 20px

	&__socials
		width 335px
		margin 0 0 15px 0

	&__social
		width 92px
		height 45px
		margin 0 12px 0 0

		h6
			width 100%
			font-size 15px
			line-height 45px

	&__biography
		width 325px
		margin 0 0 20px 0

		h5
			width 100%
			font-size 14px
			line-height 22px

	&__certificates
		width 335px
		padding 10px 0 0 10px
		margin 0 0 10px 0

		h1
			width 100%
			margin 0 0 10px 0
			font-size 20px
			line-height 20px

	&__certificate
		width 303px
		padding 5px 10px
		margin 0 0 10px 0

		h4
			width 100%
			font-size 13px
			line-height 20px

		h5
			width 100%
			font-size 12px
			line-height 23px

	&__items
		width 365px
		padding 0 0 0 10px

	&__item
		width 355px
		margin 0 0 20px 0

		h4
			width 100%
			font-size 30px
			line-height 190px