.designers
	width 365px
	padding 0
	margin 30px 0 0 10px

	&__square
		width 355px
		height 298px
		padding 0
		margin 0 20px 20px 0

	&__left
		width 100px
		height 278px
		padding 10px 0

	&__profile
		width 80px
		padding 10px
		margin 0

	&__picture
		width 78px
		height 78px
		padding 0
		margin 0

		img
			width 100%

	&__contact
		width 80px
		padding 10px
		margin 0

	&__email
		width 78px
		height 37px
		padding 0
		margin 0

	h5
		font-size 14px
		line-height 37px

	&__certificates
		width 80px
		padding 10px
		margin 0

	&__certificate
		width 78px
		height 37px
		margin 0

		h2
			font-size 14px
			line-height 37px

	&__top
		width 255px
		height 140px
		padding 10px 0

	&__title
		width 205px
		padding 10px 25px
		margin 0 0 10px 0

	&__name
		width 205px
		height 28px

		h2
			width 205px
			font-size 20px
			line-height 28px

	&__specialties
		width 230px
		padding 0 0 0 25px

	&__specialty
		width 95px
		height 28px
		margin 0 15px 10px 0

		h4
			font-size 14px
			line-height 28px

	&__bottom
		width 255px
		height 118px
		padding 10px 0

	&__brief
		width 235px
		padding 0 10px

		p
			font-size 13px
			line-height 22px

	&__signature
		width 110px
		height 30px
		margin 93px 0 0 130px

		img
			float left
			width 100%

.designer
	float left
	width 1044px
	padding 0
	margin 30px 0 0 0

	&__view
		float left
		width 1024px
		padding 0
		margin 0 0 0 10px

	&__headshot
		float left
		width 262px
		height 200px
		padding 0
		margin 0 0 20px 0
		background #f2a
		text-align center

		h4
			width 100%
			font-size 20px
			line-height 200px

		img
			float left
			width 100%

	&__thumbnails
		float left
		width 240px
		padding 0 0 0 16px
		margin 20px 0 0 0

	&__thumbnail
		float left
		width 70px
		height 70px
		margin 0 10px 0 0
		background #535
		text-align center

		h4
			float left
			width 100%
			color $white
			font-size 10px
			line-height 70px

	&__information
		float left
		width 500px
		padding 0
		margin 0 0 30px 0
		background #ff9

	&__profile
		float left
		width 480px
		padding 0 0 0 20px
		text-align left

		h1
			float left
			width 100%
			font-size 27px
			line-height 27px

	&__quote
		float left
		width 480px
		padding 0 0 0 20px
		margin 0 0 20px 0
		text-align left

		h3
			float left
			width 100%
			padding 0
			margin 0
			font-size 20px
			line-height 20px

	&__social
		float left
		width 480px
		padding 0 0 0 20px
		margin 0 0 20px 0

		.social
			float left
			width 98px
			height 50px
			margin 0 20px 0 0
			background $white
			border $black-border
			border-radius 4px
			text-align center

			h6
				float left
				width 100%
				padding 0
				margin 0
				font-size 15px
				line-height 50px

	&__biography
		float left
		width 450px
		padding 0 25px
		margin 0 0 20px 0
		text-align left

		h5
			float left
			width 100%
			padding 0
			margin 0
			font-size 14px
			line-height 24px

	&__certificates
		float left
		width 262px
		padding 18px 0 8px 0
		text-align left
		background #3bbd80

		h1
			float left
			padding 0 0 0 10px
			margin 0 0 20px 0
			font-size 20px
			line-height 20px

	&__certificate
		float left
		width 200px
		padding 5px 10px
		margin 0 0 10px 20px
		border $black-border
		border-radius 4px
		background $white
		text-align left

		h4
			float left
			width 100%
			font-size 13px
			line-height 20px

		h5
			float left
			width 100%
			font-size 12px
			line-height 23px

	&__filter
		float left
		width 900px
		height 50px
		margin 0 0 30px 62px
		background $black
		text-align center

		h1
			width 100%
			margin 0

	&__items
		float left
		width 1044px
		padding 0
		margin 0 0 0 10px

	&__item
		float left
		width 328px
		height 190px
		margin 0 20px 20px 0
		background #abcdef
		border-radius 4px
		text-align center

		h4
			float left
			width 100%
			font-size 30px
			line-height 190px