.testimonial
	width 100%

	&__holder
		width 375px
		margin 0 auto

	&__square
		width 305px
		padding 13px 15px
		margin 0 0 15px 19px

		p
			float none
			width 100%
			margin 0 0 8px 0
			font-size 17px
			line-height 28px

	&__customer
		width 80px
		height 80px
		margin 0 5px 0 0

	&__image
		width 75px
		height 75px

		img
			width 100%

	&__name
		width 280px

		h5
			font-size 17px
			line-height 17px