.press-view
	width 375px
	margin 20px 0 0 0

	&__container
		width 375px
		margin 0 auto

	&__heading
		width 337px
		margin 0 0 0 19px

		h1
			font-size 32px

	&__content
		width 315px
		padding 10px
		margin 0 0 15px 19px

		p
			font-size 18px
			line-height 25px

	&__video
		width 337px
		height 190px
		margin 0 0 15px 19px

	&__article
		width 337px
		height 200px
		margin 0 0 15px 19px

	&__details
		margin 0 0 15px 0