.block
	.block__container
		.video
			h3 Video
			.container
				.search
					.search__title
						h2 Search
					.search__row
						h4 Input One
						input
					.search__row
						h4 Input Two
						input

					.search__row
						button.submit
							h5 Submit

.block
	.block__container
		.container
			.main__banner
				h1 Special or Announcement

.block
	.block__container
		.container
			.main__squares
				.main__square
					h1 Content

				.main__square
					h1 Content

				.main__square
					h1 Content