.block
	.video
		h3 Video
	.main__search
		.main__title
			h2 Search
		.main__row
			h4 Input One
			input
		.main__row
			h4 Input Two
			input

		.main__row
			button.submit
				h5 Submit

.block
	.block__container
		.container
			.main__banner
				h1 Special or Announcement

.block
	.block__container
		.container
			.main__squares
				.main__square
					h1 Content

				.main__square
					h1 Content

				.main__square
					h1 Content