.main
	.main__holder
		.search
			.search__title
				h2 Toronto's Best Unique & Handcrafted Jewellery
				h4 Find exactly what you are looking for

			.search__row
				input(placeholder="Search...")

			.search__row
				button.submit
					h5 Submit

		.main__video
			iframe(src="https://www.youtube.com/embed/smheyWuVoH4" frameborder="0" allowfullscreen)

		//.main__banner
			h1 This Winter You Can Buy 1 Get 1 50% Off!

		.main__squares
			.main__square
				h1 The Studio
				p Made You Look is Toronto’s most established professional collective jewellery studio. We act as an umbrella company that supports and promotes our 20 self-employed resident designers. These highly skilled designers create their work on-site in our fully equipped manufacturing studio that is open 24 hours a day 7 days a week.

			.main__square
				h1 Our Handmade Jewellery
				p Our Queen West Store showcases the work of over 100 local Toronto Jewellery Designers. Our offerings feature a wide range of materials and price points, from exquisite high end work to fun and funky “must have” accessories. Here is just a sampling to whet your appetite!

			.main__square
				h1 Services
				ul
					li Alterations
					li Antique and Vintage
					li Appraisals
					li Costume and unusual materials
					li Custom requests
					li Engraving

			.main__square
				h1 Custom Design
				p Creating unique customized jewellery is our specialty! Do you have something in mind that you are having trouble finding? Meet with one of our talented in-house designers to design, develop and create a one-of-a-kind piece of jewellery that is just right for you!

			.main__square
				h1 Wedding and Engagement
				p In our downtown store and on-line we feature an amazing selection of beautifully made wedding and engagement rings. Organized by designer, each artist offers their own unique approach to designing and creating these classic symbols of the love continuum.

			.main__square
				h1 Jewellery Repair
				ul
					li Checking and Cleaning
					li Re-polishing and Refinishing
					li Soldering
					li Soft Soldering
					li Gluing
					li Ring Sizing