.designers
	.designers__holder
		.designers__square(data-ng-repeat='designer in vm.designers')
			.designers__profile
				.designers__picture
					img(src='public/images/jeweller.jpg')

				.designers__detail
					.designers__row
						.designers__name
							h2 Justin Lastname

					.designers__row
						.designers__school
							h5 Categories
							h6 Vintage
							h6 Modern

					.designers__socials
						.designers__social
							span.fa.fa-facebook

						.designers__social
							span.fa.fa-instagram

						.designers__social
							span.fa.fa-envelope-o

					//.designers__row
						.designers__specialties
							.designers__specialty
								h3 Specialty

							.designers__specialty
								h3 Specialty

			.designers__description
				p This is a description about the jeweller. This is a description about the jeweller. This is a description about the jeweller...