.block
	.block__container
		//.container
		.studio
			.studio__intro

			.studio__content
				.studio__large
					img
				p Made You Look was Toronto’s first collective jewellery studio for professional designers, established in 2001. At any given time there are approximately 20 self-employed jewellery designers who create on-site in our fully-equipped Jewellery manufacturing facility. Over the years we have had professional Jewellers from all over the world be part of our environment and add to the rich culture of the community we have created. Designers pay a flat monthly fee and the studio is open 24 hours a day, 7 days a week. All of the designers run their own independent jewellery-making businesses and have Made You Look as one of their retail outlets.
				.studio__quote
					h5 "You are what you wear, and what you wear says a lot. You are what you wear, and what you wear says a lot"
				.studio__medium
					img
				p This unique setting provides designers with the opportunity to interact with clients which helps them to evolve and grow their businesses. We are known as a jewellery makers’ hub and are a vital part of the Metal and Jewellery Arts Community in Toronto. Our Studio is a one-of-a-kind environment and it is fueled by the talent within. Modeled after the facilities at George Brown College, Made You Look is a launching pad for designers and a breath of fresh air for established designers who have been working in isolation. Jewellers maximize their creative potential in an inspirational, co-operative environment, without the burden of high start-up costs and overhead expenses. It is about entrepreneurial drive and about how to make a living as a jewellery designer in downtown Toronto and beyond.
				.studio__small
					img
				p In addition to all of the jewellery-making facilities, our environment offers many other amenities. Our professionally-designed photography room allows designers to create portfolios, make business cards, websites and other promotional materials. Our client meeting room/library is available for private meetings with clients and also serves as a resource centre with suppliers’ catalogues, design books and internet access. There is also a kitchen so designers can feel at home while they are here. Interested in renting a bench? Come for a visit, check out the gallery, have a tour of the facilities and see the equipment. Being self-employed means doing it all. Rent a bench and eliminate some of the risk. Consult with people in the know, test the market and learn how to run a successful jewellery-making business.
