.sub
	.sub__container
		.sub__buttons
			.sub__button
				h6(ui-sref='app.public.product.list', ui-sref-active='active') Product List

			.sub__button
				h6(ui-sref='app.public.product.custom', ui-sref-active='active') Custom Order

			.sub__button
				h6(ui-sref='app.public.product.care', ui-sref-active='active') Jewellery Care

			.sub__button
				h6(ui-sref='app.public.product.certificate', ui-sref-active='active') Gift Certificates

div(data-ui-view='content')