.sub
	.sub__container
		.sub__buttons
			.sub__button
				h6 Product List

			.sub__button
				h6 Custom Order

			.sub__button
				h6 Jewellery Care

			.sub__button
				h6 Gift Certificates

div(data-ui-view='content')