.sub
	.sub__container
		.sub__buttons
			.sub__button.active
				h6 Choosing A Ring

			.sub__button
				h6 Custom Order

			//.sub__button
				h6 Diamonds &amp; Gemstones

			.sub__button
				h6 Ethical Choices

			.sub__button
				h6 Wedding Jewellery

			.sub__button
				h6 Jewellery Care

div(data-ui-view='content')