.sub
	.sub__container
		.sub__content
			.sub__links
				.sub__link
					h6 Custom

				.sub__link
					h6 Choosing A Ring

				.sub__link
					h6 Diamonds &amp; Gemstones

				.sub__link
					h6 Ethical Choices

				.sub__link
					h6 Wedding Jewellery

				.sub__link
					h6 Jewellery Care

div(data-ui-view='content')