.designers
	.designers__holder
		.designers__square(data-ng-repeat='designer in vm.designers')
			.designers__profile
				.designers__picture
					img(src='public/images/jeweller.jpg')

				.designers__detail
					.designers__row
						.designers__name
							h2 Jillian Maddin

					.designers__row
						.designers__categories
							h5 Categories
							h6 Vintage
							h6 Modern

			.designers__description
				p This is a description about the jeweller. This is a description about the jeweller. This is a description about the jeweller...
			.designers__products
				h5 Products
				.designers__product
					img(src='/public/images/product.jpg')
				.designers__product
					img(src='/public/images/product.jpg')
				.designers__product
					img(src='/public/images/product.jpg')
				.designers__product
					img(src='/public/images/product.jpg')