<div class="search"><div class="search__square"><div class="search__select"><div class="search__title"><h5>Type</h5></div><div class="search__value"><select></select><div class="search__mask"><h4><span class="fa fa-caret-down"></span></h4></div></div></div><div class="search__select"><div class="search__title"><h5>Make</h5></div><div class="search__value"><select></select><div class="search__mask"><h4><span class="fa fa-caret-down"></span></h4></div></div></div><div class="search__select"><div class="search__title"><h5>Stone</h5></div><div class="search__value"><select></select><div class="search__mask"><h4><span class="fa fa-caret-down"></span></h4></div></div></div><div class="search__filter"><div class="search__title"><h5>Filter</h5></div><input placeholder="Enter Search"/></div></div><!--.search__tags.search__tag(data-ng-show='!vm.state' data-ng-click='vm.changeState()')
	h5 More Options
	//.fa.fa-plus

.search__tag(data-ng-show='vm.state' data-ng-click='vm.changeState()')
	h5 Less Options
	//.fa.fa-minus
--><!--.search__reset(data-ng-click='vm.reset()')h5 <span>Reset</span> <div class="fa fa-close"></div>--></div>