.block
	.block__container
		.container
			.about
				.about__title
					h1 SAY HELLO TO YOUR FUTURE ENGAGEMENT AND WEDDING RINGS
					.about__stars
						h4 * * * * (.7)
					.about__intro
						h2 4.7 Stars from 57 Google Reviews

				.about__description
					h5 Our Famous Queen West Store, established in 2001, represents over 100 local Toronto Jewellery Designers. Attached to the shop is a large studio where 20, self employed, in-house designers make their jewellery under their own brand names. Customers can browse our diverse collection of beautiful handmade work and interact with Jewellers to consult about custom design and other services.

				.about__testimonials
					.about__testimonial
						.about__row
							p "This is a testimonial because I love learning. Because I love learning."
						.about__row
							h3 - Catherine Simpson
					.about__testimonial
						.about__row
							p "This is a testimonial because I love learning. Because I love learning."
						.about__row
							h3 - Andrew James
					.about__testimonial
						.about__row
							p "This is a testimonial because I love learning. Because I love learning."
						.about__row
							h3 - Michael Buble
					.about__testimonial
						.about__row
							p "This is a testimonial because I love learning. Because I love learning."
						.about__row
							h3 - Sarah Peterson