.sub
	.sub__container
		.sub__buttons
			.sub__button(ui-sref='app.public.about.story' ui-sref-active='active')
				h6 Our Story

			.sub__button(ui-sref='app.public.about.environment' ui-sref-active='active')
				h6 Environment

			.sub__button(ui-sref='app.public.about.press.list' data-ng-class='{active: $state.includes("app.public.about.press")}')
				h6 Press

div(data-ui-view='content')