.press__container
	.press
		.press__grid
			.press__square
				.press__image

				.press__detail
					.press__title
						h2 Made You Look in Now this Week!

					.press__publication
						h3 Publication
						h5 Author
						h5 November 7th, 2017

					.press__icons
						.press__icon
							span.fa.fa-twitter

						.press__icon
							span.fa.fa-google-plus

						.press__icon
							span.fa.fa-pinterest-p

						.press__icon
							span.fa.fa-envelope

			.press__square
				.press__image

				.press__detail
					.press__title
						h2 Made You Look in Now this Week!

					.press__publication
						h3 Publication
						h5 Author
						h5 November 7th, 2017

					.press__icons
						.press__icon
							span.fa.fa-twitter

						.press__icon
							span.fa.fa-google-plus

						.press__icon
							span.fa.fa-pinterest-p

						.press__icon
							span.fa.fa-envelope

			.press__square
				.press__image

				.press__detail
					.press__title
						h2 Made You Look in Now this Week!

					.press__publication
						h3 Publication
						h5 Author
						h5 November 7th, 2017

					.press__icons
						.press__icon
							span.fa.fa-twitter

						.press__icon
							span.fa.fa-google-plus

						.press__icon
							span.fa.fa-pinterest-p

						.press__icon
							span.fa.fa-envelope

			.press__square.large
				.press__image.large

				.press__detail.large
					.press__title.large
						h2 Made You Look in Now this Week!

					.press__publication.large
						h3 Publication
						h5 Author
						h5 November 7th, 2017

					.press__icons.large
						.press__icon
							span.fa.fa-twitter

						.press__icon
							span.fa.fa-google-plus

						.press__icon
							span.fa.fa-pinterest-p

						.press__icon
							span.fa.fa-envelope

			.press__square.medium
				.press__image.medium

				.press__detail.medium
					.press__title.medium
						h2 Made You Look in Now this Week!

					.press__publication.medium
						h3 Publication
						h5 Author
						h5 November 7th, 2017

					.press__icons.medium
						.press__icon
							span.fa.fa-twitter

						.press__icon
							span.fa.fa-google-plus

						.press__icon
							span.fa.fa-pinterest-p

						.press__icon
							span.fa.fa-envelope

			.press__square.medium
				.press__image.medium

				.press__detail.medium
					.press__title.medium
						h2 Made You Look in Now this Week!

					.press__publication.medium
						h3 Publication
						h5 Author
						h5 November 7th, 2017

					.press__icons.medium
						.press__icon
							span.fa.fa-twitter

						.press__icon
							span.fa.fa-google-plus

						.press__icon
							span.fa.fa-pinterest-p

						.press__icon
							span.fa.fa-envelope