.products
	width 100%

	&__holder
		width 994px
		padding 0 0 0 42px

.product
	width 218px
	margin 0 20px 15px 0

	&__picture
		width 118px
		margin 0 0 0 50px

		img
			width 203px
			height 173px

	&__detail
		width 188px
		padding 10px 15px 8px 15px

		h6
			font-size 15px
			line-height 15px

	&__title
		margin 0 0 14px 0

		h6
			width 172px
			padding 0 8px 4px 8px
			font-size 18px

	&__collection
		width 100px
		margin 0 0 12px 0

		h6
			font-size 14px
			line-height 20px

	&__price
		width 55px
		margin 0 0 12px 0

		h6
			line-height 20px

	&__tags
		width 100%

	&__tag
		padding 3px 4px
		margin 0 3px

		h5
			font-size 12px
			line-height 12px