.products
	width 100%
	margin 0 auto

	&__holder
		width 994px
		padding 0 0 0 30px

.product
	width 227px
	margin 0 16px 15px 0

	&__picture
		width 147px
		margin 0 0 0 40px

		img
			width 100%
			height 147px

	&__detail
		width 217px
		padding 10px 0 0 10px

		h6
			width 100%
			font-size 15px
			line-height 15px

	&__title
		width 135px
		margin 0 0 15px 0

	&__price
		width 72px
		margin 0 0 15px 0

	&__tags
		width 209px

	&__tag
		padding 4px
		margin 0 10px 10px 0

		h5
			width 100%
			font-size 14px
			line-height 14px