.press-view
	width 1024px
	margin 20px 0 0 0

	&__container
		width 1024px
		margin 0 auto

	&__heading
		width 964px
		margin 0 0 0 30px

		h1
			font-size 32px

	&__content
		width 942px
		padding 10px
		margin 0 0 15px 30px

		p
			font-size 18px
			line-height 25px

	&__content.article
		width 460px
		margin 0 0 15px 0

	&__video
		width 964px
		height 542px
		margin 0 0 15px 30px

	&__article
		width 467px
		height 200px
		margin 0 15px 15px 30px

	&__details
		margin 0 0 15px 0