.press
	width 1024px
	margin 20px 0 0 0

	&__container
		width 1024px
		margin 0 auto

	&__grid
		float left
		width 994px
		margin 0 0 0 30px

	&__square
		width 309px
		margin 0 15px 20px 0

	&__square.large
		width 961px
		margin 0 0 20px 0

	&__image.large
		width 480px
		height 300px
		border-radius 4px 0 0 4px

	&__square.medium
		width 472px
		margin 0 15px 20px 0

	&__detail
		width 299px
		padding 10px 0 10px 10px

	&__detail.large
		width 471px

	&__detail.medium
		width 462px

	&__title
		width 289px
		margin 0 0 7px 0

	&__title.large
		width 461px

	&__title.medium
		width 452px

	&__date
		width 289px
		margin 0 0 10px 0

		h5
			font-size 14px

	&__date.large
		width 461px

	&__date.medium
		width 452px

	&__publication
		width 145px

		h3
			font-size 18px

		h5
			font-size 14px

	&__publication.large
		width 231px

	&__publication.medium
		width 226px

	&__link
		width 27px
		height 27px
		margin 0 0 2px 0

		.fa-link
			font-size 17px
			line-height 28px

	&__icons
		width 144px

	&__icons.large
		width 230px

	&__icons.medium
		width 226px

	&__icon
		margin 0 10px

		.fa-twitter
		.fa-google-plus
		.fa-pinterest-p
		.fa-envelope
			font-size 17px