.product-view
	.product-view__container
		.product-view__images
			.product-view__image
				p Main Image

			.product-view__thumbnails
				.product-view__thumbnail
					p Thumb.

				.product-view__thumbnail
					p Thumb.

				.product-view__thumbnail
					p Thumb.

		.product-view__information
			.product-view__title
				p Title

			.product-view__price
				p Price

			.product-view__share
				.product-view__icon
				.product-view__icon
				.product-view__icon

			.product-view__table
				p Table

			.product-view__detail
				p Our Queen West Store showcases the work of over 100 local Toronto Jewellery Designers. Our offerings feature a wide range of materials and price points, from exquisite high end work to fun and funky “must have” accessories. Here is just a sampling to whet your appetite!

		.product-view__jeweller
			.product-view__avatar

			.product-view__name
				p First Name
				p Last Name

			.product-view__socials
				.product-view__social

				.product-view__social

				.product-view__social

			.product-view__description
				p Description: Sarah is a trained goldsmith, passionate about her craft. A native of Toronto whose love of travel led her to study in Cordoba, Spain. There she completed a two-year goldsmith program at the Consorcio Escuela de Joyeria de Cordoba and later received a study grant apprenticeship in Hamburg, Germany
