.common
	width 100%

	&__title
		margin 0 0 10px 0

	&__center
		display inline-block

		h1
			width auto
			padding 0 8px 4px 8px
			font-size 34px
			line-height 34px

	&__description
		width 688px
		padding 13px 15px 0 13px
		margin 0 0 15px 25px

		p
			width 686px
			margin 0
			font-size 17px
			line-height 25px

	&__row
		margin-bottom 20px

	&__image-right
		width 98px
		height 98px
		margin 0 0 9px 14px

	&__image-left
		width 98px
		height 98px
		margin 0 14px 9px 0

	&__services
		width 743px
		margin 0 0 15px 25px

	&__service
		width 209px
		padding 10px
		margin 0 13px 10px 0

	&__information
		padding 0 0 7px 0

	&__price
		width 100%

		h5
			font-size 24px

		h6
			margin 0 0 1px 0
			font-size 15px

		p
			margin 0 0 0 7px