.grid
	float left
	width 100%
	text-align center


	&__holder
		display inline-block
		background $white
		border $black-border
		border-left none
		border-bottom none

	&__title
		float left
		width 100%
		border $black-border
		border-top none
		border-right none

		h1
			width 100%
			padding 15px 0
			margin 0
			font-size 28px

	&__row
		width 100%

	&__head
		float left
		display flex
		align-items center
		text-align center
		width 175px
		padding 5px 10px
		height 50px
		background $grey
		border $black-border
		border-top none
		border-right none

		h2
			width 100%

	&__column
		float left
		display flex
		align-items center
		text-align center
		width 100px
		height 50px
		padding 5px 10px
		background $white
		border $black-border
		border-top none
		border-right none

		p
			width 100%