header
	.header
		.header__tertiary
			.header__links
				.header__link
					p Bench

				.header__link
					p Showroom

				.header__link
					p Photography

				.header__link
					p Meeting

				.header__link
					p Kitchenette

				.header__link
					p Lounge

.studio
	h1 Facilities