<div class="custom"><div class="custom__title"><h1>Looking For Something Special?</h1></div><div class="custom__detail"><p>We can do anything. We can do anything. We can do anything. We can do anything. We can do anything. We can do anything. We can do anything. We can do anything. We can do anything. We can do anything. We can do anything. We can do anything.</p></div></div><!--.products.products__holder
	//.product(data-ng-repeat='product in vm.products | limitTo: 4')
	//	.product__image
	//		img(src='public/images/product.jpg')
	//
	//	.product__unnamed
	//		h6 ?
	//
	//	.product__detail
	//		.product__title
	//			h6(data-ng-bind='product.title')
	//
	//			//.product__jeweller
	//		.product__collection
	//			h6 COLLECTION
	//
	//		.product__price
	//			h6 $10,999
	//			//.product__specs
	//
	//		.product__tags
	//			.product__tag(data-ng-repeat='tag in product.tags')
	//				h5(data-ng-bind='tag')
	//
	//		.product__designer
	//			.product__picture
	//				img(src='public/images/jeweller.jpg')
	//
	//			.product__name
	//				h5 Designer Name
	//
	//			.product__view
	//				h6 View
--><div class="custom"><div class="custom__holder"><div class="custom__btn"><h2>For More Custom</h2></div><div class="custom__form"><div class="custom__squaref"><div class="custom__title"><h4>Title</h4></div><div class="custom__value"><input/></div></div><div class="custom__squaref half"><div class="custom__title"><h4>Title</h4></div><div class="custom__value half"><input class="half"/></div></div><div class="custom__squaref half"><div class="custom__title"><h4>Title</h4></div><div class="custom__value half"><select class="half"></select></div></div><div class="custom__squaref"><div class="custom__title"><h4>Title</h4></div><div class="custom__value"><select></select></div></div><div class="custom__squaref"><div class="custom__title"><h4>Title</h4></div><div class="custom__message"><textarea></textarea></div></div><div class="custom__submit"><h5>SUBMIT</h5></div></div></div></div>