header
	.header__container
		.header
			.header__content
				.header__logo(ui-sref='app.public.index')
					h6 LOGO
					//img(src='public/images/logo.png')
				.header__hours
					h6 HOURS
					//h4 M - F: 10 - 8PM
					//h4 Sat: 10 - 6PM
					//h4 Sun: 12 - 5PM

				.header__information
					h6 INFO

				.header__map
					h6 MAP

				.header__navigation(data-ng-click='vm.open()')
					span.fa.fa-bars

				.header__navigation
					span.fa.fa-phone

				.header__navigation
					span.fa.fa-instagram

				.header__navigation
					span.fa.fa-twitter

				.header__navigation
					span.fa.fa-search

				//.header__contact
					h4 Contact

				//.header__search
					.header__input
						input(placeholder="Search...")

					.header__submit
						button
							span.fa.fa-search

				nav
					.header__buttons
						//.header__button(ui-sref='app.public.about.story' data-ng-class='{active: $state.includes("app.public.about")}')
							h2 About

						.header__button(ui-sref='app.public.wedding.list'  data-ng-class='{active: $state.includes("app.public.wedding")}')
							h2 Wedding

						.header__button(ui-sref='app.public.engagement.list'  data-ng-class='{active: $state.includes("app.public.engagement")}')
							h2 Engagement

						.header__button(ui-sref='app.public.product.list'  data-ng-class='{active: $state.includes("app.public.product")}')
							h2 Jewellery

						.header__button(ui-sref='app.public.designer.list'  data-ng-class='{active: $state.includes("app.public.designer")}')
							h2 Designers

						.header__button(ui-sref='app.public.service.alteration' ui-sref-active='active')
							h2 Services

						.header__button(ui-sref='app.public.repair.cleaning' ui-sref-active='active')
							h2 Repairs

						.header__button(ui-sref='app.public.studio.rent' ui-sref-active='active')
							h2 Studio

						//.header__button.hide(ui-sref='app.public.contact' ui-sref-active='active')
							h2 Contact