header
	width 100%

.header
	width 1100px

	&__container
		width 1100px
		margin 0 auto

	&__logo
		width 309px
		height 109px
		margin 10px 20px 0 7px

	&__information
		width 764px
		height 80px
		margin 0

	&__column
		float left
		width 202px
		height 80px

		h4
			font-size 15px
			line-height 26px

	&__phone
		width 100%

		.fa-phone
			margin 1px 8px 0 0
			font-size 15px

	&__address
		width 100%

	&__hours
		width 167px
		height 80px

		h6
			font-size 15px
			line-height 26px

	&__contact
		width 372px
		height 80px

	nav
		width 764px
		margin 20px 0 10px 0

	&__tiles
		width 764px
		margin 0 auto

	&__tile
		float left
		padding 0 16px
		margin 0 15px 0 0

		h6
			width 100%
			font-size 16px

	&__secondary
		height 36px

	&__links
		padding 0 0 0 30px
		height 100%

	&__link
		height 100%
		margin 0 30px 0 0

		h6
			font-size 16px
			line-height 36px

	&__tertiary
		height 36px

	//&__input
	//	width 310px
	//	height 41px
	//
	//	input
	//		width 260px
	//		height 100%
	//		padding 0 0 0 50px
	//
	//&__submit
	//	width 30px
	//	height 41px
	//	padding 0 5px
	//
	//	.fa-search
	//		font-size 20px
	//		line-height 20px