.modal
	width 100%

	&__holder
		width 1100px
		margin 0 auto

	&__square
		width 335px
		padding 10px 0 5px 17px
		margin 40px 0 0 373px

	&__close
		width 318px
		margin 0 0 12px 0

		.fa-close
			font-size 18px

	&__row
		width 318px
		margin 0 0 15px 0

		h1
			font-size 28px
			line-height 29px

		p
			font-size 17px
			line-height 22px

		input
			width 296px
			height 42px
			padding 0 10px
			font-size 20px
			line-height 42px

		select
			width 318px
			height 42px
			padding 0 10px
			font-size 20px
			line-height 42px

	&__mask
		width 316px
		height 42px

		.fa-caret-down
			margin 0 0 0 -20px
			font-size 20px
			line-height 42px

		h4
			width 100%
			font-size 20px
			line-height 42px

	.submit
		width 318px
		height 42px

		h5
			width 100%
			font-size 20px
			line-height 42px