nav
	margin 14px 0 0 0

.header
	width 1024px

	&__content
		padding 0 0 5px 0

	&__map
		width 310px
		height 80px
		margin 0

	&__logo
		width 280px
		height 70px
		margin 10px 40px 0 30px

	&__information
		width 130px
		height 80px
		margin: 0 20px 0 0

		h4
			font-size 14px
			line-height 26px

	&__hours
		width 164px
		height 80px
		margin 0 20px 0 0

	&__contact
		width 171px
		height 80px

	&__button
		height 34px
		padding 0 16px
		margin 0 5px

		h2
			font-size 16px
			line-height 36px

	&__button.hide
		display inline-block

	&__spacer
		display block

.sub
	padding 0

	&__container
		height 24px
		padding 8px 0
		margin 0

	&__button
		display inline-block;

		h6
			padding 0 10px
			margin 0 4px
			font-size 16px
			line-height 25px

	&__tertiary
		height 44px