.press-view__container
	.press-view
		.press-view__heading
			h1 MadeYouLook Press Heading

		.press-view__video
			h1 video

		.press-view__content
			.press-view__details

				// used on 320 - 667
				.press-view__row-mobile
					.press-view__square
						.press-view__center
							.press-view__title
								h6 Publication

						.press-view__value
							h6 Now Magazine

					.press-view__square.right
						.press-view__title
							h6 Date

						.press-view__value.right
							h6 Nov. 7th. 2017

				.press-view__row-mobile
					.press-view__square
						.press-view__title
							h6 Author

						.press-view__value
							h6 John Doe

					.press-view__square.right
						.press-view__title
							h6 Share

						.press-view__icons
							.press-view__value.icon
								span.fa.fa-envelope

							.press-view__value.icon
								span.fa.fa-pinterest-p

							.press-view__value.icon
								span.fa.fa-google-plus

							.press-view__value.icon
								span.fa.fa-twitter

				// used on 667 - 1100

				.press-view__square-large
					.press-view__title
						h6 Publication

					.press-view__value-large
						h6 Now Magazine

				.press-view__square-large
					.press-view__title
						h6 Author

					.press-view__value-large
						h6 John Doe

				.press-view__square-large
					.press-view__title
						h6 Date

					.press-view__value-large
						h6 Nov. 7th. 2017

				.press-view__square-large
					.press-view__title
						h6 Share

					.press-view__icons-large
						.press-view__value.icon
							span.fa.fa-envelope

						.press-view__value.icon
							span.fa.fa-pinterest-p

						.press-view__value.icon
							span.fa.fa-google-plus

						.press-view__value.icon
							span.fa.fa-twitter

			p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

		.press-view__heading
			h1 MadeYouLook Press Heading

		.press-view__article
			h1 article

		.press-view__content.article
			.press-view__details
				.press-view__row
					.press-view__square
						.press-view__title
							h6 Publication

						.press-view__value
							h6 Now Magazine

					.press-view__square.right
						.press-view__title
							h6 Author

						.press-view__value.right
							h6 Nov. 7th. 2017

				.press-view__row
					.press-view__square
						.press-view__title
							h6 Date

						.press-view__value
							h6 John Doe

					.press-view__square.right
						.press-view__title
							h6 Share

						.press-view__icons
							.press-view__value.icon
								span.fa.fa-envelope

							.press-view__value.icon
								span.fa.fa-pinterest-p

							.press-view__value.icon
								span.fa.fa-google-plus

							.press-view__value.icon
								span.fa.fa-twitter

			p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."