.designer
	.designer__container
		.designer__view
			.designer__images
				.designer__headshot
					h4 IMAGE
				.designer__thumbnails
					.designer__thumbnail
						h4 THUMBNAIL
					.designer__thumbnail
						h4 THUMBNAIL
					.designer__thumbnail
						h4 THUMBNAIL
			.designer__information
				.designer__name
					h1 Justin Test
				.designer__quote
					h3 "Some quote here..."
				.designer__socials
					.designer__social
						h6 Facebook
					.designer__social
						h6 Instagram
					.designer__social
						h6 LinkedIn
				.designer__biography
					h5 This is a biography. This is a biography. This is a biography. This is a biography. This is a biography. This is a biography. This is a biography. This is a biography. This is a biography. This is a biography. This is a biography. This is a biography. This is a biography. This is a biography.This is a biography.
			.designer__certificates
				h1 Certificates
				.designer__certificate
					h4 Certified Jewellery Retail Professional Program (CJRP)
					h5 Canadian Jewellers Association, 2000-2003
				.designer__certificate
					h4 JETS Course (CJA-GJ)
					h5 Canadian Jewellers Association, 2000-2003
				//.designer__certificate
					h4 Accredited Appraiser Program (AAP)
					h5 Canadian Jewellers Association, 2000-2003
				.designer__certificate
					h4 IAS Sales Training
					h5 Canadian Jewellers Association, 2000-2003
				//.designer__certificate
					h4 Master Valuer™ Professional Jewellery Appraisal Program
					h5 Canadian Jewellers Association, 2000-2003
				//.designer__certificate
					h4 Olive Frame Gemological Seminars
					h5 Canadian Jewellers Association, 2000-2003
.block
	.block__container
		.container
			.filter
				.filter__title
					h5 REFINE
				.filter__square
					.filter__title
						h6 REFINE
					.filter__value
						select(placeholder='Brand')
						.filter__mask
							h4 #[.fa.fa-caret-down]
				.filter__square
					.filter__title
						h6 REFINE
					.filter__value
						select(placeholder='Collection')
						.filter__mask
							h4 #[.fa.fa-caret-down]
				.filter__square
					.filter__title
						h6 REFINE
					.filter__value
						select(placeholder='Necklace Style')
						.filter__mask
							h4 #[.fa.fa-caret-down]
				.filter__square
					.filter__title
						h6 REFINE
					.filter__value
						select(placeholder='Metal/Material')
						.filter__mask
							h4 #[.fa.fa-caret-down]
				.filter__square
					.filter__title
						h6 REFINE
					.filter__value
						select(placeholder='Primary Stone')
						.filter__mask
							h4 #[.fa.fa-caret-down]
				.filter__square
					.filter__title
						h6 REFINE
					.filter__value
						select(placeholder='Chain Length')
						.filter__mask
							h4 #[.fa.fa-caret-down]

				//.filter__filter
					.filter__title
						h5 Filter
					input(placeholder='Enter Search')

.products
	.products__holder
		.product(data-ng-repeat='product in vm.products')
			.product__image
				img(src='public/images/product.jpg')

			.product__unnamed
				h6 ?

			.product__detail
				.product__title
					h6(data-ng-bind='product.title')

					//.product__jeweller
				.product__collection
					h6 COLLECTION

				.product__price
					h6 $10,999
					//.product__specs

				.product__tags
					.product__tag(data-ng-repeat='tag in product.tags')
						h5(data-ng-bind='tag')

				.product__designer
					.product__picture
						img(src='public/images/jeweller.jpg')

					.product__name
						h5 Designer Name

					.product__view
						h6 View