.block
	.block__container
		.container
			.designer
				.designer__view
					.designer__headshot
						h4 IMAGE
						.designer__thumbnails
							.designer__thumbnail
								h4 THUMBNAIL
							.designer__thumbnail
								h4 THUMBNAIL
							.designer__thumbnail
								h4 THUMBNAIL
					.designer__information
						.designer__profile
							h1 Justin Test
						//.designer__quote
							h3 "Some quote here..."
						.designer__social
							.social
								h6 Facebook
							.social
								h6 Instagram
							.social
								h6 LinkedIn
						.designer__biography
							h5 This is a biography. This is a biography. This is a biography. This is a biography. This is a biography. This is a biography. This is a biography. This is a biography. This is a biography. This is a biography. This is a biography. This is a biography. This is a biography. This is a biography. This is a biography.  This is a biography. This is a biography. This is a biography. This is a biography. This is a biography.
					.designer__certificates
						h1 Certificates
						.designer__certificate
							h4 Certified Jewellery Retail Professional Program (CJRP)
							h5 Canadian Jewellers Association, 2000-2003
						.designer__certificate
							h4 JETS Course (CJA-GJ)
							h5 Canadian Jewellers Association, 2000-2003
						//.designer__certificate
							h4 Accredited Appraiser Program (AAP)
							h5 Canadian Jewellers Association, 2000-2003
						.designer__certificate
							h4 IAS Sales Training
							h5 Canadian Jewellers Association, 2000-2003
						//.designer__certificate
							h4 Master Valuer™ Professional Jewellery Appraisal Program
							h5 Canadian Jewellers Association, 2000-2003
						//.designer__certificate
							h4 Olive Frame Gemological Seminars
							h5 Canadian Jewellers Association, 2000-2003
					.filter
						.filter__square
							.filter__select
								.filter__title
									h5 Type

								.filter__value
									select
									.filter__mask
										h4 #[span.fa.fa-caret-down]

							.filter__select
								.filter__title
									h5 Make

								.filter__value
									select
									.filter__mask
										h4 #[span.fa.fa-caret-down]

							.filter__select.stone
								.filter__title
									h5 Stone

								.filter__value
									select.stone
									.filter__mask.stone
										h4 #[span.fa.fa-caret-down]

							.filter__filter
								.filter__title
									h5 Filter
								input(placeholder='Enter Search')
				.designer__items
					.designer__item
						h4 Item 1
					.designer__item
						h4 Item 2
					.designer__item
						h4 Item 3
					.designer__item
						h4 Item 4
