.block
	.block__container
		.container
			.top
				.about__row
					h1 SAY HELLO TO YOUR FUTURE ENGAGEMENT AND WEDDING RINGS
				.about__row
					p Take the time to learn about what kind of stone, and band you would like.
				.about__row
					p Take the time to learn about what kind of stone, and band you would like.

			.testimonials
				.testimonial
					.about__row
						p "This is a testimonial because I love learning"
					.about__row
						h3 Catherine Simpson
				.testimonial
					.about__row
						p "This is a testimonial because I love learning"
					.about__row
						h3 Andrew James
				.testimonial
					.about__row
						p "This is a testimonial because I love learning"
					.about__row
						h3 Michael Buble
				.testimonial
					.about__row
						p "This is a testimonial because I love learning"
					.about__row
						h3 Sarah Peterson
