.about
	width 1024px
	padding 20px 0 0 0

	&__title
		width 100%

		h1
			margin 0 0 20px 0
			font-size 28px
			line-height 28px

	&__stars
		margin 0 0 20px 0

		h4
			font-size 18px
			line-height 18px

	&__intro
		margin 0 0 20px 0

		h2
			font-size 18px
			line-height 18px

	&__description
		width 984px
		padding 0 20px
		margin 0 0 20px 0

		h5
			font-size 19px
			line-height 29px

	&__testimonials
		width 1005px
		padding-left 19px

	&__testimonial
		width 277px
		padding 18px 20px 14px 20px
		margin 0 15px 20px 0

	&__row
		width 100%

		h3
			font-size 20px
			line-height 20px

		p
			margin 0 0 10px 0
			font-size 19px
			line-height 29px