nav
	margin 14px 0 0 0

.header
	width 1024px

	&__content
		padding 0 0 8px 0

	&__map
		width 310px
		height 80px
		margin 0

	&__logo
		width 280px
		height 70px
		margin 10px 40px 0 30px

	&__information
		width 130px
		height 80px
		margin: 0 20px 0 0

		h4
			font-size 14px
			line-height 26px

	&__hours
		width 164px
		height 80px
		margin 0 20px 0 0

	&__contact
		width 171px
		height 80px

	&__button
		height 32px
		margin 0 5px

		h2
			padding 0 16px
			font-size 17px
			line-height 33px

	&__button.hide
		display inline-block

	&__spacer
		display block

.sub
	padding 0
	margin 0

	&__container
		height 28px
		padding 10px 0
		margin 0

	&__button
		height: 28px
		padding 0 10px
		margin 0 10px
		border-radius 4px

		h6
			font-size 16px
			line-height 28px

	&__button.active
		background $button-active
		border-bottom $button-active-border-bottom

	&__tertiary
		height 44px