nav
	margin 20px 0 0 0

.header
	width 1024px

	&__container
		margin 0

	&__content
		padding 10px 0 6px 0

	&__navigation
		display none

	&__logo
		width 240px
		height 60px
		margin 0 0 0 40px

	&__information
		display block
		float left
		width 511px
		height 80px

		h4
			float left
			width 100%
			padding: 0
			margin 0
			font-family "le-monde-livre-classic-byol", sans-serif
			font-weight 400
			font-size 14px
			line-height 26px
			color $white

	&__column
		float left
		width 200px
		height 80px
		margin 10px 0 0 0
		text-align center

	&__phone
		float left
		width 100%

		.fa-phone
			margin 1px 8px 0 0
			font-size 15px
			color $white

	&__address
		float left
		width 100%

		.fa-map-marker
			margin 1px 8px 0 0
			font-size 15px
			color $white

	&__hours
		float left
		width 130px
		height 80px
		margin 10px 10px 0 0
		text-align center

	&__contact
		float left
		width 171px
		height 80px
		background $white

		h4
			color $black

	&__buttons
		text-align center
		margin 0

	&__button
		height 32px
		margin 0 5px

		h2
			padding 0 12px
			font-size 17px
			line-height 33px

	&__button.hide
		display inline-block

	&__spacer
		display block

	&__secondary
		display block
		float left
		width 100%
		height 44px
		background $header-secondary
		border-bottom $grey-border-bottom
		text-align center

	&__links
		display inline-block
		padding 0 0 0 188px
		height 100%

	&__link
		float left
		height 100%
		margin 0 28px 0 0

		h6
			float left
			width 100%
			font-family "le-monde-livre-classic-byol", sans-serif
			font-weight 400
			font-size 16px
			line-height 44px
			color $white
			text-shadow $white-shadow

		h6.active
			color $white

	&__tertiary
		display block
		float left
		width 100%
		height 44px
		background $header-tertiary
		border-top $black-border
		text-align center