.main
	float left
	width 100%

	&__holder
		position relative
		width 320px
		margin 0 auto

	&__video // aspect ratio: 5:3
		width 100%
		height 192px
		margin 0 0 20px 0
		background #7b7276
		opacity 0.9

		iframe
			width 100%
			height 100%

	&__banner
		float left
		width 290px
		height 75px
		padding 0 15px
		margin 0 0 20px 0
		background #DD7A64
		text-align center

		h1
			padding 0
			margin 0
			font-style italic
			font-size 22px
			line-height 75px

	&__squares
		float left
		width 320px
		padding 0 0 30px 0
		margin 0

	&__square
		float left
		width 290px
		height 300px
		padding 0 15px
		margin 0 0 15px 0
		background #e6ffca
		text-align center

		h1
			width 100%
			padding 15px 0
			margin 0
			font-size 24px
			line-height 24px

		p
		li
			font-size 17px
			line-height 21px

.search
	display none

