.product-view
	float left
	width 100%

	&__container
		position relative
		float none
		width 300px
		padding 20px 10px 0 10px
		margin 0 auto

	&__images
		float left
		width 300px
		margin 0 10px 30px 0

		img
			width 100%
			height 100%

	&__image
		float left
		width 228px
		height 205px
		margin 0 10px 10px 0
		text-align center
		border 1px solid #c1c1c1

	&__thumbnails
		position relative
		display inline-block
		height 60px
		padding 0

	&__thumbnail
		width 54px
		height 56px
		padding 0 2px
		margin 0 0 15px 0
		border 1px solid #c1c1c1

	&__information
		float left
		width 300px
		margin 0 10px 30px 0
		text-align center

	&__title
		float left
		width 200px
		height 65px
		margin 0
		text-align center

		p
			padding 0
			margin 0
			font-size 28px
			line-height 28px

	&__price
		float left
		width 100px
		height 35px
		margin 0
		text-align center

		p
			padding 0
			margin 0
			font-size 20px
			line-height 20px

	&__share
		float right
		width 100px
		height 30px
		margin 0 0 15px 0
		padding 0
		background: #6fa256

	&__icon
		display inline-block
		float left
		width 28px
		height 28px
		margin 0 0 0 5px
		background: #7eb871
		border-radius 1000px

	&__table
		float left
		width 100%
		height 122px
		margin 0 0 10px 0
		border 1px solid black
		border-right none

	&__row
		float left
		width 100%
		height 40px
		border-bottom 1px solid black

	&__cell
		float left
		width 149px
		height 100%
		background white
		border-right 1px solid black

		p
			padding 0
			margin 0
			font-size 15px
			line-height 15px

	&__detail
		float left
		width 100%
		margin 0 0 10px 0
		text-align left

	&__jeweller
		float left
		width 280px
		padding 12px 10px 12px 10px
		background #DFEDFB

	&__avatar
		float left
		width 86px
		height 86px
		margin 0 7px 19px 0

		img
			width 100%
			height 100%
			border-radius 1000px

	&__name
		float left
		width 187px
		height 43px
		margin 0 0 10px 0

		p
			padding 0
			margin 0
			font-size 22px
			line-height 22px

	&__socials
		float left
		width 157px
		height 30px
		margin 0 0 12px 0

	&__social
		float left
		width 30px
		height 30px
		margin 0 15px 0 0
		background #00A1FB
		border-radius 1000px

	&__description
		float left
		width 270px
		padding 0 5px
