footer
	position relative
	width 100%
	padding 0
	margin 0

.footer
	float left
	width: 100%
	padding 10px 0
	margin: 0
	background $primary

	&__container
		position relative
		width 290px
		padding 0
		margin 0 auto

	&__row
		float left
		width 290px
		padding 0
		margin 0 auto
		background $white

	&__map
		float left
		width 290px
		height 196px
		margin 0
		border-radius 4px
		background $white
		text-align center

		h1
			padding 0
			margin 0
			width 100%
			line-height 160px

	&__column
		float left
		width 125px
		height 100%
		padding 0
		margin 0 0 0 20px
		text-align center
		background $white

	.column__title
		float left
		width 100%
		text-align left

		h1
			width 100%
			font-family 'usual', sans-serif
			font-size 18px
			line-height 28px

	.column__list
		float right
		width 100%
		text-align left

	.column__item
		float left
		width 100%
		padding 5px 0
		margin 0 0 10px 0

		p
			float left
			width 100%
			padding 0
			margin 0
			font-size 16px
			line-height 16px