.error
	float left
	width 100%

	&__holder
		position relative
		width 320px
		margin 0 auto
		text-align center

	&__button
		position relative
		float none
		width 100%
		margin 0 0 0 31px

		h1
			float left
			width auto
			padding 10px 20px
			color $white
			background $black
			border-radius 4px