.products
	position relative
	width 100%
	padding 0
	margin 0 auto
	text-align center

	&__holder
		position relative
		display inline-block
		width 295px
		padding 0 0 0 25px

.product
	float left
	width 268px
	padding 0
	margin 0 0 15px 0
	background $white
	border $black-border
	border-radius 2px

	&__picture
		float left
		width 168px
		padding 0
		margin 0 0 0 50px
		background $white

		img
			float left
			width 168px
			height 168px

	&__detail
		float left
		width 238px
		padding 10px 15px 8px 15px
		margin 0
		background #e0e0e0e0

		h6
			float left
			width 100%
			font-size 15px
			line-height 15px
			font-weight 400

	&__title
		float left
		width 100%
		padding 0
		margin 0 0 14px 0
		text-align center

		h6
			width 222px
			padding 0 8px 4px 8px
			font-size 18px

	&__collection
		float left
		width 100px
		padding 0
		margin 0 0 12px 0
		text-align left

		h6
			font-size 14px
			line-height 20px

	&__price
		float right
		width 55px
		padding 0
		margin 0 0 12px 0
		text-align right

		h6
			line-height 20px

	&__tags
		float left
		width 100%
		padding 0
		margin 0

	&__tag
		float left
		padding 3px 4px
		margin 0 3px
		background $black
		border $black-border
		border-radius 4px
		text-align center

		h5
			float left
			width 100%
			font-size 12px
			line-height 12px
			font-weight 400
			color $white