.products
	width 100%
	padding 0
	margin 0 auto
	text-align center

	&__holder
		position relative
		display inline-block
		width 295px
		padding 0 0 0 25px

.product
	float left
	width 268px
	padding 0
	margin 0 0 15px 0
	background $white
	border $black-border

	&__picture
		float left
		width 168px
		padding 0
		margin 0 0 0 50px
		background $white

		img
			float left
			width 168px
			height 168px

	&__detail
		float left
		width 263px
		padding 10px 0 7px 5px
		margin 0
		background #580

		h6
			float left
			width 100%
			font-size 15px
			line-height 15px
			font-weight 400

	&__title
		float left
		width 171px
		padding 0
		margin 0 0 10px 0
		text-align center

	&__price
		float left
		width 92px
		padding 0
		margin 0 0 12px 0
		text-align center

	&__tags
		float left
		width 258px
		padding 0
		margin 0

	&__tag
		float left
		padding 4px
		margin 0 10px 5px 0
		background $white
		border $black-border
		border-radius 4px
		text-align center

		h5
			float left
			width 100%
			font-size 14px
			line-height 14px
			font-weight 400