.press-view
	float left
	width 320px
	margin 20px 0 0 0

	&__container
		position relative
		float none
		width 320px
		margin 0 auto

	&__heading
		float left
		width 300px
		margin 0 0 0 10px
		text-align center

		h1
			width 100%
			font-size 32px

	&__content
		float left
		width 298px
		padding 10px
		margin 0 0 15px 0
		background $white
		border $black-border
		text-align center

		p
			float left
			font-size 18px
			line-height 25px

	&__video
		float left
		width 320px
		height 180px
		background $grey
		text-align center
		margin 0 0 15px 0

	&__article
		float left
		width 320px
		height 200px
		background $grey
		text-align center
		margin 0 0 15px 0

	&__details
		float left
		width 100%
		margin 0 0 15px 0
		text-align center

	&__row
		float left
		width 100%

	&__row-mobile
		float left
		width 100%

	&__square
		float left
		width 50%

	&__square-large
		display none

	&__title
		width 100%
		text-align center

	&__center
		display inline-block
		margin 0 0 4px 0

		h6
			float left
			padding 0 8px 6px 8px
			margin 0
			font-size 16px
			line-height 16px
			color $black
			border-bottom $black-border-bottom

	&__value
		display inline-block
		padding 0 16px
		margin 0 0 5px 0
		height 40px
		background $icon
		border-bottom $black-border-bottom
		border-radius 4px
		text-align center

		h6
			float left
			width 100%
			font-size 16px
			line-height 40px
			color $white

	&__value.icon
		float right
		margin 0 0 0 4px
		padding 0 4px

	&__icons
		position relative
		display inline-block

		.fa-twitter
		.fa-google-plus
		.fa-pinterest-p
		.fa-envelope
			margin 0 4px
			color $white
			font-size 17px
			line-height 40px