.designers
	float left
	width 310px
	margin 30px 0 0 10px

	&__square
		float left
		width 298px
		height 298px
		padding 0
		margin 0 0 20px 0
		border $black-border
		border-radius 4px

	&__left
		float left
		width 100px
		height 278px
		padding 10px 0
		display inline-block
		background #f2f2f2

	&__profile
		float left
		width 80px
		padding 10px
		margin 0

	&__picture
		float left
		width 78px
		height 78px
		padding 0
		margin 0
		background $white
		border $black-border
		border-radius 1000px

		img
			float left
			width 100%
			border-radius 1000px

	&__contact
		float left
		width 80px
		padding 10px
		margin 0

	&__phone
		float left
		width 78px
		height 38px
		padding 0
		margin 0 10px 0 0
		border $black-border
		background $white
		text-align center

		h5
			float left
			width 100%
			font-size 14px
			line-height 38px

	&__email
		float left
		width 78px
		height 37px
		padding 0
		margin 0
		background $white
		border $black-border
		text-align center

		h5
			float left
			width 100%
			font-size 14px
			line-height 37px

	&__certificates
		float left
		width 80px
		padding 10px
		margin 0

	&__certificate
		float left
		width 78px
		height 37px
		padding 0
		margin 0
		background $white
		border $black-border
		text-align center

		h2
			float left
			width 100%
			font-size 14px
			line-height 37px

	&__top
		float left
		width 198px
		height 130px
		padding 10px 0
		display inline-block
		background #580

	&__title
		float left
		width 168px
		padding 0 15px
		margin 0 0 10px 0

	&__name
		float left
		width 100%
		text-align left

		h2
			float left
			width 100%
			font-size 20px
			line-height 40px

	&__specialties
		float left
		width 183px
		padding 0 0 0 15px

	&__specialty
		float left
		width 78px
		height 28px
		margin 0 10px 10px 0
		background $white
		border $black-border
		text-align center

		h4
			float left
			width 100%
			font-size 14px
			line-height 28px

	&__bottom
		float left
		width 198px
		height 130px
		padding 10px 0
		background #ff23
		display inline-block

	&__brief
		float left
		width 178px
		padding 0 10px
		text-align left

		p
			float left
			width 100%
			font-size 12px
			line-height 20px

	&__signature
		position absolute
		width 110px
		height 30px
		margin 103px 0 0 73px
		background $black
		border-radius 4px
		text-align center

		img
			float left
			width 100%
			height 100%

.designer
	float left
	width 100%

	&__container
		position relative
		float none
		width 320px
		margin 0 auto

	&__items
		float left
		width 320px
		padding 0
		margin 0

	&__item
		float left
		width 320px
		height 190px
		margin 0 0 20px 0
		background #abcdef
		border-radius 4px
		text-align center

		h4
			float left
			width 100%
			font-size 30px
			line-height 190px
