header
	float left
	width 100%
	padding 0
	margin 0
	z-index 2

.header
	position relative
	float none
	width 320px
	padding 0 0 8px 0
	margin 0 auto
	border-top none
	z-index 900

	&__nav
		float left
		width 300px
		padding 10px 10px 8px 10px
		background #2E3A44

	&__logo
		float left
		width 200px
		padding: 0
		margin 0

		img
			width 100%
			height 100%

	&__navigation-icon
		float right
		width 36px
		height 36px
		margin 13px 0 0 10px
		background $accent
		border-radius 4px
		text-align center

		.fa-bars
			margin 0
			font-size 19px
			line-height 35px
			color $white

	&__search-icon
		float right
		width 36px
		height 36px
		margin 13px 0 0 0
		background $accent
		border-radius 4px
		text-align center

		.fa-search
			margin 0
			font-size 18px
			line-height 35px
			color $white

	&__information
		display none

	&__secondary
		display none

	&__tertiary
		display none

	&__navigation
		float right
		margin 0
		border-radius 0 0 4px 0
		display none

	&__tile
		float left
		padding 0 16px
		margin 0 12px 0 0
		background $black
		border-radius 4px
		text-align center

		p
			float left
			width 100%
			font-size 16px
			color $white

	&__tile.active
		background $accent

	//&__search
	//	float left
	//	margin 0
	//	background #E98A61
	//	border $black-border
	//	border-radius 4px
	//	display none
	//
	//&__input
	//	float left
	//	width 310px
	//	height 41px
	//
	//	input
	//		background $white
	//		outline none
	//		border none
	//		border-radius 4px
	//		width 260px
	//		height 100%
	//		padding 0 0 0 50px
	//
	//&__submit
	//	position absolute
	//	float none
	//	width 30px
	//	height 41px
	//	padding 0 5px
	//	background $accent
	//	text-align center
	//
	//	.fa-search
	//		margin 8px 0 0 0
	//		font-size 20px
	//		line-height 20px
	//		color $white