header
	.header
		.header__secondary
			.header__links
				.header__link(ui-sref='app.public.repair.land' ui-sref-active='active')
					p Checking
				.header__link(ui-sref='app.public.repair.land.cleaning' ui-sref-active='active')
					p Cleaning
				//.header__link(ui-sref='app.public.repair.land.gluing' ui-sref-active='active')
					p Gluing
				.header__link(ui-sref='app.public.repair.land.refinishing' ui-sref-active='active')
					p Refinishing
				.header__link(ui-sref='app.public.repair.land.repolishing' ui-sref-active='active')
					p Repolishing
				.header__link(ui-sref='app.public.repair.land.sizing' ui-sref-active='active')
					p Ring Sizing
				.header__link(ui-sref='app.public.repair.land.soldering' ui-sref-active='active')
					p Soldering

div(data-ui-view='content')