.error
	.error__holder
		.error__title
			h1 PAGE NOT FOUND!
		.error__paragraph
			p The page you are looking for #[span has been moved] OR #[span does not exist]...
		.error__button(ui-sref="app.public.index")
			h1 Home Page